@import '../../../../theme/variables';

.qr-container {
  text-align: center;
  margin-bottom: 24px;

  .qr {
    height: 180px;
    width: 180px;
    display: inline-block;
  }
}

.separator {
  background-color: $grey-light;
  height: 1px;
  width: 100%;
}

.data-container {
  margin: 14px 0;

  .title {
    color: $grey;
  }

  .data {
    color: $black;
    cursor: pointer;

    .text {
      margin-right: 5px;
    }

    .copy {
      opacity: 0.25;
    }
  }

  .data:hover {
    .copy {
      opacity: 0.75;
    }
  }

  .data:active {
    .copy {
      opacity: 1;
    }
  }
}
