@import '../../../../../../theme/_variables.scss';

.dashed-border {
  border: rgba(0, 0, 0, 0.25) dashed 1px;
}

.show-pointer {
  cursor: pointer;
}

.non-editable-field {
  font-size: 12px;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  color: $black;

  .text-with-icon-container {
    display: inline-flex;
    align-items: center;

    mat-icon {
      margin-right: 5px;
      opacity: 1;
    }

    .green {
      color: $green;
    }

    .yellow {
      color: $yellow;
    }
  }
}

.normal-seed-field {
  font-size: 14px;
}

.seed-type-button {
  width: 100%;
  height: 10px;
  text-align: right;

  > div {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    left: 16px;
    top: -10px;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      background-color: darken(white, 3%);
    }

    > img {
      width: 32px;
      height: 32px;
    }
  }
}

.onboarding-version {
  border: rgba(255, 255, 255, 0.5) dashed 1px;
  color: #fff;
}

.transparent-text {
  opacity: 0.75;
}

.red-disclaimer-box {
  color: $red;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.5;
}

.white-disclaimer-box {
  color: $white;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.5;
}

label[for=seed] {
  display: flex;

  > span:last-child {
    flex: 1;
  }

  .generators {
    text-align: right;

    .divider {
      padding: 0 5px;
      color: $grey-dark;
    }
  }

  .-white-text {
    span {
      color: white !important;
    }
  }
}

.-passwords {
  margin-left: 24px;

  .-info {
    margin: 5px 0 15px;
    color: $grey;
    font-size: 12px;
    line-height: 1.5;
  }
}

.-check ::ng-deep {
  .mat-checkbox-checkmark-path {
    position: absolute;
    width: 18px;
    height: 8px;
    left: 4.59px;
    top: 9px;
    stroke: $main-color !important;
  }

  .mat-checkbox-background, .mat-checkbox-frame {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background: rgba(30, 34, 39, 0.05);
    border-radius: 6px;
    border-color: transparent;
  }
  span {
    font-family: Skycoin;
    line-height: normal;
    font-size: 14px;

    color: $grey-dark;

    img {
      width: 38px;
      height: 38px;
      vertical-align: middle;
    }
  }
}
