@import '../../../../../../theme/_variables.scss';

$dashed-border-size: 2px;
$gray-dashed-border: $grey-very-light dashed $dashed-border-size;
$white-dashed-border: rgba(255, 255, 255, 0.25) dashed $dashed-border-size;
$lock-icon-size: $normal-icon-size;

.main-container {
  font-size: $font-size-standard-minus;
}

.dashed-border {
  border: $gray-dashed-border;
}

.show-pointer {
  cursor: pointer;
}

.non-editable-field {
  text-align: center;
  padding: 15px;
  border-radius: $input-border-radius;
  color: $black;

  .text-with-icon-container {
    display: inline-flex;
    align-items: center;

    mat-icon {
      margin-right: 5px;
      opacity: 1;
    }
  }
}

.normal-seed-field {
  font-size: $font-size-standard-plus;
}

.seed-type-button {
  text-align: right;
  position: relative;
  top: 2px;

  mat-icon {
    position: relative;
    top: 2px;
  }
}

.onboarding-version {
  border: $white-dashed-border;
  color: $white;
}

.transparent-text {
  opacity: 0.75;
}

.disclaimer-box {
  padding: 0 10px;
  line-height: 1.5;
}

label[for=seed] {
  display: flex;

  > span:last-child {
    flex: 1;
  }

  .generators {
    text-align: right;

    .divider {
      padding: 0 5px;
      color: $black;
    }
  }
}

.-white-text {
  color: $white !important;

  span {
    color: $white !important;
  }
}

.-passwords {
  margin-left: 24px;

  .-info {
    margin: 5px 0 15px;
    color: $grey;
    line-height: 1.5;
  }
}

.seed-spinner {
  height: 0px;
  position: relative;
  top: 2px;
  left: 2px;

  mat-spinner {
    position: absolute;
    height: 10px !important;
    width: 10px !important;

    ::ng-deep svg {
      height: 10px !important;
      width: 10px !important;
    }
  }
}

.white-mat-spinner {
  ::ng-deep svg {
    circle {
      stroke: $white;
    }
  }
}

.assisted-seed-spinner {
  top: -14px !important;
  left: -14px !important;
}
