<!--
  IMPORTANT: Unused for a long time, it may need changes to work properly.
-->
<p>{{ 'buy.deposit-address' | translate }}</p>
<div [formGroup]="form">
  <mat-select formControlName="address" [placeholder]="'buy.select-address' | translate" class="input-field">
    <mat-option *ngFor="let address of walletService.allAddresses() | async" [value]="address.address">
      {{ address.address }}
    </mat-option>
  </mat-select>
</div>
<div class="button-line">
  <a mat-raised-button (click)="generate()">{{ 'buy.generate' | translate }}</a>
</div>
