/* app css stylesheet */
html,body{
    height: 100%
}

tr{
  border:1px dashed #ddd;
}
td{
  padding:5px;
}

#sky-header{
  width: 100%;
  background: #dbe1e6 url("../img/skycoin_logo.png") 14px 12px no-repeat;
  height: 10%;
  min-height:60px;
}

#main-content{
  max-width:800px;
}

#send-table{
  width:100%;
  text-align:left;
}
  .send-pay-col1{
    width:92px;
  }
  #send-table td{
    text-align:left;
  }

#send_pay_to{
  float:right;
  width:100%;
}

#send_label{
  float:right;
  width:100%;
}
#send_amount{
  width:20%;
}

#overview-title{

}

#transaction-table{
  width:100%;
  border: 1px solid #ddd;
}

label {
  float:left;
}

.outline{
  border: 1px solid #ddd;
  padding:10px;
  border-top: 0px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}

.nav, .pagination, .carousel a { cursor: pointer; }
#sky-center {
  position:relative;
  height:78%;
  padding:15px;
}

#sky-footer{
  width: 100%;
  height: 12%;
  bottom:0;
  margin-top:20px;
  background-color:#dbe1e6;
}
.background-cloud-1{
  position:absolute;
  color:#dbe1e6;
  bottom:0;
  right:0;
  font-size:350px;
  opacity:.5;
}
.background-cloud-2{
  position:absolute;
  color:#dbe1e6;
  bottom:30px;
  right:30px;
  font-size:300px;
  opacity:.5;
}
.background-cloud-3{
  position:absolute;
  color:#dbe1e6;
  bottom:-200px;
  right:30px;
  font-size:500px;
  opacity:.3;
  -webkit-transform: scaleX(-1);
  -webkit-animation-name: floatOne;
  -webkit-animation-duration: 40s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

@-webkit-keyframes floatOne{
  0%   {bottom:-250px;}
  50%  {bottom:-200px;}
  100% {bottom:-250px;}
}