/* app css stylesheet */
html,body{
    height: 100%
}

#sky-header{
  width: 100%;
  background: #dbe1e6 url("../img/skycoin_logo.png") 14px 12px no-repeat;
  height: 10%;
  min-height:60px;
}

#send_pay_to{
  float:right;
  width:100%;
}

#send_label{
  float:right;
  width:100%;
}
#send_amount{
  float:right;
  width:20%;
}

label {
  float:left;
}

.outline{
  border: 1px solid #ddd;
  padding:10px;
  border-top: 0px;
}

.nav, .pagination, .carousel a { cursor: pointer; }
#sky-center {
  position:relative;
  height:78%;
  padding:15px;
}

#sky-footer{
  width: 100%;
  height: 12%;
  bottom:0;
  margin-top:20px;
  background-color:#dbe1e6;
}