@import '../../../../theme/variables';

.-paper {
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  padding: 30px;
  margin: 30px 30px 10px;
}

.-contact {
  margin: 15px 30px;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 13px;
    margin: 0 5px;
    opacity: .5;
    display: inline-block;
    vertical-align: middle;

    a {
      text-decoration: none;
      color: $blue;
    }
  }

  .history {
    opacity: 1;
  }

  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  .history-text {
    font-size: 14px;
    opacity: 1;
  }
}
