@import '../../../../theme/variables';

.-contact {
  margin: 15px 30px;
  display: flex;
  justify-content: space-between;

  span {
    font-size: $font-size-standard;
    margin: 0 5px;
    opacity: .5;
    vertical-align: middle;
  }

  .history {
    opacity: 1;
  }

  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  .history-text {
    font-size: $font-size-standard-plus;
    opacity: 1;
  }
}
