<app-header [headline]="'title.exchange' | translate"></app-header>
<div class="container">
  <div class="-paper">
    <app-exchange-create
      *ngIf="!currentOrderDetails && !loading"
      (submitted)="showStatus($event)"
    ></app-exchange-create>

    <app-exchange-status
      *ngIf="currentOrderDetails && !loading"
      [orderDetails]="currentOrderDetails"
      (goBack)="goBack()"
    ></app-exchange-status>
  </div>
  <div class="-contact">
    <div>
      <span *ngIf="hasHistory" class="history">
        <a href="#" (click)="showHistory($event)"><mat-icon>history</mat-icon> <span class="history-text">{{ 'exchange.history' | translate }}</span></a>
      </span>
    </div>
    <div>
      <span>
        {{ 'exchange.need-help' | translate }}
        <a href="https://swaplabcc.freshdesk.com/support/home" target="_blank" rel="noreferrer nofollow">
          {{ 'exchange.support-portal' | translate }}
        </a>
      </span>
      <span>|</span>
      <span>
        {{ 'exchange.powered-by' | translate }}
        <a href="https://swaplab.cc" target="_blank" rel="noreferrer nofollow">SWAPLAB.CC</a>
      </span>
    </div>
  </div>
</div>
