@import '../../../../theme/variables';

.-paper {
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  padding: 30px;
  margin: 30px 30px 10px;
}

.-contact {
  margin: 0 30px;
  display: flex;
  justify-content: flex-end;

  span {
    font-size: 13px;
    margin: 0 5px;
    opacity: .5;

    a {
      text-decoration: none;
      color: $blue;
    }
  }
}
