.modal-header
  button.close(type="button" ng-click="cancel()") &times;
  h4.modal-title Create a new wallet

.modal-body
  h5 Are you sure to create a new wallet?

.modal-footer
  button.btn.btn-default(type="button", ng-click="ok()") OK
  button.btn(type="button", ng-click="cancel()") Cancel
