@import '../../../../../../../theme/variables';

mat-form-field {
  width: 100%;
}

.-buttons {
  text-align: center;
}

mat-icon {
  display: inline;
  font-size: 14px;
  color: lighten($grey, 40%);
  vertical-align: text-bottom;
  padding-left: 5px;
}