<div class="sky-container sky-container-grey">
  <app-header [coins]="coins" [hours]="hours" title="Wallets" class="front-page"></app-header>
  <div class="container">
    <div class="-headers">
      <div class="-width-250">Wallet</div>
      <div class="flex-fill">Encryption</div>
      <div class="-width-150">SKY Hours</div>
      <div class="-width-150">Balance</div>
    </div>
    <div class="-wallets">
      <ng-container *ngFor="let wallet of walletService.all() | async">
        <div class="-wallet" (click)="openWallet(wallet)">
          <div class="-width-250 -label">{{ wallet.label }}</div>
          <div class="flex-fill -encryption">ENCRYPTION</div>
          <div class="-width-150 -hours">{{ wallet.hours ? wallet.hours : 0 }}</div>
          <div class="-width-150 -coins">{{ wallet.coins ? wallet.coins : 0 }}</div>
          <img src="../../../../assets/img/chevron-right-grey.png">
        </div>
      </ng-container>
    </div>
    <div class="action-buttons">
      <button md-button (click)="addWallet()">
        <img src="../../../../assets/img/plus-gold.png"> Add Wallet
      </button>
      <button md-button (click)="loadWallet()">
        <img src="../../../../assets/img/load-gold.png"> Load Wallet
      </button>
    </div>
  </div>
</div>
