@import '../../../../theme/_variables.scss';

/deep/ app-header.front-page .large-header {
  height: 230px;
}

.flex-100 {
  width: 100px;
}

.grid-headers {
  background-color: $grey-light;
  border-bottom: 1px solid #eff0f0;
  color: rgba(30, 34, 39, 0.2);
  display: flex;
  font-size: 12px;
  line-height: 50px;
  padding: 0 $row-height 0 20px;
  height: 50px;
}

.grid-row {
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  cursor: pointer;
  display: flex;
  font-size: $font-size-standard;
  line-height: $row-height;
  min-height: $row-height;
  padding-left: 20px;

  .label {
    color: black;
    font-weight: 700;
  }

  .hours {
    color: rgba(30, 34, 39, 0.5);
  }

  .coins {
    color: black;
  }

  > img {
    display: inline-block;
    margin: ($row-height - $row-detail-size) / 2;
    margin-left: 0;
    height: $row-detail-size;
    width: $row-detail-size;
  }
}

.action-buttons {
  margin-bottom: 74px;
  padding: 40px 0 40px;
  text-align: center;

  button {
    background-color: $grey-light;
    border: none;
    box-shadow: none;
    color: $grey-dark;
    font-size: 13px;
    margin: 0 5px;
    min-width: 140px;

    img {
      height: 28px;
      margin-left: -4px;
      width: 28px;
    }
  }
}

span {
  display: inline-block;
  width: 50%;
}
