@import '../../../../theme/variables';

.-width-85 {
  padding-right: $main-containers-small-padding !important;
}

.-width-250 {
  padding-left: $main-containers-small-padding !important;
}

.-headers {
  > div {
    padding: 0px;
  }
}

.-body {
  margin-bottom: 10px;
  color: $black;
  background-color: transparent !important;

  .-row {
    font-size: $font-size-standard;
    line-height: 60px;
    height: 60px;
    background-color: $white;
    cursor: pointer;

    > div {
      padding: 0px;
    }

    .-hours {
      color: $grey;
      text-align: right;
    }

    .-coins {
      text-align: right;
    }

    .-encryption {
      padding-left: 20px !important;

      img {
        border-radius: 50%;
        background-color: $grey-lightest;
        display: inline-block;
        height: 38px;
        padding: 3px;
        width: 38px;
      }
    }

    .-expand {
      display: flex;
      justify-content: flex-end;

      img {
        width: 32px;
        height: 32px;
        opacity: 0.7;
      }
    }

    &:hover {
      background-color: $white-hover;

      .-expand img {
        opacity: 1;
      }

      .-encryption img {
        background-color: darken($grey-lightest, 1%);
      }
    }
  }
}

.action-buttons {
  padding: 40px 0;
  text-align: center;

  button {
    color: $grey;
    font-size: $font-size-standard;
    margin: 0 5px;
    min-width: 140px;

    img {
      height: 28px;
      margin-left: -4px;
      width: 28px;
    }
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}
