@import '../../../../theme/variables';

.-width-130 {
  width: 130px;
  flex-shrink: 0;
}

.-width-250 {
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
}

.-headers {
  color: $grey-light;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 130px 0 50px;
}

.-wallets {
  margin: 0 30px;
}

.-body {
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  margin: 0;
  margin-bottom: 10px;
}

.-wallet {
  background-color: $white;
  border-bottom: 1px solid rgba(30, 34, 39, 0.05);
  display: flex;
  font-size: $font-size-standard;
  line-height: 60px;
  height: 60px;
  padding-left: 20px;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .-label {
    color: $grey-dark;
  }

  .-hours {
    color: $grey;
    text-align: right;
  }

  .-coins {
    color: $grey-dark;
    text-align: right;
  }

  .-encryption {
    padding-left: 20px;

    img {
      border-radius: 50%;
      background-color: $grey-lightest;
      display: inline-block;
      height: 38px;
      margin: 11px 0;
      padding: 3px;
      width: 38px;
      cursor: pointer;
    }
  }

  .-expand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85px;
    margin-right: 15px;
    flex-shrink: 0;

    img {
      width: $row-detail-size;
      height: $row-detail-size;
      opacity: 0.7;
    }
  }

  &:hover {
    background-color: darken($white, 1%);

    .-expand img {
      opacity: 1;
    }

    .-encryption img {
      background-color: darken($grey-lightest, 1%);
    }
  }
}

.-text-right {
  text-align: right;
}

.action-buttons {
  padding: 40px 0 40px;
  text-align: center;

  button {
    background-color: $grey-lightest;
    border: none;
    box-shadow: none;
    color: $grey;
    font-size: 13px;
    margin: 0 5px;
    min-width: 140px;

    img {
      height: 28px;
      margin-left: -4px;
      width: 28px;
    }
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}
