<div class="row" *ngIf="transaction!=null">
  <h2>Transaction Details</h2>
  <div class="card" *ngIf="block">
    <div class="card-content" >
      <table>
        <tbody >

        <tr>

          <td>Status</td><td>{{ transaction.status?"confirmed":"unconfirmed" }}</td>

        </tr>
        <tr>
          <td>Timestamp</td><td>{{getTime(block.header.timestamp)}}</td>
        </tr>
        <tr>
          <td>Block </td><td><a href="block/{{ transaction.status.block_seq }}">{{ transaction.status.block_seq }}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class=" card col s12">
    <div class="card-title">Transaction id : {{transaction.txn.txid}}</div>
    <div class="col s4">
      <ul class="collection">
        <li class="collection-item"><h5>Inputs</h5></li>
        <li class="collection-item" *ngFor="let input of transaction.txn.inputs">{{input}}</li>

      </ul>
    </div>
    <div class="accent-1 col s1 right-arrow center">
      <i class="material-icons">trending_flat</i>
    </div>

    <div class="col s5">
      <ul class="collection">
        <li class="collection-item"><h5>Outputs</h5></li>
        <li class="collection-item" *ngFor="let output of transaction.txn.outputs"><a href="/address/{{output.dst}}">{{output.dst}}</a></li>
      </ul>
    </div>
    <div class="col s2">
      <ul class="collection">
        <li class="collection-item"><h5>Coins</h5></li>
        <li class="collection-item" *ngFor="let output of transaction.txn.outputs">{{output.coins}}</li>
      </ul>
    </div>
  </div>
</div>

