<div>
  <app-header [headline]="'blockchain.title' | translate"></app-header>

  <app-loading-content *ngIf="!(block && coinSupply)"></app-loading-content>

  <div class="container" *ngIf="block && coinSupply">
    <div class="row -wrapper">
      <!-- Blocks info. -->
      <div class="col-md-6 pl-0">
        <div class="paper">
          <div class="-item">
            <div class="-key">{{ 'blockchain.blocks-label' | translate }}</div>
            <div class="break-all">{{ block.seq | number }}</div>
          </div>
          <div class="-item">
            <div class="-key">{{ 'blockchain.time-label' | translate }}</div>
            <div class="break-all">{{ block.timestamp | dateTime }}</div>
          </div>
          <div class="-item">
            <div class="-key">{{ 'blockchain.hash-label' | translate }}</div>
            <div class="break-all">{{ block.hash }}</div>
          </div>
        </div>
      </div>
      <!-- Supply info. -->
      <div class="col-md-6 pr-0">
        <div class="paper">
          <div class="row">
            <div class="col-md-6">
              <div class="-item">
                <div class="-key">{{ 'blockchain.current-supply-label' | translate:{coinName: appService.coinName} }}</div>
                <app-number-formatter [number]="coinSupply.currentSupply | amount:true:'first'"></app-number-formatter>
              </div>
              <div class="-item">
                <div class="-key">{{ 'blockchain.total-supply-label' | translate:{coinName: appService.coinName} }}</div>
                <app-number-formatter [number]="coinSupply.totalSupply | amount:true:'first'"></app-number-formatter>
              </div>
            </div>
            <div class="col-md-6">
              <div class="-item">
                <div class="-key">{{ 'blockchain.current-coinhour-supply-label' | translate:{coinHoursName: appService.hoursName} }}</div>
                <app-number-formatter [number]="coinSupply.currentCoinhourSupply | amount:false:'first'"></app-number-formatter>
              </div>
              <div class="-item">
                <div class="-key">{{ 'blockchain.total-coinhour-supply-label' | translate:{coinHoursName: appService.hoursName} }}</div>
                <app-number-formatter [number]="coinSupply.totalCoinhourSupply | amount:false:'first'"></app-number-formatter>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Needed to force Chrome respect any previous bottom margin. -->
  <div class="final-element"></div>
</div>
