@import '../../../../../theme/variables';

.-paper {
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  margin: 30px;
  padding: 20px;
  font-size: $font-size-standard;
}

.-item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .-key {
    display: inline-block;
    color: $grey;
  }

  .-value {
    display: inline-block;
  }
}

.-blockchain .-key {
  width: 150px;
}

.-coinsupply {
  .-key {
    width: 170px;
  }

  .-value {
    width: 110px;
    text-align: right;
  }
}
