<app-modal [headline]="title | translate" [dialog]="dialogRef" [disableDismiss]="working">
  <!-- Loading animation. -->
  <app-loading-content
    [isLoading]="currentState === states.Loading"
    [noDataText]="'offline-transactions.loading-problem'"
    *ngIf="currentState === states.Loading || currentState === states.ErrorLoading"
  ></app-loading-content>

  <ng-container *ngIf="currentState === states.ShowingForm">
    <!-- Instructions. -->
    {{ text | translate }}
    <div [formGroup]="form" class="modal-form-container">
      <!-- Dropdown. -->
      <div *ngIf="dropdownElements" class="form-field">
        <label *ngIf="dropdownLabel" for="dropdown" (click)="dropdown.open()">
          {{ dropdownLabel | translate }}
        </label>
        <div class="-select">
          <mat-select
            #dropdown
            formControlName="dropdown"
            id="dropdown"
            [placeholder]="(defaultDropdownText ? defaultDropdownText : '') | translate"
            [attr.disabled]="working ? 'true' : null"
            [appFormFieldError]="dropdownErrorMsg"
            [ngClass]="{'element-disabled' : working}"
            (blur)="markAndValidate('dropdown')"
          >
            <mat-option *ngFor="let element of dropdownElements" [value]="element.value">
              {{ element.name }}
            </mat-option>
            <mat-select-trigger>
              <div *ngIf="this.form.get('dropdown').value">
                {{ form.get('dropdown').value.label }}
              </div>
            </mat-select-trigger>
          </mat-select>
        </div>
      </div>
      <!-- Textarea. -->
      <div class="form-field">
        <label *ngIf="inputLabel" for="input">{{ inputLabel | translate }}</label>
        <textarea *ngIf="!!contents" [readonly]="true" rows="5">{{ contents }}</textarea>
        <textarea
          *ngIf="!contents"
          formControlName="input"
          id="input"
          [attr.disabled]="working ? 'true' : null"
          rows="5"
          [appFormFieldError]="inputErrorMsg"
          (blur)="validate()"
        ></textarea>
      </div>
    </div>
    <!-- Buttons area. -->
    <div class="-buttons">
      <app-button #cancelButton (action)="cancelPressed()" [disabled]="working">
        {{ cancelButtonText | translate }}
      </app-button>
      <app-button #okButton (action)="okPressed()" class="primary-button" [disabled]="(validateForm && !form.valid) || working">
        {{ okButtonText | translate }}
      </app-button>
    </div>
  </ng-container>
</app-modal>
