<app-modal [headline]="title | translate" [dialog]="dialogRef" [disableDismiss]="working">
  <!-- Loading animation. -->
  @if (currentState === states.Loading || currentState === states.ErrorLoading) {
    <app-loading-content
      [isLoading]="currentState === states.Loading"
      [noDataText]="'offline-transactions.loading-problem'"
    ></app-loading-content>
  }

  @if (currentState === states.ShowingForm) {
    <!-- Instructions. -->
    {{ text | translate }}
    <div [formGroup]="form" class="modal-form-container">
      <!-- Dropdown. -->
      @if (dropdownElements) {
        <div class="form-field">
          @if (dropdownLabel) {
            <label for="dropdown">{{ dropdownLabel | translate }}</label>
          }
          <div class="-select">
            <select
              formControlName="dropdown"
              id="dropdown"
              [attr.disabled]="working ? 'true' : null"
              [appFormFieldError]="dropdownErrorMsg"
              (blur)="validate()"
              >
              @if (defaultDropdownText) {
                <option disabled hidden [ngValue]="''">{{ defaultDropdownText | translate }}</option>
              }
              @if (dropdownElements) {
                @for (element of dropdownElements; track element) {
                  <option [ngValue]="element.value">
                    {{ element.name }}
                  </option>
                }
              }
            </select>
          </div>
        </div>
      }
      <!-- Textarea. -->
      <div class="form-field">
        @if (inputLabel) {
          <label for="input">{{ inputLabel | translate }}</label>
        }
        @if (!!contents) {
          <textarea [readonly]="true" rows="5">{{ contents }}</textarea>
        }
        @if (!contents) {
          <textarea
            formControlName="input"
            id="input"
            [attr.disabled]="working ? 'true' : null"
            rows="5"
            [appFormFieldError]="inputErrorMsg"
            (blur)="validate()"
          ></textarea>
        }
      </div>
    </div>
    <!-- Buttons area. -->
    <div class="-buttons">
      <app-button #cancelButton (action)="cancelPressed()" [disabled]="working">
        {{ cancelButtonText | translate }}
      </app-button>
      <app-button #okButton (action)="okPressed()" class="primary-button" [disabled]="(validateForm && !form.valid) || working">
        {{ okButtonText | translate }}
      </app-button>
    </div>
  }
</app-modal>
