<div class="sky-container sky-container-grey">
  <app-header [headline]="'title.wallets' | translate"></app-header>
  <div class="container">
    <div class="-paper">
      @if (showForm && activeForm === activeForms.LeftButton) {
        <app-send-form
          [formData]="formData"
          (onFormSubmitted)="onFormSubmitted($event)">
        </app-send-form>
      }
      @if (showForm && activeForm === activeForms.RightButton) {
        <app-send-form-advanced
          [formData]="formData"
          (onFormSubmitted)="onFormSubmitted($event)">
        </app-send-form-advanced>
      }
      @if (!showForm) {
        <app-send-verify
          [transaction]="transaction"
          (onBack)="onBack($event)">
        </app-send-verify>
      }
    </div>
  </div>
</div>
