<app-modal class="modal" [headline]="'nodes.change-url' | translate" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  @if (showingUrlForm) {
    <div [formGroup]="form">
      <div class="form-field">
        <label for="node-preset">{{ 'nodes.change.preset-label' | translate}}</label>
        <div class="-select">
          <select id="node-preset" [value]="form.get('url').value" (change)="onSelectPreset($any($event.target).value)">
            @for (option of nodeOptions; track option.value) {
              <option [value]="option.value">{{ option.label }}</option>
            }
          </select>
        </div>
      </div>
      <div class="form-field">
        <label for="url">{{ 'nodes.change.url-label' | translate}}</label>
        <input formControlName="url" id="url" (keydown.enter)="startChange()">
      </div>
    </div>
  }
  @if (!showingUrlForm) {
    <div class="property-container">
      <h4>{{ 'nodes.change.node-properties' | translate}}</h4>
      @if (coinName) {
        <div class="data">
          <span>{{ 'nodes.change.coin-name' | translate }}:</span> <span>{{ coinName }}</span>
        </div>
      }
      @if (nodeVersion) {
        <div class="data">
          <span>{{ 'nodes.change.node-version' | translate }}:</span> <span>{{ nodeVersion }}</span>
        </div>
      }
      <div class="data">
        <span>{{ 'nodes.change.last-block' | translate }}:</span> <span>{{ lastBlock }}</span>
      </div>
      @if (hoursBurnRate) {
        <div class="data">
          <span>{{ 'nodes.change.hours-burn-rate' | translate }}:</span> <span>{{ hoursBurnRate }}</span>
        </div>
      }
    </div>
  }
  <div class="-buttons">
    <app-button (action)="showingUrlForm ? closePopup() : showUrlForm()" [disabled]="disableDismiss">
      {{ (showingUrlForm ? 'nodes.change.cancel-button' : 'nodes.change.return-button') | translate}}
    </app-button>
    <app-button (action)="showingUrlForm ? startChange() : completeChange()" class="primary" #action>
      {{ (showingUrlForm ? 'nodes.change.verify-button' : 'nodes.change.change-button') | translate}}
    </app-button>
  </div>
</app-modal>
