.DS_Store
.DS_Store?
._*
.Trashes
.vscode
.github
.dockerignore
.editorconfig
.gitignore
.golangci.yml
.travis.yml

*.md
*.asc
*.class
*.dll
*.exe
*.o
*.so


Makefile
run-client.sh
run-daemon.sh
Gopkg.lock
Gopkg.toml

**/node_modules/*
**/electron/*
**/ci-scripts/*
**/coverage/*

