sudo: required
dist: trusty
language: go
go:
  - "1.10.x"

matrix:
  include:
    - os: linux
    - os: osx
      # Do not start osx build for PR
      if: type != pull_request
      osx_image: xcode8

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test && sudo apt-get update -qq; fi
  - eval "CC=gcc-6 && CXX=g++-6"

env:
  global:
    - ELECTRON_CACHE: $HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE: $HOME/.cache/electron-builder
    - BUILD_DIR: build
    - BUILDLIB_DIR: $BUILD_DIR/libskycoin
    - LIB_DIR: lib
    - BUILD_UI_TRAVIS_DIR: HOME/.skycoin-ui-travis

cache:
  yarn: true
  directories:
  - electron/node_modules
  - electron/src/node_modules
  - $HOME/.cache/electron
  - $HOME/.cache/electron-builder
  - $HOME/.npm/_prebuilds
  - src/gui/static/node_modules

addons:
  chrome: stable

install:
  # Install gox
  - go get github.com/gz-c/gox
  # Install dependences for building wallet
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PULL_REQUEST" == false ]]; then sudo apt-get install --no-install-recommends -y icnsutils graphicsmagick xz-utils && nvm install 8; fi
  - if [[ ! -d $GOPATH/src/github.com/skycoin/skycoin ]]; then mkdir -p $GOPATH/src/github.com/skycoin; ln -s $TRAVIS_BUILD_DIR $GOPATH/src/github.com/skycoin/skycoin; fi
  - cd $GOPATH/src/github.com/skycoin/skycoin
  - go get -t ./...
  - make install-linters
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq g++-6 && sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]];   then brew update ; echo 'Available versions (gcc)' && brew list --versions gcc ; brew list gcc@6 &>/dev/null || brew install gcc@6 ; fi
  - make install-deps-libc
  - make install-deps-ui

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" && "$TRAVIS_PULL_REQUEST" == false ]]; then ./ci-scripts/add-key.sh && npm install -g yarn ;fi
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start; fi

script:
  - make lint
  - make test-386
  - make test-amd64
  # Stable integration tests
  - make integration-test-stable
  # Stable integration tests without CSRF
  - make integration-test-stable-disable-csrf
  # Disable wallet api test
  - make integration-test-disable-wallet-api
  # Disable seed api test
  - make integration-test-disable-seed-api
  # libskycoin tests
  - CC=gcc-6 make test-libc
  # TODO: test pyskycoin
  # - CC=gcc-6 make test-libpy
  # TODO: test ui
  # - make test-ui
  # - make test-libpy
  - make lint-ui
  - make build-ui-travis
  - make test-ui
  - make test-ui-e2e
  # Build wallets
  - if [[ "$TRAVIS_PULL_REQUEST" == false ]]; then ./ci-scripts/build-wallet.sh; fi

notifications:
  email:
    - travis@skycoin.net
  # https://github.com/kvld/travisci-telegram TravisCI Telegram Bot integration
  webhooks: https://fathomless-fjord-24024.herokuapp.com/notify

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: $AWS_BUCKET
  skip_cleanup: true
  local_dir: electron/release
  upload-dir: wallet
  acl: public_read
  region: $AWS_REGION
  on:
    repo: skycoin/skycoin
    branch: master
