@import '../../../../theme/variables';

.button-container {
  display: inline-block;
}

button {
  border-radius: 25px;
  height: 50px;
  margin: 20px 10px 0;
  width: 160px;
  overflow: hidden;
}

button.enabled {
  background-color: rgba(30, 34, 39, 0.05);
  box-shadow: none;
  color: #1e2227;
}

mat-icon {
  margin-left: 10px;
  opacity: 0.3;
  line-height: 20px;
}

mat-spinner {
  display: inline-block;
  height: 24px !important;
  width: 24px !important;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
