@import '../../../../theme/variables';

$button-height: 50px;

// Class also used by the parents.
.internal-container {
  display: inline;
}

button {
  border-radius: 1000px;
  height: $button-height;
  margin: 20px 10px 0;
  width: 170px;
  overflow: hidden;
}

/* Default button color. */
button.enabled {
  background-color: $grey-very-light;
  box-shadow: none;
  color: $black;
}

/* 2 lines max. Content centered. */
.content-container {
  display: flex;
  align-items: center;
  max-height: 100%;
  justify-content: center;

  .content {
    flex-grow: 0;
    overflow: hidden;
    white-space: normal;
    line-height: $font-size-standard-plus * 1.3;
    font-size: $font-size-standard-plus;
    max-height: min(($font-size-standard-plus * 1.3) * 2, $button-height);
    word-break: break-word;
  }

  mat-icon {
    flex-shrink: 0;
    margin-left: 10px;
    opacity: 0.3;
    line-height: 20px;
  }
  
  mat-spinner {
    flex-shrink: 0;
    margin-left: 10px;
    height: 24px !important;
    width: 24px !important;

    ::ng-deep svg {
      height: 24px !important;
      width: 24px !important;
    }
  }
}
