@import '../../../../theme/variables';

.-content {
  text-align: center;
  margin: 50px 0;
  font-size: $font-size-standard;
  opacity: 0.5;

  p {
    margin-top: 15px;
  }

  i {
    color: $grey;
    font-size: 40px;
    opacity: 0.5;
  }

  mat-spinner {
    display: inline-block;
    opacity: 0.5;

    ::ng-deep circle {
      stroke: $grey;
    }
  }
}
