@import '../../../../../theme/variables';

$nav-bar-height: 66px;

.-buttons {
  display: flex;
  width: 100%;

  .-button {
    cursor: pointer;
    padding: 0 20px;
    opacity: 0.2;

    &:hover {
      opacity: 0.4;
    }

    img {
      float: left;
      height: $nav-bar-height;
      padding: 17px 0;
      width: 32px;
    }

    span {
      font-size: $font-size-standard-plus;
      height: $nav-bar-height;
      line-height: $nav-bar-height;
      margin: 0 5px;
    }
  }

  .-switch {
    align-self: center;
    padding: 0 20px;
  }
}

.full-opacity {
  opacity: 1 !important;
}
