<div class="container">
  <div class="-buttons">
    <div class="-button" routerLink="/wallets" routerLinkActive="full-opacity">
      <img src="assets/img/wallet-black.png">
      <span>{{ 'title.wallets' | translate }}</span>
    </div>
    <div class="-button" routerLink="/send" routerLinkActive="full-opacity">
      <img src="assets/img/send-black.png">
      <span>{{ 'title.send' | translate }}</span>
    </div>
    <div class="-button" routerLink="/transactions" routerLinkActive="full-opacity">
      <img src="assets/img/transactions-black.png">
      <span>{{ 'title.history' | translate }}</span>
    </div>
    <div class="flex-fill"></div>
    <div class="-button" routerLink="/exchange" routerLinkActive="full-opacity" *ngIf="exchangeEnabled">
      <img src="assets/img/money-gold.png">
      <span>{{ 'title.buy-coin' | translate }}</span>
    </div>
    <div class="-button" *ngIf="otcEnabled">
      <img src="assets/img/money-gold.png">
      <span>{{ 'title.buy-coin' | translate }}</span>
    </div>
    <app-double-button
      *ngIf="navbarService.switchVisible"
      [ngClass]="{'-switch': true, 'element-disabled': navbarService.switchDiabled}"
      [leftButtonText]="navbarService.leftText | translate"
      [rightButtonText]="navbarService.rightText | translate"
      [activeButton]="navbarService.activeComponent | async"
      className="light navbar"
      (onStateChange)="changeActiveComponent($event)"
    ></app-double-button>
  </div>
</div>
