@import '../../../../../theme/variables';

$nav-bar-height: 66px;

.-buttons {
  display: flex;
  width: 100%;

  .-button {
    cursor: pointer;
    padding: 0 20px;
    opacity: 0.2;
    display: block;
    text-decoration: none;
    color: $black;
    display: flex;
    height: $nav-bar-height;
    align-items: center;

    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.55;
    }

    img {
      float: left;
      height: $normal-icon-size;
      width: $normal-icon-size;

      @media (max-width: $max-sm-width) {
        & {
          height: $normal-icon-size * 0.85;
          width: $normal-icon-size * 0.85;
        }
      }
    }

    span {
      font-size: $font-size-standard-plus;
      line-height: 1.3;
      margin: 0 5px;

      @media (max-width: $max-sm-width) {
        & {
          font-size: $font-size-standard-plus * 0.85;
        }
      }
    }
  }

  .-switch {
    align-self: center;
    padding: 0 20px;
  }
}

.full-opacity {
  opacity: 1 !important;
}
