<div class="container">
  <div class="-buttons">
    <a class="-button" routerLink="/wallets" routerLinkActive="full-opacity">
      <img src="assets/img/wallet-black.png">
      <span>{{ 'wallet.title-and-button' | translate }}</span>
    </a>
    <a class="-button" routerLink="/send" routerLinkActive="full-opacity">
      <img src="assets/img/send-black.png">
      <span>{{ 'send.title-and-button' | translate }}</span>
    </a>
    <a class="-button" routerLink="/transactions" routerLinkActive="full-opacity">
      <img src="assets/img/transactions-black.png">
      <span>{{ 'history.title-and-button' | translate }}</span>
    </a>
    <div class="flex-fill"></div>
    <a class="-button" routerLink="/exchange" routerLinkActive="full-opacity" *ngIf="exchangeEnabled">
      <img src="assets/img/money-gold.png">
      <span>{{ 'exchange.title-and-button' | translate:{coinName: appService.coinName} }}</span>
    </a>
    <a class="-button" *ngIf="otcEnabled">
      <img src="assets/img/money-gold.png">
      <span>{{ 'buy.title-and-button' | translate }}</span>
    </a>
    <app-double-button
      *ngIf="navBarSwitchService.switchVisible"
      [ngClass]="{'-switch': true, 'element-disabled': navBarSwitchService.switchDiabled}"
      [leftButtonText]="navBarSwitchService.leftText | translate"
      [rightButtonText]="navBarSwitchService.rightText | translate"
      [activeButton]="navBarSwitchService.activeComponent | async"
      className="light navbar"
      (onStateChange)="changeActiveComponent($event)"
    ></app-double-button>
  </div>
</div>
