<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Skycoin</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="http://skycoin.net/infographics.html">How it works</a></li>
      <li><a href="http://skycoin.net/downloads.html">Download wallet</a></li>
      <li><a href="http://skycoin.net/faq.html">FAQs</a></li>
      <li><a href="http://skycoin.net/whitepapers.html">White papers</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="http://skycoin.net/infographics.html">How it works?</a></li>
      <li><a href="http://skycoin.net/downloads.html">Download wallet</a></li>
      <li><a href="http://skycoin.net/faq.html">FAQs</a></li>
      <li><a href="http://skycoin.net/whitepapers.html">White papers</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
