<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">The Skycoin Wallet allows you to hold and secure skycoin. It not only gives you access to the Skycoin blockchain but it’s fast, secure and easy to use!</h5>
        <p class="grey-text text-lighten-4">Skycoin is a new form of decentralized digital currency that is created and held electronically. It is a necessary element for operating the Skycoin platform.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/infographics.html">How it works?</a></li>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/downloads.html">Download wallet</a></li>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/whitepapers.html">White papers</a></li>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/faq.html">FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Skycoin
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
