<app-modal [headline]="'Dialog'" [dialog]="dialogRef">
  <div *ngIf="currentState === states.Initial">
    Please, write down and save in a safe place the words that appear on the hardware wallet screen, without altering its order
    <br />
    <br />
    WARNING: you can only perform this process once
  </div>
  <div *ngIf="currentState === states.ReturnedSuccess">Operation completed successfully</div>
  <div *ngIf="currentState === states.ReturnedRefused">The operation failed or was refused by the user</div>
  <div *ngIf="currentState === states.Failed">Error</div>
</app-modal>
