<app-modal class="modal" [headline]="(!data.hideCoinRequestForm ? 'qr.title' : 'qr.title-read-only') | translate" [dialog]="dialogRef">
  <div class="qr-container">
    <div #qr class="qr" id="qr"></div>
  </div>
  <div class="separator"></div>
  @if (!data.ignoreCoinPrefix || !data.hideCoinRequestForm) {
    <div class="data-container">
      <div class="title">{{ 'qr.data' | translate }}</div>
      <div class="data" (click)="copyText(currentQrContent)"><span class="text">{{ currentQrContent }}</span><span class="fa copy">&#xf0c5;</span></div>
    </div>
  }
  <div class="data-container">
    <div class="title">{{ 'qr.address' | translate }}</div>
    <div class="data" (click)="copyText(data.address)"><span class="text">{{ data.address }}</span><span class="fa copy">&#xf0c5;</span></div>
  </div>

  @if (!showForm && !data.hideCoinRequestForm) {
    <div class="link -not-on-small-and-below" (click)="startShowingForm()">{{ 'qr.request-link' | translate }}<mat-icon>keyboard_arrow_down</mat-icon></div>
  }
  @if (!showForm && !data.hideCoinRequestForm) {
    <div class="-on-small-and-below-only">
      <div class="link" (click)="startShowingForm()">{{ 'qr.request-link' | translate }}<mat-icon>keyboard_arrow_down</mat-icon></div>
      @if (data.showExtraAddressOptions) {
        <div class="link" (click)="goToDetail('/settings/outputs'); closePopup();">{{ 'wallet.address.outputs' | translate }}<mat-icon>keyboard_arrow_right</mat-icon></div>
      }
      @if (data.showExtraAddressOptions) {
        <div class="link" (click)="goToDetail('/history'); closePopup();">{{ 'wallet.address.history' | translate }}<mat-icon>keyboard_arrow_right</mat-icon></div>
      }
    </div>
  }

  @if (showForm) {
    <div [formGroup]="form">
      <div class="form-field">
        <label for="coins">
          {{ 'qr.amount' | translate }} @if (invalidCoins) {
          <span class="invalid">{{ 'qr.invalid' | translate }}</span>
        }
      </label>
      <input maxlength="20" formControlName="coins" id="coins">
    </div>
    <div class="form-field">
      <label for="hours">
        {{ 'qr.hours' | translate }} @if (invalidHours) {
        <span class="invalid">{{ 'qr.invalid' | translate }}</span>
      }
    </label>
    <input maxlength="20" formControlName="hours" id="hours">
  </div>
  <div class="form-field">
    <label for="note">
      {{ 'qr.message' | translate }}
    </label>
    <input maxlength="100" formControlName="note" id="note">
  </div>
</div>
}
</app-modal>
