<!-- Change lang button. -->
@if (language) {
  <button mat-icon-button (click)="changelanguage()">
    <img [src]="'assets/img/lang/' + language.iconName" class="flag">
  </button>
}

<!-- First step. -->
@if (step === 1) {
  <app-onboarding-create-wallet
    (onLabelAndSeedCreated)="onLabelAndSeedCreated($event)"
    [fill]="formData"
  ></app-onboarding-create-wallet>
}

<!-- Second step. -->
@if (step === 2) {
  <app-onboarding-encrypt-wallet
    (onPasswordCreated)="onPasswordCreated($event)"
    (onBack)="onBack()"
    [creatingTemporal]="formData.loadTemporarily"
    #encryptForm
  ></app-onboarding-encrypt-wallet>
}
