<!-- Change lang button. -->
<button mat-icon-button (click)="changelanguage()" *ngIf="language">
  <img [src]="'assets/img/lang/' + language.iconName" class="flag">
</button>

<!-- First step. -->
<app-onboarding-create-wallet
  *ngIf="step === 1"
  (onLabelAndSeedCreated)="onLabelAndSeedCreated($event)"
  [fill]="formData"
></app-onboarding-create-wallet>

<!-- Second step. -->
<app-onboarding-encrypt-wallet
  *ngIf="step === 2"
  (onPasswordCreated)="onPasswordCreated($event)"
  (onBack)="onBack()"
  #encryptForm
></app-onboarding-encrypt-wallet>
