@import '../../../../theme/variables';

.form-field {
  margin: 10px $main-containers-margin;
  margin-bottom: -($main-containers-margin * 0.7);
  display: flex;

  mat-select {
    background: transparent;
    border: 0;
    border-radius: 0;
    ::ng-deep .mat-select-value {
      font-size: $font-size-standard;
      line-height: 1.7;
    }
  
    .left-icon {
      content: 'filter_list';
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 13px;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  
    ::ng-deep .mat-select-placeholder {
      color: $grey !important;
  
      &::before {
        @extend .left-icon;
      }
    }
  
    mat-select-trigger::before {
      @extend .left-icon;
    }
  
    .filter {
      font-size: $font-size-standard;
      margin-left: 28px;
      color: $grey;
    }
  }

  .x-button {
    width: 24px;
    height: 24px;
    margin-top: 10px;
  }
}

.bottom-line {
  border-bottom: 2px solid $grey-very-light;
}

.paper {
  padding: 0;
}

.-transaction {
  background-color: $white;
  border-bottom: 1px solid $grey-very-light;
  cursor: pointer;
  display: flex;
  padding: 20px 12px;

  > div {
    padding: 0 8px;
  }

  .-icon {
    margin-top: 5px;

    img {
      width: $normal-icon-size;
    }

    &.-pending {
      opacity: 0.5;
    }
  }

  .-address {
    flex: 1;

    h4 {
      color: $black;
      font-size: $font-size-standard;
      font-weight: 700;
      line-height: 1.15;
      margin: 0 0 8px 0;

      span {
        font-size: $font-size-mini;
        line-height: 1.2;
        padding-left: 5px;
        font-weight: 300;
      }

      .-pending {
        color: $yellow;
      }

      .-timestamp {
        color: $grey;
      }
    }

    .-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      app-qr-code-button {
        vertical-align: middle;
        margin-right: 4px;
      }

      span {
        color: $grey;
        font-size: $font-size-standard;
        line-height: 1.15;
      }

      .note {
        color: $black;
        word-break: break-word;
      }
    }
  }

  .-balance {
    width: 200px;
    text-align: right;
    font-size: $font-size-standard;
    line-height: 1.15;

    h4 {
      color: $black;
      font-weight: 700;
      margin: 0 0 8px 0;
    }

    p {
      color: $grey;
      display: inline-block;
      margin: 0;
    }
  }

  &:hover {
    background-color: $white-hover;
  }
}

.view-all-button {
  color: $main-color;
  font-size: $font-size-standard;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
