@import '../../../../theme/_variables.scss';

.-transaction {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  display: flex;
  min-height: 80px;
  padding: 0 12px;

  > div {
    padding: 0 8px;
  }

  .-icon {
    img {
      width: 32px;
    }

    &.-incoming {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    &.-pending {
      opacity: 0.5;
    }
  }

  .-address {
    flex: 1;

    h4 {
      color: #1e2227;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      margin: 0 0 8px 0;

      span {
        font-size: 10px;
        line-height: 12px;
        padding-left: 5px;
        font-weight: 300;
      }

      .-pending {
        color: #FDB51E;
      }

      .-timestamp {
        color: rgba(30, 34, 39, 0.2);
      }
    }

    img {
      display: inline-block;
      height: 17px;
      vertical-align: middle;
      width: 17px;
      margin-right: 4px;
    }

    p {
      color: rgba(30, 34, 39, 0.5);
      display: inline-block;
      font-size: 13px;
      line-height: 15px;
      margin: 0;
    }
  }

  .-balance {
    width: 100px;

    h4 {
      color: #1e2227;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      margin: 0 0 8px 0;
    }

    p {
      color: rgba(30, 34, 39, 0.5);
      display: inline-block;
      font-size: 13px;
      line-height: 15px;
      margin: 0;
    }
  }
}
