@import '../../../../theme/variables';

.-paper {
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  margin: 30px;
}

.-transaction {
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  cursor: pointer;
  display: flex;
  padding: 20px 12px;

  &:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  > div {
    padding: 0 8px;
  }

  .-icon {
    margin-top: 5px;

    img {
      width: 32px;
    }

    &.-incoming {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    &.-pending {
      opacity: 0.5;
    }
  }

  .-address {
    flex: 1;

    h4 {
      color: #1e2227;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      margin: 0 0 8px 0;

      span {
        font-size: 10px;
        line-height: 12px;
        padding-left: 5px;
        font-weight: 300;
      }

      .-pending {
        color: #FDB51E;
      }

      .-timestamp {
        color: rgba(30, 34, 39, 0.2);
      }
    }

    .-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      img {
        display: inline-block;
        height: 17px;
        vertical-align: middle;
        width: 17px;
        margin-right: 4px;
      }

      span {
        color: rgba(30, 34, 39, 0.5);
        display: inline-block;
        font-size: 13px;
        line-height: 15px;
        margin: 0;
      }
    }
  }

  .-balance {
    width: 100px;

    h4 {
      color: #1e2227;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      margin: 0 0 8px 0;
    }

    p {
      color: rgba(30, 34, 39, 0.5);
      display: inline-block;
      font-size: 13px;
      line-height: 15px;
      margin: 0;

      span {
        color: lighten($grey, 40%);
      }
    }
  }
}
