<div class="form-field">
  <label>Wallet</label>
  <div class="-select">
    <select>
      <option value="">MyWallet - 1 SKY</option>
    </select>
  </div>
</div>

<div class="form-field">
  <label>Addresses</label>
  <mat-select multiple>
    <mat-option value="asd">jahsdkhasdkjhasjkd</mat-option>
    <mat-option value="asd">qweiuqoweiuqowieuqew</mat-option>
    <mat-option value="asd">bxzmncbmxzncbzx</mat-option>
  </mat-select>
</div>

<div class="form-field">
  <label>Destinations</label>
  <div class="row -destination">
    <div class="col-md-5">
      <input>
    </div>
    <div class="col-md-3">
      <div class="-input-addon">
        <input>
        <span>Coins</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="-input-addon">
        <input>
        <span>Hours</span>
      </div>
    </div>
    <div class="col-md-1 -icons">
      <img src="../../../../../assets/img/plus-green.png" alt="plus">
    </div>
  </div>
  <div class="row -destination">
    <div class="col-md-5">
      <input>
    </div>
    <div class="col-md-3">
      <div class="-input-addon">
        <input>
        <span>Coins</span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="-input-addon">
        <input>
        <span>Hours</span>
      </div>
    </div>
    <div class="col-md-1 -icons">
      <img src="../../../../../assets/img/minus-grey.png" alt="minus">
    </div>
  </div>
</div>

<mat-checkbox class="-check" checked>Automatic coin hours allocation</mat-checkbox>

<div class="row -hours-options">
  <div class="col-md-5">
    <div class="form-field">
      <label>Mode</label>
      <div class="-select">
        <select>
          <option value="Share">Share</option></select>
      </div>
    </div>

    <div class="form-field">
      <label>Value</label>
      <mat-slider class="-slider" value="5"></mat-slider>
    </div>
  </div>
</div>

<div class="-buttons">
  <app-button class="primary">
    Verify
  </app-button>
</div>
