.modal-header
  button.close(type="button" ng-click="cancel()") &times;
  h4.modal-title Update wallet

.modal-body
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label Name
      .col-sm-9
        input.form-control(maxlength="60", ng-model="wallet.name",
          placeholder="Enter label for this wallet")

.modal-footer
  button.btn.btn-default(type="button", ng-click="ok()") OK
  button.btn(type="button", ng-click="cancel()") Cancel
