<app-modal class="modal" [headline]="'hardware-wallet.confirm-address.title' | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Initial">
  <app-hw-message *ngIf="currentState === states.Initial"
    [text]="'hardware-wallet.confirm-address.instructions' | translate"
    [lowerBigText]="data.address.address"
    [icon]="msgIcons.Confirm"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.ShowingResult"
    [text]="result.text | translate"
    [icon]="result.icon"
  ></app-hw-message>

  <div class="-buttons" *ngIf="currentState !== states.Initial">
    <app-button (action)="closeModal()" class="primary" #closeButton>
      {{ 'hardware-wallet.general.close' | translate }}
    </app-button>
  </div>
</app-modal>
