<app-modal class="modal" [headline]="'wallet.hardware' | translate" [dialog]="dialogRef">
  <app-hw-message *ngIf="currentState === states.Processing"
    [text]="'hardware-wallet.options.connecting' | translate"
    [icon]="msgIcons.Spinner"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.Error"
    [text]="(customErrorMsg ? customErrorMsg : 'hardware-wallet.general.generic-error') | translate"
    [icon]="msgIcons.Error"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.Disconnected"
    [text]="'hardware-wallet.options.disconnected' | translate"
    [icon]="msgIcons.Usb"
  ></app-hw-message>

  <div *ngIf="currentState === states.NewConnected || currentState === states.ConfiguredConnected">
    <app-hw-message *ngIf="currentState === states.NewConnected"
      [upperBigText]="'hardware-wallet.options.unconfigured-detected-tittle' | translate"
      [text]="'hardware-wallet.options.unconfigured-detected' | translate"
      [icon]="msgIcons.HardwareWallet"
    ></app-hw-message>

    <app-hw-message *ngIf="currentState === states.ConfiguredConnected"
      [text]="'hardware-wallet.options.configured-detected' | translate"
      [lowerBigText]="walletName"
      [icon]="msgIcons.HardwareWallet"
    ></app-hw-message>

    <div class="options-label">{{ 'hardware-wallet.options.options' | translate }}</div>
    <div class="option-buttons-container select-address-theme">
      <button mat-button color="primary" (click)="generateMnemonic()" *ngIf="currentState === states.NewConnected">
        <div class="label">{{ 'hardware-wallet.options.configure-automatically' | translate }}</div>
      </button>
      <button mat-button color="primary" (click)="setMnemonic()" *ngIf="currentState === states.NewConnected">
        <div class="label">{{ 'hardware-wallet.options.restore-backup' | translate }}</div>
      </button>
      <button mat-button color="primary" (click)="backup()" *ngIf="currentState === states.ConfiguredConnected">
        <div class="label">{{ 'hardware-wallet.options.create-backup' | translate }}</div>
      </button>
      <button mat-button color="primary" (click)="wipe()" *ngIf="currentState === states.ConfiguredConnected">
        <div class="label -red">{{ 'hardware-wallet.options.wipe' | translate }}</div>
      </button>
    </div>
  </div>

  <div class="-buttons">
    <app-button (action)="closeModal()" class="primary">
      {{ 'hardware-wallet.general.close' | translate }}
    </app-button>
  </div>
</app-modal>
