<app-modal class="modal" [headline]="'hardware-wallet.added.title' | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Initial">
  <app-hw-message *ngIf="currentState === states.Initial"
    [text]="'hardware-wallet.added.configuring' | translate"
    [icon]="msgIcons.Spinner"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.Failed"
    [text]="errorMsg | translate"
    [icon]="msgIcons.Error"
  ></app-hw-message>
  
  <div *ngIf="currentState === states.Finished">
    <app-hw-message
      [upperBigText]="'hardware-wallet.added.done' | translate"
      [icon]="msgIcons.Success"
    ></app-hw-message>
    <div class="first-margin">{{ 'hardware-wallet.added.added1' | translate }}</div>
    <div class="big-text">{{ walletName }}</div>
    <div class="second-margin">{{ 'hardware-wallet.added.added2' | translate }}</div>

    <div class="-buttons">
      <app-button (action)="closeModal()" class="primary">
        {{ 'hardware-wallet.general.close' | translate }}
      </app-button>
    </div>
  </div>
</app-modal>
