<app-modal class="modal" [headline]="'hardware-wallet.added.title' | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Initial || currentState === states.Finished">
  <app-hw-message *ngIf="currentState === states.Initial"
    [text]="'hardware-wallet.added.configuring' | translate"
    [icon]="msgIcons.Spinner"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.ShowingResult"
    [text]="result.text | translate"
    [icon]="result.icon"
  ></app-hw-message>

  <div *ngIf="currentState === states.Finished">
    <app-hw-message
      [upperBigText]="'hardware-wallet.added.done' | translate"
      [icon]="msgIcons.Success"
    ></app-hw-message>
    <div class="upper-text">{{ 'hardware-wallet.added.added1' | translate }}</div>
    <div [formGroup]="form">
      <div class="form-field">
        <input formControlName="label" id="label" [maxlength]="maxHwWalletLabelLength" (keydown.enter)="saveNameAndCloseModal()" #input>
      </div>
    </div>
    <div>{{ 'hardware-wallet.added.added2' | translate }}</div>
  </div>

  <div class="-buttons" *ngIf="currentState === states.Finished || currentState === states.ShowingResult">
    <app-button
      (action)="currentState === states.Finished ? saveNameAndCloseModal() : closeModal()"
      class="primary"
      [disabled]="currentState === states.Finished && !form.valid"
      #closeButton>
      {{ (currentState === states.Finished ? 'hardware-wallet.added.ok' : 'hardware-wallet.general.close') | translate }}
    </app-button>
  </div>
</app-modal>
