<div class="row">
  <div class="col-md-12">
    <h4>{{ isPreview ? 'Confirm ' : '' }}Transaction</h4>

    <div class="row">
      <div class="col-md-8 -tx-meta">
        <ng-container *ngIf="isPreview">
          <div class="-data">
            <span>From:</span> {{ transaction.from }}
          </div>
          <div class="-data">
            <span>To:</span> {{ transaction.to }}
          </div>
        </ng-container>
        <ng-container *ngIf="!isPreview">
          <div class="-data">
            <span>Date:</span> {{ transaction.timestamp * 1000 | date:'short' }}
          </div>
          <div class="-data">
            <span>Status:</span> {{ transaction.confirmed ? 'Complete' : 'Pending' }}
          </div>
        </ng-container>
        <div class="-data">
          <span>Coins:</span> {{ transaction.balance | number:'1.0-6' }}
        </div>
        <div class="-data">
          <span>Hours:</span>
          {{ transaction.hoursSent | number:'1.0-6' }} sent
          <ng-container *ngIf="isPreview">
            | {{ transaction.hoursBurned | number:'1.0-6' }} burned
          </ng-container>
        </div>
        <div class="-data">
          <span>Tx ID:</span> {{ transaction.txid }}
        </div>
        <div class="-data -more" *ngIf="!showInputsOutputs">
          <span (click)="toggleInputsOutputs($event)">
            Show more <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </div>
      </div>
      <div class="col-md-4 -tx-price">
        <div class="-icon">
          <img src="/assets/img/send-blue.png">
        </div>
        <h4>{{ transaction.balance | number:'1.0-6' }} SKY</h4>
        <p *ngIf="price">{{ transaction.balance * price | currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="showInputsOutputs">
    <div class="col-md-6 -margin-top">
      <h4>Inputs</h4>

      <div class="-item" *ngFor="let input of transaction.inputs; let i = index">
        <div class="-number">{{ i + 1 }}</div>
        <div class="-info">
          <div class="-address">{{ isPreview ? input.address : input.owner }}</div>
          <div class="-data">
            <span>Coins:</span> {{ input.coins | number:'1.0-6' }}
          </div>
          <div class="-data">
            <span>Hours:</span> {{ (isPreview ? input.calculated_hours : input.hours) | number:'1.0-6' }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 -margin-top">
      <h4>Outputs</h4>

      <div class="-item" *ngFor="let output of transaction.outputs; let i = index">
        <div class="-number">{{ i + 1 }}</div>
        <div class="-info">
          <div class="-address">{{ isPreview ? output.address : output.dst }}</div>
          <div class="-data">
            <span>Coins:</span> {{ output.coins | number:'1.0-6' }}
          </div>
          <div class="-data">
            <span>Hours:</span> {{ output.hours | number:'1.0-6' }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
