<div class="-container">
  <div class="-header">
    Transaction Detail <img src="../../../../../assets/img/close-grey.png" (click)="closePopup()">
  </div>
  <div class="-body">
    <div class="-icon" [ngClass]="{ '-incoming': transaction.balance > 0, '-pending': !transaction.confirmed }">
      <img src="/assets/img/send-gold.png">
    </div>
    <h4>{{ transaction.balance }} SKY</h4>
    <p *ngIf="price">{{ transaction.balance * price | currency:'USD':true:'1.2-2' }}</p>
  </div>
  <div class="-footer">
    <div class="-row">
      <div class="-key">Date</div>
      <div class="-values">{{ transaction.timestamp * 1000 | date:'short' }}</div>
    </div>
    <div class="-row">
      <div class="-key">ID</div>
      <div class="-values">{{ transaction.txid }}</div>
    </div>
    <div class="-row">
      <div class="-key">Status</div>
      <div class="-values">{{ transaction.confirmed ? 'Complete' : 'Pending' }}</div>
    </div>
    <div class="-row">
      <div class="-key">From</div>
      <div class="-values">
        <span *ngFor="let input of transaction.inputs">{{ input.owner }}</span>
      </div>
    </div>
    <div class="-row">
      <div class="-key">To</div>
      <div class="-values">
        <ng-container *ngFor="let output of transaction.outputs">
          <span *ngIf="showOutput(output)">{{ output.dst }}</span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
