@import '../../../../../../theme/variables';


.content {
  display: flex;
  align-items: center;

  img {
    height: 32px;
    width: 32px;
    margin-right: 5px;
  }

  span {
    font-size: $font-size-standard;
    line-height: 1.7;
    color: $black;
  }
}
