@import '../../../../../theme/variables';

.-create {
  display: flex;

  .-form {
    flex: .6;
  }

  .-info {
    flex: .4;
    margin-left: 40px;
  }
}

.form-field {
  .-error {
    color: $red;
    margin-left: 20px;
  }

  .-inputs {
    display: flex;

    input {
      flex: .7;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .-select, .-input {
      flex: .3;

      select, input {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .-not-allowed {
    input {
      cursor: not-allowed;
    }
  }
}

.-item {
  font-size: $font-size-standard;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .-key {
    color: $grey;
    margin-bottom: 5px;
  }
}

.-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.-select-address {
  padding-left: 5px;
  color: $main-color;
  cursor: pointer;

  mat-icon {
    color: $main-color;
    padding: 0;
    display: inline;
    vertical-align: middle;
    font-size: 13px;
  }
}
