@import '../../../../../theme/variables';

.-create {
  display: flex;

  .-form {
    flex: .6;
  }

  .-info {
    flex: .4;
    margin-left: 40px;
    margin-top: 5px;
  }
}

.form-field {
  width: 100%;

  .-error {
    color: $red;
    margin-left: 20px;
  }

  .-inputs {
    display: flex;

    input {
      flex: .7;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .-select, .-input {
      flex: .3;

      select, input {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .-not-allowed {
    input {
      cursor: not-allowed;
    }
  }
}

.-item {
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .-key {
    color: $grey;
    margin-bottom: 5px;
  }

  .-value {
    word-break: break-all;
  }
}

.-buttons {
  text-align: center;

  mat-checkbox {
    margin-right: 20px;
  }
}

.-check ::ng-deep {
  .mat-checkbox-layout {
    align-items: center;
  }

  .mat-checkbox-checkmark-path {
    position: absolute;
    width: 18px;
    height: 8px;
    left: 4.59px;
    top: 9px;
    stroke: $gradient-blue-dark !important;
  }

  .mat-checkbox-background, .mat-checkbox-frame {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background: rgba(30, 34, 39, 0.05);
    border-radius: 6px;
    border-color: transparent;
  }

  span {
    font-family: Skycoin;
    line-height: normal;
    font-size: 13px;
    color: $grey-dark;

    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

.-select-address {
  padding-left: 5px;
  color: $blue;
  cursor: pointer;

  mat-icon {
    color: $blue;
    padding: 0;
    display: inline;
    vertical-align: middle;
    font-size: 13px;
  }
}
