@import '../../../../theme/_variables.scss';

.grid-headers {
  background-color: $grey-light;
  border-bottom: 1px solid #eff0f0;
  color: rgba(30, 34, 39, 0.2);
  display: flex;
  font-size: 12px;
  line-height: 50px;
  padding: 0 20px;
  height: 50px;
}

.grid-row {
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  cursor: pointer;
  display: flex;
  font-size: $font-size-standard;
  line-height: $row-height;
  min-height: $row-height;
  padding: 0 20px;

  .id-column {
    color: rgba(30, 34, 39, 0.6);
  }

  .address-column {
    color: rgba(30, 34, 39, 0.6);

    img {
      display: inline-block;
      height: 32px;
      vertical-align: middle;
      width: 32px;
    }

    p {
      display: inline-block;
      line-height: $row-height;
      margin: 0;
      vertical-align: middle;
    }
  }

  .hours-column {
    color: rgba(30, 34, 39, 0.5);
  }

  .coins-column {
    color: black;
  }

  > img {
    display: inline-block;
    margin: ($row-height - $row-detail-size) / 2;
    margin-left: 0;
    height: $row-detail-size;
    width: $row-detail-size;
  }
}

.id-column {
  width: 50px;
}

.address-column {
  flex: 1 1 auto;
}

.hours-column, .coins-column {
  width: 100px;
}

.action-buttons {
  margin-bottom: 74px;
  padding: 40px 0 40px;
  text-align: center;

  button {
    background-color: $grey-light;
    border: none;
    box-shadow: none;
    color: $grey-dark;
    font-size: 13px;
    margin: 0 5px;
    min-width: 140px;

    img {
      height: 28px;
      margin-left: -4px;
      width: 28px;
    }
  }
}

span {
  display: inline-block;
  width: 50%;
}
