@import '../../../../../theme/variables';

mat-form-field {
  width: 100%;
}

.form-field {
  input {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 15px;
    text-align: center;
    margin-top: 5px;
  }
}

.num-pad-row {
  display: flex;

  button {
    flex-grow: 1;
    height: 50px;
    border: $grey-very-light solid 1px;
    margin: 2px;

    span {
      color: $black;
    }
  }
}
