@import '../../../../../theme/variables';

.info {
  font-size: $font-size-standard;
  line-height: 1.7;
  color: $black;

  div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
      margin: 0px 5px;
    }
  }
}