<app-modal [headline]="'title.order-history' | translate" [dialog]="dialogRef">
  <div class="light-button-theme" *ngFor="let order of orders">
    <button mat-button color="primary" (click)="select(order)">
      <div class="info">
        <div>{{ order.fromAmount }} {{ getFromCoin(order.pair) }} <mat-icon>play_arrow</mat-icon> &asymp;{{ order.toAmount | amount:true:'first' }} {{ getToCoin(order.pair) }}</div>
        <div class="grey">{{ 'exchange.history-window.address' | translate }}: {{ order.address }}</div>
        <div class="grey">{{ 'exchange.history-window.date' | translate }}: {{ order.timestamp | dateTime }}</div>
      </div>
    </button>
  </div>
</app-modal>
