@import '../../../../../theme/variables';

button {
  width: 100%;
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid #eff0f0;
  cursor: pointer;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    font-size: 13px;
    line-height: 22px;
    color: $black;

    .grey {
      color: $grey;
    }
  }

  .action {
    color: $blue;
  }
}
