<app-modal [headline]="data.title ? (data.title | translate) : ('password.title' | translate)" [dialog]="dialogRef" [disableDismiss]="working">
  <div [ngClass]="{'red-text' : data.warning}" *ngIf="data.description">{{ data.description | translate }}</div>
  <div [ngClass]="{'modal-form-container' : data.description}" [formGroup]="form">
    <div class="form-field">
      <label for="password">{{ 'password.password-label' | translate }}</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        appDontSavePassword
        (keydown.enter)="proceed()"
        [attr.disabled]="working ? 'true' : null"
        [appFormFieldError]="password1ErrorMsg"
        (blur)="validateForm()"
      >
    </div>
    <div class="form-field" *ngIf="data.confirm">
      <label for="confirm_password">{{ 'password.confirm-password-label' | translate }}</label>
      <input
        formControlName="confirm_password"
        id="confirm_password"
        type="password"
        appDontSavePassword
        (keydown.enter)="proceed()"
        [attr.disabled]="working ? 'true' : null"
        [appFormFieldError]="password2ErrorMsg"
        (blur)="validateForm()"
      >
    </div>
  </div>
  <a *ngIf="data.wallet" [ngClass]="{'element-disabled' : working}" [href]="'#/reset/' + data.wallet.id" class="link">{{ 'password.reset-link' | translate }}</a>
  <div class="-buttons">
    <app-button #button (action)="proceed()" class="primary-button" [disabled]="!form.valid">
      {{ 'password.proceed-button' | translate }}
    </app-button>
  </div>
</app-modal>
