<app-modal [title]="data.title ? data.title : 'Enter Password'" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  <p class="-info" *ngIf="data.description">{{ data.description }}</p>
  <div [formGroup]="form">
    <div class="form-field">
      <label for="password">Password</label>
      <input formControlName="password" id="password" type="password" appDontSavePassword>
    </div>
    <div class="form-field" *ngIf="data.confirm">
      <label for="password">Confirm password</label>
      <input formControlName="confirm_password" id="confirm_password" type="password" appDontSavePassword>
    </div>
  </div>
  <div class="-buttons">
    <app-button #button (action)="proceed()" class="primary" [disabled]="!form.valid">
      Proceed
    </app-button>
  </div>
</app-modal>
