<app-modal title="Enter Password" [dialog]="dialogRef">
  <div [formGroup]="form">
    <div class="form-field">
      <label for="password">Password</label>
      <input formControlName="password" id="password" type="password"
             placeholder="Wallet Password" appDontSavePassword>
    </div>
    <div class="form-field" *ngIf="data.confirm">
      <label for="password">Confirm password</label>
      <input formControlName="confirm_password" id="confirm_password" type="password" appDontSavePassword>
    </div>
  </div>
  <div class="-buttons">
    <app-button #button (action)="proceed()" class="primary" [disabled]="!form.valid">
      Proceed
    </app-button>
  </div>
</app-modal>
