@import '../../../../theme/variables';

.-buttons {
  text-align: center;
}

.-info {
  margin: 5px 0 25px;
  color: $grey;
  font-size: 12px;
  line-height: 1.5;
}

.-warning {
  color: $red;
}

.link {
  font-size: 13px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
