<div>

    <script type="text/ng-template" id="loadWalletModalContent.html">

        <div class="load-wallet-container">

            <label>Name:
            <input maxlength="60" ng-model="wallet.name" />
            </label>
            <br />

            <label>Seed:
            <textarea rows="4" ng-model="wallet.seed" cols="46"></textarea>
            </label>
            <br />


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>


</div>