@if (!otcEnabled) {
  <p>{{ 'buy.otc-disabled' | translate }}</p>
}
@if (otcEnabled) {
  <mat-card>
    <mat-card-title>{{ 'buy.purchase' | translate }}</mat-card-title>
    <mat-card class="skycoin-details">{{ 'buy.details' | translate }}</mat-card>
    <mat-list>
      @for (address of orders; track address; let i = $index) {
        @if (i) {
          <mat-divider></mat-divider>
        }
        <h3 mat-subheader>{{ 'buy.sky-address' | translate }} {{ address.address }}</h3>
        @for (btc of address.addresses; track btc) {
          <mat-list-item>
            <h4 mat-line> {{ 'buy.bitcoin-address' | translate }} {{ btc.btc }}</h4>
            <p mat-line> {{ 'buy.status-button' | translate }} {{ btc.status | tellerStatus | translate }} ({{ 'buy.updated-at' | translate }} {{ btc.updated | dateTime }}) </p>
            <button mat-icon-button (click)="searchDepositAddress(address.address)" [disabled]="scanning">
              <mat-icon>{{ 'buy.refresh-button' | translate }}</mat-icon>
            </button>
          </mat-list-item>
        }
      }
    </mat-list>
  </mat-card>
}
@if (otcEnabled) {
  <div class="button-line">
    <a mat-raised-button color="primary" (click)="addDepositAddress()">{{ 'buy.add-deposit-address' | translate }}</a>
  </div>
}
