@import '../../../../../../theme/variables';

.-destination {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  .-icons {
    text-align: right;
    padding-top: 5px;

    img {
      width: 32px;
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.-options {
  padding-left: 5px;
  color: $main-color;
  cursor: pointer;
  font-size: 13px;

  mat-icon {
    color: $main-color;
    padding: 0;
    display: inline;
    vertical-align: middle;
    font-size: 13px;
  }
}

.destinations-label {
  display: inline-block;
}

.coin-selector-container {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

.coins-value-label {
  font-size: $font-size-mini;
  margin-top: 1px;
  padding: 3px 10px;
  background-color: $grey-lightest;
  border-radius: $input-border-radius;

  span {
    opacity: 0.5;
  }

  .link {
    display: inline-block;
    margin-bottom: 3px;
    margin-top: -5px;
  }

  .centerd-link {
    width: 100%;
    text-align: center;
  }
}
