<div class="sky-container sky-container-grey">
  <app-header title="Backup"></app-header>

  <mat-card>
    <p>
      Wallet Directory: {{ folder }}
      <mat-icon matTooltip="Wallet Directory contains .wlt files with seeds.
      You will be able to read only unencrypted wallet files.
      Use the table below to get seeds from your encrypted wallets.">help_outline</mat-icon>
    </p>

    <p>BACKUP YOUR SEED. ON PAPER. IN A SAFE PLACE. As long as you have your seed, you can recover your coins.</p>
  </mat-card>

  <ngx-datatable #table
                 class="material"
                 [rows]="onlyEncrypted"
                 columnMode="flex"
                 [headerHeight]="50"
                 [footerHeight]="50"
                 [rowHeight]="50"
                 [limit]="10"
                 [scrollbarH]="false">
    <ngx-datatable-column name="Wallet label" prop="label" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="File name" prop="filename" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Seed" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button mat-raised-button color="primary" (click)="showSeed(row)" class="in-table">Show seed</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
