@import '../../../../../theme/variables';

.-paper {
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  padding: 20px;
  font-size: $font-size-standard;
  margin: 30px 30px 0;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.-text-muted {
  color: $grey;
}

.-text-right {
  text-align: right;
}

.-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
