<div class="sky-container sky-container-grey">
  <app-header [title]="'title.backup' | translate"></app-header>

  <mat-card>
    <p>{{ 'backup.wallet-directory' | translate }} {{ folder }}</p>
    <p>{{ 'backup.seed-warning' | translate }}</p>
    <p class="text-muted"><small [innerHtml]="'backup.desc' | translate"></small></p>
  </mat-card>

  <mat-card class="-table">
    <div class="row -table-header">
      <div class="col-md-4">{{ 'backup.wallet' | translate }}</div>
      <div class="col-md-4">{{ 'backup.filename' | translate }}</div>
      <div class="col-md-4">{{ 'backup.seed' | translate }}</div>
    </div>
    <div class="row -table-row" *ngFor="let wallet of onlyEncrypted">
      <div class="col-md-4"><span>{{ wallet.label }}</span></div>
      <div class="col-md-4"><span>{{ wallet.filename }}</span></div>
      <div class="col-md-4">
        <button mat-raised-button color="primary" (click)="showSeed(wallet)">{{ 'backup.show-seed' | translate }}</button>
      </div>
    </div>
  </mat-card>
</div>
