@import '../../../../theme/variables';

$close-button-size: 32px;

.-header {
  background-color: $grey-lightest;
  line-height: 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 $close-button-size 0 $close-button-size;

  img {
    height: $close-button-size;
    position: absolute;
    right: 9px;
    top: 9px;
  }
}

mat-dialog-content::before {
  content: '';
  padding-top: $modal-content-padding;
  height: 0px;
  display: block;
}

mat-dialog-content::after {
  content: '';
  padding-top: $modal-content-padding;
  height: 0px;
  display: block;
}
