.-header {
  background-color: #f7f7f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 50px;
  position: relative;
  text-align: center;

  img {
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 9px;
    top: 9px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.-body {
  background-color: #fbfbfb;
  padding: 0px 24px;
}

mat-dialog-content::before {
  content: '';
  padding-top: 24px;
  height: 0px;
  display: block;
}

mat-dialog-content::after {
  content: '';
  padding-top: 24px;
  height: 0px;
  display: block;
}
