<div id="loadingModal" class="modal bottom-sheet" [ngClass]="{modalShow:loading}">
  <div class="modal-content">
    <h4>Loading please wait...</h4>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
  </div>
</div>
