<app-modal class="modal" [headline]="'send.bulk-send.title' | translate" [dialog]="dialogRef">
  <div class="-body">
    {{ 'send.bulk-send.indications' | translate }}
  </div>
  <div [formGroup]="form" class="form-container">
    <div class="form-field">
      <textarea formControlName="data" id="data" rows="5"></textarea>
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="processData()" class="primary">
      {{ 'send.bulk-send.process' | translate }}
    </app-button>
  </div>
</app-modal>
