<app-modal [headline]="'send.bulk-send.title' | translate" [dialog]="dialogRef">
  {{ 'send.bulk-send.indications' | translate }}
  <div [formGroup]="form" class="modal-form-container">
    <div class="form-field">
      <textarea
        formControlName="data"
        id="data"
        rows="5"
        [appFormFieldError]="inputErrorMsg"
        (blur)="validateForm()"
      ></textarea>
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="processData()" class="primary-button" [disabled]="!form.valid">
      {{ 'send.bulk-send.process-button' | translate }}
    </app-button>
  </div>
</app-modal>
