body{font-size:8pt;font-family:"Lucida Console",Monaco,monospace;color:#5C0D11;background:#E3E0D1;padding:2px;margin:0px}
p{padding:3px 1px;margin:0}
img{border:0}

a{color:#5C0D11}
a:hover{color:#9B4E03}

/* shared table stuff */
table.itg{width:99%;min-width:925px;max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;border:2px ridge #5C0D12;font-size:9pt}
table.itg th{font-weight:bold;text-align:left;padding:3px 4px 3px 4px;background:#E0DED3}
div.itg{width:99%;min-width:925px;max-width:1175px;border-collapse:collapse;margin:0px auto;padding:3px;border-top:2px ridge #5C0D12;border-bottom:2px ridge #5C0D12}

/* gallery table */
tr.gtr{background:#EBE8DD}
tr.gtr0{background:#EDEBDF}
tr.gtr1{background:#F2F0E4}

/* gallery row */
img.it{border:1px solid #5C0D12;padding:0;margin:0 !important;width:14px;height:14px}
div.it2{z-index:8;background:#EDEBDF;visibility:hidden;position:absolute}
div.it3{float:left;height:16px;padding-top:1px}
div.it4{width:85px;height:16px;float:right;text-align:right;position:relative}
div.it4r{float:right;margin-left:5px}
div.it4t{height:16px;width:100px;position:absolute;top:0px;left:-97px;z-index:9}
div.it5{overflow:hidden;float:left;height:16px;max-width:680px;padding-left:3px}
td.itd{text-align:left;padding:3px 4px;border-right:1px solid #D9D7CC}
td.itd a{text-decoration:none}
td.itu{text-align:left;padding:3px 4px;border-right:1px solid #D9D7CC}
td.itu a{text-decoration:none}
td.itu div{width:120px;overflow:hidden}
td.itdc{text-align:left;padding:0 1px 0 2px;margin:0;border-right:1px solid #D9D7CC}

div.block-data {
    background:#EDEBDF;
    margin: 2px 2px 5px 2px;
    border: 1px solid #5C0D12;
}

input {
    display: block;
}
textarea {
    display: block;
}

input[type="text"] {
    width: 300px;
}
