<div id="sky-header">
    <div class="fa fa-cloud background-cloud-0"><i class="fa fa-btc"></i></div>
</div>
<div id="sky-center">
    <div id="main-content" class="ng-isolate-scope">
        <div class="header-for-total-sky">
          <span class="total-sky-text">Confirmed Balance: {{totalSky|number}} SKY</span>
        </div>
        <ul ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" class="nav nav-tabs">
            <li [class.active]="displayMode === displayModeEnum.first">
                <a (click)="switchTab(displayModeEnum.first, '')" class="ng-binding">
                    <tab-heading class="ng-scope">
                         Wallets
                    </tab-heading>
                </a>
            </li>
            <li [class.active]="displayMode === displayModeEnum.second">
                <a (click)="switchTab(displayModeEnum.second,'')" class="ng-binding">
                    <tab-heading class="ng-scope">
                         Send
                    </tab-heading>
                </a>
            </li>
            <li [class.active]="displayMode === displayModeEnum.third">
                <a (click)="switchTab(displayModeEnum.third,'')" class="ng-binding">
                    <tab-heading class="ng-scope">
                        <i class="fa"></i> History
                    </tab-heading>
                </a>
            </li>
            <li [class.active]="displayMode === displayModeEnum.fourth">
                <a (click)="switchTab(displayModeEnum.fourth,'')" class="ng-binding">
                    <tab-heading class="ng-scope">
                        <i class="fa"></i> Blockchain Explorer
                    </tab-heading>
                </a>
            </li>
            <li [class.active]="displayMode === displayModeEnum.fifth">
                <div class="btn-group wallet-menu">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                        <i class="fa fa-gear"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu pull-right">
                        <li><a href="#" (click)="selectMenu('Networking', $event)">Networking</a></li>
                        <li><a href="#" (click)="selectMenu('BlockChain', $event)">BlockChain</a></li>
                        <li><a href="#" (click)="selectMenu('Outputs', $event)">Outputs</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="tab-content">
            <div [class.active]="displayMode === displayModeEnum.first"  class="tab-pane ng-scope active">
              <div style="padding:0 10px 20px 10px;display:inline-block;width:100%">
                <div class="wallet-buttons">
                    <button class="btn btn-default" type="button" (click)="showNewWalletDialog()"><i class="fa fa-plus-square"></i> New Wallet</button>
                    <button class="btn btn-default" type="button" (click)="openLoadWallet()"><i class="fa fa-circle-o"></i> Load Wallet From Seed</button>
                </div>
                  <table id="overview-wallet" class="outline" >
                        <thead>
                        <tr class="dark-row">
                            <td style="width:30px;"></td>
                            <td>Label</td>
                            <td>Address</td>
                            <td class="text-center" colspan="2">Balance</td>
                            <td class="text-center" colspan="2">Addresses</td>
                        </tr>
                        </thead>
                        <tbody *ngFor="let wallet of wallets">
                        <tr>
                            <td>
                                <a href="#" (click)="toggleShowChild(wallet)" *ngIf="!wallet.showChild"><i class="fa fa-angle-right"></i></a>
                                <a href="#" (click)="toggleShowChild(wallet)" *ngIf="wallet.showChild"><i class="fa fa-angle-down"></i></a>
                            </td>
                            <td><a href="#" (click)="editWallet(wallet)"><i class="fa fa-edit"></i></a>&nbsp;{{wallet.meta.label?wallet.meta.label:'Undefined'}}</td>
                            <td></td>
                            <td class="text-right"><a href="#" (click)="switchTab(displayModeEnum.second, wallet)" ><i class="fa fa-cloud-upload"></i></a>&nbsp;</td>
                            <td class="text-left">{{wallet.entries[0].balance}} SKY</td>
                            <td class="text-right">{{wallet.entries.length}}&nbsp;</td>
                            <td class="text-right">
                                <a href="#" (click)="addNewAddress(wallet)"><i class="fa fa-plus add-address"></i></a></td>
                        </tr>
                        <tr *ngFor="let entry of wallet.entries; let idx=index" [hidden]="!wallet.showChild" style="background-color: #f4f5f6">
                            <td></td>
                            <td class="text-center">  {{idx+1}}</td>
                            <td><a href="#" (click)="showQR(wallet)"><i class="fa " aria-hidden="true"></i>&nbsp;<i class="fa fa-qrcode"></i></a>&nbsp;{{entry.address}}</td>
                            <td></td>
                            <td><a href="#" (click)="switchTab(displayModeEnum.second, wallet)" ><i class="fa fa-cloud-upload"></i></a>&nbsp;{{entry.balance?entry.balance:0}} SKY</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                  <!-- historyPager -->
              </div>
            </div>

            <div tab-content-transclude="tab" [class.active]="displayMode === displayModeEnum.second" class="tab-pane ng-scope">
                <div class="outline ng-scope">
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label"><i class="fa fa-question-circle"></i>&nbsp;Wallet:</label>
                          <div class="col-sm-6">
                            <select class="form-control" #selectedWallet2 (change)="onSelectWallet(selectedWallet2.value)">
                              <option>Select Wallet</option>
                              <option *ngFor="let item of walletsWithAddress" [disabled]="item.type=='address'" [selected]="item.type=='wallet'&&item.wallet.meta.filename==spendid" value="{{item.type=='wallet'?item.wallet.meta.filename:''}}">
                                {{item.type=='wallet'?(item.wallet.meta.label?item.wallet.meta.label:'Undefined') + '(All) - ' + item.wallet.balance + 'SKY':(item.wallet.meta.label?item.wallet.meta.label:'Undefined') + item.idx + '(' + item.entry.address + ') - ' + (item.entry.balance?item.entry.balance:0) + ' SKY'}}
                              </option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Pay To:</label>
                          <div class="col-sm-6">
                              <input type="text" #spendaddress class="form-control" (change)="checkValidAddress(spendaddress.value)">
                          </div>
                          <div class="col-sm-4">
                            <div *ngIf="isValidAddress"><i class="fa fa-2x fa-check"></i> Valid Address</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Amount:</label>
                          <div class="col-sm-6">
                              <input type="number" #spendamount class="form-control" value="0">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Note:</label>
                          <div class="col-sm-6">
                              <input type="text" #transactionNote class="form-control" placeholder="Short Description of Transaction">
                          </div>
                      </div>
                      <!--<div class="form-group">
                          <label class="col-sm-2 control-label">Password:</label>
                          <div class="col-sm-6">
                              <input type="password" #walletPassword class="form-control" placeholder="Wallet Password">
                          </div>
                      </div>-->
                      <div class="form-group">
                          <label class="col-sm-2 control-label"></label>
                          <div class="col-sm-6">
                              <button type="button" class="btn btn-default" [disabled]="!isValidAddress" (click)="spend(spendid, spendaddress.value, spendamount.value)">Send</button>
                          </div>
                      </div>
                  </form>
                    <div style="width:100%;overflow:auto;">
                        <table id="pending-table">
                            <tbody>
                            <tr class="dark-row">
                                <td>Time</td>
                                <td>Status</td>
                                <td>Address</td>
                                <td>Notes</td>
                                <td>Amount</td>
                                <td>Transaction ID</td>
                            </tr>
                            <tr *ngFor="let transaction of pendingTable">
                                <td>{{getDateTimeString(transaction.txn.time)}}</td>
                                <td>{{transaction.balance.confirmed.coins?'Completed':'Pending'}}</td>
                                <td>{{transaction.txn.address}}</td>
                                <td></td>
                                <td>{{transaction.txn.amount}}</td>
                                <td>{{transaction.txn.txid}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div tab-content-transclude="tab" [class.active]="displayMode === displayModeEnum.third" class="tab-pane ng-scope">
                <div class="outline ng-scope">
                  <form class="form-horizontal" (keyup.enter)="searchHistory(historySearchKey.value)" (submit)="searchHistory(historySearchKey.value)">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Search:</label>
                          <div class="col-sm-6">
                              <input #historySearchKey placeholder="Address or Transaction ID" class="form-control" >
                          </div>
                          <div class="col-sm-4">
                            <button type="submit" class="btn btn-default">Search</button>
                          </div>
                      </div>
                  </form>
                  <div style="width:100%;overflow:auto;">
                    <table id="transaction-table">
                        <thead>
                        <tr class="dark-row">
                            <td style="width:80px">
                              <a href="#" (click)="sortHistory('time')" class="text-underline">Time
                              <i *ngIf="sortDir.time!=0" class="glyphicon glyphicon-triangle-{{sortDir.time==1?'top':'bottom'}}"></i></a>
                            </td>
                            <td>Status</td>
                            <td>Type</td>
                            <td>Addresses</td>
                            <td>Notes</td>
                            <td>Amount</td>
                            <td>Transaction ID</td>
                        </tr>
                      </thead>
                          <tbody >
                            <tr *ngFor="let transaction of historyPagedItems">
                              <td>{{getDateTimeString(transaction.txn.timestamp)}}</td>
                              <td>{{transaction.status.confirmed?'Complete':'Pending'}}</td>
                              <td>{{transaction.txn.type}}</td>
                              <td>
                                From : <span *ngFor="let item of transaction.txn.inputs">{{item}},<br></span>
                                To : <span *ngFor="let item of transaction.txn.outputs">{{item.dst}},<br></span>
                              </td>
                              <td>{{transaction.notes}}</td>
                              <td>{{GetTransactionAmount(transaction)}}</td>
                              <td>{{transaction.txn.txid}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                    <ul *ngIf="historyPager.pages&&historyPager.currentPage&&historyPager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:historyPager.currentPage === 1}">
                            <a (click)="setHistoryPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:historyPager.currentPage === 1}">
                            <a (click)="setHistoryPage(historyPager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of historyPager.pages" [ngClass]="{active:historyPager.currentPage === page}">
                            <a (click)="setHistoryPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:historyPager.currentPage === historyPager.totalPages}">
                            <a (click)="setHistoryPage(historyPager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:historyPager.currentPage === historyPager.totalPages}">
                            <a (click)="setHistoryPage(historyPager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div tab-content-transclude="tab" [class.active]="displayMode === displayModeEnum.fourth" class="tab-pane ng-scope">
              <div class="outline ng-scope" style="overflow:auto;">
                <form class="form-horizontal" (keyup.enter)="searchBlockHistory(blockSearchKey.value)" (submit)="searchBlockHistory(blockSearchKey.value)">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Search:</label>
                        <div class="col-sm-6">
                            <input #blockSearchKey placeholder="Block Number, Block Hash, Transaction, or Address" class="form-control" >
                        </div>
                        <div class="col-sm-4">
                          <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="blockViewMode=='recentBlocks'">
                  <p>Recent Blocks<p>
                  <table id="transaction-table">
                      <thead>
                      <tr class="dark-row">
                          <td>Time</td>
                          <td>Block #</td>
                          <td>Transactions</td>
                          <td>Amount Transferred</td>
                          <td>Transaction ID</td>
                      </tr>
                    </thead>
                        <tbody >
                          <tr *ngFor="let block of blockPagedItems">
                            <td>{{getDateTimeString(block.header.timestamp)}}</td>
                            <td><a href="#" (click)="showBlockDetail(block)" class="text-underline">{{block.header.seq}}</a></td>
                            <td>{{block.body.txns.length}}</td>
                            <td>{{GetBlockAmount(block)}}</td>
                            <td>
                              <p *ngFor="let txns of block.body.txns">
                                {{txns.txid}}
                              </p>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <ul *ngIf="blockPager.pages" class="pagination">
                      <li [ngClass]="{disabled:blockPager.currentPage === 1}">
                          <a (click)="setBlockPage(1)">First</a>
                      </li>
                      <li [ngClass]="{disabled:blockPager.currentPage === 1}">
                          <a (click)="setBlockPage(blockPager.currentPage - 1)">Previous</a>
                      </li>
                      <li *ngFor="let page of blockPager.pages" [ngClass]="{active:blockPager.currentPage === page}">
                          <a (click)="setBlockPage(page)">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:blockPager.currentPage === blockPager.totalPages}">
                          <a (click)="setBlockPage(blockPager.currentPage + 1)">Next</a>
                      </li>
                      <li [ngClass]="{disabled:blockPager.currentPage === blockPager.totalPages}">
                          <a (click)="setBlockPage(blockPager.totalPages)">Last</a>
                      </li>
                  </ul>
                </div>
                <div *ngIf="blockViewMode=='blockDetail'">
                    <div>
                      <a href="#" (click)="showRecentBlock()" class="text-underline"><i class="fa fa-arrow-left"></i> Recent Blocks</a>
                    </div>
                    <h4>Block #{{selectedBlock.header.seq}}</h4>
                    <p>
                      Height: {{selectedBlock.header.seq}}
                    </p>
                    <p>
                      Timestamp: {{getDateTimeString(selectedBlock.header.timestamp)}}
                    </p>
                    <p>
                      Hash: {{selectedBlock.header.hash}}
                    </p>
                    <p>
                      Parent Hash: {{selectedBlock.header.prev_hash}}
                    </p>
                    <p>
                      Transactions: {{selectedBlock.body.txns.length}}
                    </p>
                    <p>
                      Total Value: {{GetBlockTotalAmount(selectedBlock)}} SKY
                    </p>
                    <br/>
                    <h4>Transactions</h4>
                    <table class="table" style="width:100%;font-size:11px;">
                        <tbody *ngFor="let txns of selectedBlock.body.txns">
                            <tr style="background:white">
                              <td colspan="2">{{getDateTimeString(selectedBlock.header.timestamp)}}</td>
                              <td colspan="2"><a class="pull-right text-underline" href="#" (click)="showBlockTransactionDetail(txns)">{{txns.txid}}</a></td>
                            </tr>
                            <tr style="background:white">
                              <td>
                                <p *ngFor="let item of txns.inputs">{{item}}</p>
                              </td>
                              <td><i class="fa fa-2x fa-arrow-right"></i></td>
                              <td>
                                <p *ngFor="let item of txns.outputs"><a href="#" (click)="showBlockAddressDetail(item.dst)" class="text-underline">{{item.dst}}</a></p>
                              </td>
                              <td>
                                <div>
                                  <p *ngFor="let item of txns.outputs" class="text-right">{{item.coins}}</p>
                                </div>
                                <p class="text-right">Total SKY: {{GetTransactionAmount2(txns)}}</p>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="blockViewMode=='blockTransactionDetail'">
                  <div>
                    <a href="#" (click)="showRecentBlock()" class="text-underline"><i class="fa fa-arrow-left"></i> Recent Blocks</a>
                  </div>
                  <h4>Transaction: {{selectedBlockTransaction.txid}}</h4>
                  <p>
                    Timestamp: {{getDateTimeString(selectedBlock.header.timestamp)}}
                  </p>
                  <p>Block #{{selectedBlock.header.seq}}</p>
                  <p>
                    Confirmations:
                  </p>
                  <p>
                    Total Value: {{GetTransactionAmount2(selectedBlockTransaction)}} SKY
                  </p>
                  <table class="table" style="width:100%;font-size:11px;">
                      <tbody >
                          <tr style="background:white">
                            <td>
                              <p *ngFor="let item of selectedBlockTransaction.inputs">{{item}}</p>
                            </td>
                            <td><i class="fa fa-2x fa-arrow-right"></i></td>
                            <td>
                              <p *ngFor="let item of selectedBlockTransaction.outputs"><a href="#" (click)="showBlockAddressDetail(item.dst)" class="text-underline">{{item.dst}}</a></p>
                            </td>
                            <td>
                              <div>
                                <p *ngFor="let item of selectedBlockTransaction.outputs" class="text-right">{{item.coins}}</p>
                              </div>
                              <p class="text-right">Total SKY: {{GetTransactionAmount2(selectedBlockTransaction)}}</p>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div *ngIf="blockViewMode=='blockAddressDetail'">
                    <div>
                      <a href="#" (click)="showRecentBlock()" class="text-underline"><i class="fa fa-arrow-left"></i> Recent Blocks</a>
                    </div>
                    <h4>Address: {{selectedBlockAddress}}</h4>
                    <p>
                      Number of Transactions:
                    </p>
                    <p>
                      Balance: {{selectedBlockAddressBalance}} SKY
                    </p>
                    <p>
                      Total Received:
                    </p>
                    <p>
                      Total Sent:
                    </p>
                    <br/>
                    <h4>Transactions</h4>
                    <table class="table" style="width:100%;font-size:11px;">
                        <tbody *ngFor="let ux of selectedBlackAddressTxList">
                        <tr style="background:white">
                            <td colspan="2">{{getDateTimeString(ux.time)}}</td>
                            <td colspan="2"><span class="pull-right">{{ux.uxid}}</span></td>
                        </tr>
                        <tr style="background:white">
                            <td>
                                <p><a href="#" (click)="showTransactionDetail(ux.src_tx)" class="text-underline">{{ux.src_tx}}</a></p>
                            </td>
                            <td><i class="fa fa-2x fa-arrow-right" style="color:{{ux.type=='in'?'green':'red'}}"></i></td>
                            <td>
                                <p><a href="#" (click)="showTransactionDetail(ux.spent_tx)" class="text-underline">{{ux.spent_tx}}</a></p>
                            </td>
                            <td>
                                <div>
                                    <p>{{ux.coins/1000000|number}} SKY</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div tab-content-transclude="tab" [class.active]="displayMode === displayModeEnum.fifth" class="tab-pane ng-scope">
                <div class="outline ng-scope">
                    <div *ngIf="selectedMenu=='Networking'" style="padding-top:10px">
                        <p>Automatic Peers</p>
                        <table class="outline" style="width:100%">
                            <thead>
                            <tr class="dark-row">
                                <th class="text-center">ID</th>
                                <th class="text-center">Address</th>
                                <th class="text-center">Listen Port</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of connections">
                                <td class="text-center">{{item.id}}</td>
                                <td class="text-center">{{item.address}}</td>
                                <td class="text-center">{{item.listen_port}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <p style="margin:20px 0 10px">
                            Default Peers
                            <!--<button class='btn btn-default pull-right' style="margin-top: -10px;">Refresh</button>-->
                            <button class='btn btn-default pull-right' style="margin-top: -10px;" (click)="showNewDefaultConnectionDialog()">New</button>
                        </p>
                        <table class="outline" style="width:100%">
                            <thead>
                            <tr class="dark-row">
                                <th class="text-center">No</th>
                                <th class="text-center">Address</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of defaultConnections;let i=index">
                                <td class="text-center">{{i+1}}</td>
                                <td class="text-center">{{item}}</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-default" (click)="showEditDefaultConnectionDialog(item)">Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="deleteDefaultConnection(item)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="selectedMenu=='BlockChain'" style="padding-top:10px">
                        <p>BlockChain</p>
                        <table class="table-bordered" style="width:100%">
                            <tr style="background:white">
                                <th class="text-center dark-row">Number of blocks</th>
                                <td>{{blockChain.length}}</td>
                            </tr>
                            <tr style="background:white">
                                <th class="text-center dark-row">Time since last block</th>
                                <td>{{getElapsedTime(blockChain[0].header.timestamp)|number}} sec</td>
                            </tr>
                            <tr style="background:white">
                                <th class="text-center dark-row">Hash of last block</th>
                                <td>{{blockChain[0].header.hash}}</td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="selectedMenu=='Outputs'" style="padding-top:10px">
                        <p>Outputs</p>
                        <div class="main-content ng-scope">
                            <table class="table table-bordered" style="width:100%">
                                <thead>
                                <tr class="dark-row">
                                    <th>Address</th>
                                    <th>Coins</th>
                                    <th>Hours</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of outputs" style="background:white">
                                    <td>{{item.address}}</td>
                                    <td>{{item.coins}}</td>
                                    <td>{{item.hours}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sky-footer">
    <div *ngIf="progress>100" class="message">Downloading Blockchain</div>
    <!--progressbar *ngIf="progress>99" class="progress-striped active" value="progress" type="info"></progressbar-->
    <div *ngIf="progress>100" class="progress-striped active progress ng-isolate-scope" type="info" value="progress">
        <div aria-valuetext="80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="progress" role="progressbar" ng-class="type &amp;&amp; 'progress-bar-' + type" class="progress-bar progress-bar-info" style="width: {{progress}}%;"></div>
    </div>
    <div  *ngIf="progress>100" class="percent">{{progress}}%</div>
</div>


<!-- Popup for view QR code -->
<div *ngIf="QrIsVisible" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" ng-class="{in: animate}" class="modal-backdrop fade  in" modal-backdrop="" style="z-index: 1040;"></div>
<div *ngIf="QrIsVisible" class="modal fade show in" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="qr-container">
                    <qrcode [size]="300" [level]="'L'" [qrdata]="QrAddress"></qrcode>
                    <div class="qrAddress">{{QrAddress}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="hideQrPopup()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Popup for add new wallet -->
<div *ngIf="NewWalletIsVisible" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" ng-class="{in: animate}" class="modal-backdrop fade  in" modal-backdrop="" style="z-index: 1040;"></div>
<div *ngIf="NewWalletIsVisible" class="modal fade show in" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideWalletPopup()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Wallet</h4>
            </div>
            <form #newWalletForm="ngForm" (ngSubmit)="createNewWallet(walletLabel.value, walletseed.value, addressCount.value)" class="form-horizontal">
            <div class="modal-body">
                  <div class="form-group">
                      <label class="col-sm-3 control-label"><i class="fa fa-question-circle"></i>&nbsp;Label:</label>
                      <div class="col-sm-9">
                          <input maxlength="60" #walletLabel name="walletLabel" placeholder="Name of Wallet" class="form-control" required/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-3 control-label"><i class="fa fa-question-circle"></i>&nbsp;Seed:</label>
                      <div class="col-sm-9">
                          <textarea rows="4" #walletseed  placeholder="Name of Wallet" cols="46" class="form-control" value="{{randomWords}}"></textarea>
                      </div>
                  </div>
                  <!--<div class="form-group">
                      <label class="col-sm-3 control-label">Password:</label>
                      <div class="col-sm-9">
                          <input type="password" #password placeholder="Your Password" class="form-control" required/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-3 control-label">Confirm:</label>
                      <div class="col-sm-9">
                          <input type="password" #confirmPassword placeholder="Confirm Password" class="form-control" required/>
                      </div>
                  </div> -->
                  <div class="form-group">
                      <label class="col-sm-3 control-label"><i class="fa fa-question-circle"></i>&nbsp;Addresses to Create:</label>
                      <div class="col-sm-9">
                          <input type="Number" #addressCount class="form-control" value="1" required/>
                      </div>
                  </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" [disabled]="!newWalletForm.form.valid">Create</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Popup for edit wallet -->
<!--<div *ngIf="EditWalletIsVisible" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" ng-class="{in: animate}" class="modal-backdrop fade  in" modal-backdrop="" style="z-index: 1040;"></div>-->
<div *ngIf="EditWalletIsVisible" class="modal fade show in" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideEditWalletPopup()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update wallet - {{walletId}}</h4>
            </div>
            <form class="form-horizontal" (ngSubmit)="updateWallet(walletId, walletname.value)">
            <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-9">
                            <input maxlength="60" #walletname name="walletname" placeholder="Enter label for this wallet" class="form-control" required/>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Ok</button>
                <button type="button" class="btn" (click)="hideEditWalletPopup()">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Popup for load wallet from seed -->
<!--<div *ngIf="loadSeedIsVisible" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" ng-class="{in: animate}" class="modal-backdrop fade  in" modal-backdrop="" style="z-index: 1040;"></div>-->
<div *ngIf="loadSeedIsVisible" class="modal fade show in" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" (click)="hideLoadSeedWalletPopup()" class="close">&times;</button>
                <h4 class="modal-title">Load wallet by seed</h4>
            </div>
            <form class="form-horizontal" (ngSubmit)="createWalletSeed(walletname.value, walletseed.value)">
            <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-9">
                            <input maxlength="60" #walletname name="walletname" placeholder="Enter label for this wallet" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Seed:</label>
                        <div class="col-sm-9">
                            <textarea rows="4" #walletseed name="walletseed" cols="46" class="form-control" required></textarea>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Ok</button>
                <button type="button" class="btn" (click)="hideLoadSeedWalletPopup()">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="NewDefaultConnectionIsVisible" class="modal fade show in" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideNewDefaultConnectionDialog()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Default Connection</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Connection:</label>
                        <div class="col-sm-9">
                            <input maxlength="60" #connectionName placeholder="ex)192.168.1.200:1234" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="createDefaultConnection(connectionName.value)">Ok</button>
                <button type="button" class="btn" (click)="hideNewDefaultConnectionDialog()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="EditDefaultConnectionIsVisible" class="modal fade show in" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="hideEditDefaultConnectionDialog()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Default Connection</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Connection:</label>
                        <div class="col-sm-9">
                            <input maxlength="60" #connectionName placeholder="ex)192.168.1.200:1234" class="form-control" value="{{oldConnection}}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="updateDefaultConnection(connectionName.value)">Ok</button>
                <button type="button" class="btn" (click)="hideEditDefaultConnectionDialog()">Cancel</button>
            </div>
        </div>
    </div>
</div>
