<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <span *ngIf="date">
    <!-- Date -->
    <span class="timezone-icon" [ngClass]="{'timezone-icon-opaque': mouseOver}" >&#xf0ac;</span>{{date * dateMultiplier | date:'yyyy-MM-dd'}}
    <!-- Time -->
    <span class="-gray">{{date * dateMultiplier | date:'HH:mm:ss'}}</span>
  </span>
  <!-- Time zone -->
  <div *ngIf="date && mouseOver" class="timezone-container">
    <div class="timezone-label">{{date * dateMultiplier | date:'OOOO'}}</div>
  </div>
</div>
