<div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  @if (date) {
    <span>
      <!-- Date -->
      <span class="timezone-icon" [ngClass]="{'timezone-icon-opaque': mouseOver}" >&#xf0ac;</span>{{date * dateMultiplier | date:'yyyy-MM-dd'}}
      <!-- Time -->
      <span class="-gray">{{date * dateMultiplier | date:'HH:mm:ss'}}</span>
    </span>
  }
  <!-- Time zone -->
  @if (date && mouseOver) {
    <div class="timezone-container">
      <div class="timezone-label">{{date * dateMultiplier | date:'OOOO'}}</div>
    </div>
  }
</div>
