<app-header [headline]="'reset.title' | translate"></app-header>
<div class="container">
  <div class="paper">
    <div [formGroup]="form">
      <!-- Form fields. -->
      <div class="form-field">
        <label for="wallet">{{ 'reset.wallet-label' | translate }}</label>
        <div class="-not-allowed"><input formControlName="wallet" id="wallet" readonly [ngClass]="{'element-disabled' : busy}"></div>
      </div>
      <div class="form-field">
        <label for="seed">{{ 'reset.seed-label' | translate }}</label>
        <textarea
          formControlName="seed"
          id="seed"
          row="2"
          [attr.disabled]="busy ? 'true' : null"
          [appFormFieldError]="seedErrorMsg"
          (blur)="validateForm()"
        ></textarea>
      </div>
      <div class="form-field">
        <label for="password">{{ 'reset.password-label' | translate }}</label>
        <input formControlName="password" id="password" type="password" appDontSavePassword [attr.disabled]="busy ? 'true' : null">
      </div>
      <div class="form-field">
        <label for="confirm">{{ 'reset.confirm-label' | translate }}</label>
        <input
          formControlName="confirm"
          id="confirm"
          type="password"
          appDontSavePassword
          (keydown.enter)="reset()"
          [attr.disabled]="busy ? 'true' : null"
          [appFormFieldError]="passwordErrorMsg"
          (blur)="validateForm()"
        >
      </div>
      <!-- Button area. -->
      <div class="text-center">
        <app-button #resetButton (action)="reset()" class="primary-button" [disabled]="!form.valid">
          {{ 'reset.reset-button' | translate }}
        </app-button>
      </div>
    </div>
  </div>
  <!-- Needed to force Chrome respect any previous bottom margin. -->
  <div class="final-element"></div>
</div>
