.-buttons {
  text-align: center;
}

.-paper {
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  padding: 30px;
  margin: 30px;
}

.-disabled {
  opacity: 0.5;
}
