<app-header [headline]="'reset.title' | translate"></app-header>
<div class="container">

  <!-- Loading animation. -->
  <app-loading-content
    [isLoading]="false"
    noDataText="reset.invalid-wallet"
    *ngIf="invalidWallet"
  ></app-loading-content>

  <div class="paper"  *ngIf="!invalidWallet && wallet">
    <div [formGroup]="form">
      <!-- Form fields. -->
      <div class="form-field">
        <label for="wallet">{{ 'reset.wallet-label' | translate }}</label>
        <div class="-not-allowed"><input formControlName="wallet" id="wallet" readonly [ngClass]="{'element-disabled' : busy}"></div>
      </div>
      <!-- Manual seed. -->
      <div class="form-field" [ngClass]="{'d-none': enterSeedWithAssistance}">
        <label for="seed">{{ 'reset.seed-label' | translate }}</label>
        <textarea
          formControlName="seed"
          id="seed"
          row="2"
          [attr.disabled]="busy ? 'true' : null"
          [appFormFieldError]="seedErrorMsg"
          (blur)="validateForm()"
        ></textarea>
        <!-- Change seed mode link. -->
        <div [ngClass]="{'element-disabled' : busy}" class="seed-type-button">
          <span class="link" (click)="changeSeedType()">
            <mat-icon [inline]="true">format_list_numbered</mat-icon>{{ 'wallet.new.seed.use-normal' | translate }}
          </span>
        </div>
      </div>
      <!-- How many words the seed has (while using the assisted mode only). -->
      <div class="form-field" *ngIf="enterSeedWithAssistance" [ngClass]="{'d-none': !enterSeedWithAssistance}">
        <label for="number_of_words" (click)="!busy ? numberOfWords.open() : null">
          {{ 'reset.words-number-label' | translate}}
        </label>
        <div class="-select">
          <mat-select
            #numberOfWords
            formControlName="number_of_words"
            id="number_of_words"
            [attr.disabled]="busy ? 'true' : null"
            [ngClass]="{'element-disabled' : busy}"
          >
            <mat-option [value]="12">{{ 'reset.12-words' | translate }}</mat-option>
            <mat-option [value]="24">{{ 'reset.24-words' | translate }}</mat-option>
            <mat-select-trigger *ngIf="form.controls['number_of_words'].value">
              {{ this.form.controls['number_of_words'].value }}
            </mat-select-trigger>
          </mat-select>
        </div>
      </div>
      <!-- Assisted seed. -->
      <div class="form-field" [ngClass]="{'d-none': !enterSeedWithAssistance}">
        <label for="seed">{{ 'reset.seed-label' | translate }}</label>
        <app-assisted-seed-field
          #assistedSeed
          [showConfirmationOnly]="false"
          [busy]="busy"
          [emptyText]="'reset.enter-seed'"
          [howManyWords]="selectedNumberOfWords"
          [reasonForAsking]="wordAskedReasons.RecoveringSoftwareWalletPassword"
          (seedChanged)="assistedSeedChanged()">
        </app-assisted-seed-field>
        <!-- Change seed mode link. -->
        <div [ngClass]="{'element-disabled' : busy}" class="seed-type-button">
          <span class="link" (click)="changeSeedType()">
            <mat-icon [inline]="true">edit</mat-icon> {{ 'wallet.new.seed.use-custom' | translate }}
          </span>
        </div>
      </div>
      <!-- New password. -->
      <div class="form-field">
        <label for="password">{{ 'reset.password-label' | translate }}</label>
        <input formControlName="password" id="password" type="password" appDontSavePassword [attr.disabled]="busy ? 'true' : null">
      </div>
      <!-- Password confirmation. -->
      <div class="form-field">
        <label for="confirm">{{ 'reset.confirm-label' | translate }}</label>
        <input
          formControlName="confirm"
          id="confirm"
          type="password"
          appDontSavePassword
          (keydown.enter)="checkBeforeReset()"
          [attr.disabled]="busy ? 'true' : null"
          [appFormFieldError]="passwordErrorMsg"
          (blur)="validateForm()"
        >
      </div>
      <!-- Button area. -->
      <div class="text-center">
        <app-button #resetButton (action)="checkBeforeReset()" class="primary-button" [disabled]="!form.valid">
          {{ 'reset.reset-button' | translate }}
        </app-button>
      </div>
    </div>
  </div>
  <!-- Needed to force Chrome respect any previous bottom margin. -->
  <div class="final-element"></div>
</div>
