@import '../../../../../theme/variables';

.-record {
  display: flex;
  font-size: $font-size-standard;
  padding: 21px 0 16px $main-containers-small-padding;
  align-items: center;
  color: $black;

  &:not(:last-of-type) {
    border-bottom: 1px solid $grey-very-light;
  }

  .address-column {
    color: $grey;
    display: flex;
    align-items: center;

    app-qr-code-button {
      margin-right: 10px;
    }

    p {
      margin: 0;
      word-break: break-all;

      &:hover .copy-label {
        opacity: .999 !important;
      }
    }
  }

  .small-preview {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
  }

  .options-column {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    padding-right: $main-containers-small-padding !important;

    mat-icon {
      cursor: pointer;
      color: lighten($grey, 30%);

      &:hover {
        color: $main-color;
      }
    }
  }
}

.-actions {
  background-color: $white;
  display: flex;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
  z-index: 100;

  .-button {
    padding-right: 20px;
    padding-left: 0px;
    cursor: pointer;

    &:first-child {
      padding-left: 5px;
    }

    .-disabled-span {
      color: $grey !important;
      cursor: default;
      pointer-events: none;
    }

    span {
      color: lighten($color: $grey, $amount: 40%);
      font-size: $font-size-standard-minus;
      height: 60px;
      margin: 0 5px;
      display: flex;
      align-items: center;
      opacity: 0.8;

      &.-img::before {
        content: '';
        height: $normal-icon-size;
        width: $normal-icon-size;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: $normal-icon-size $normal-icon-size;
      }

      &.-address-options::before {
        background-image: url(/assets/img/list-grey.png);
      }

      &.-hide-empty::before {
        background-image: url(/assets/img/minus-grey.png);
      }

      &.-show-empty::before {
        background-image: url(/assets/img/plus-grey.png);
      }

      &.-enable-encryption::before {
        background-image: url(/assets/img/lock-grey.png);
      }

      &.-disable-encryption::before {
        background-image: url(/assets/img/unlock-grey.png);
      }

      &.-rename-wallet::before {
        background-image: url(/assets/img/edit-grey.png);
      }

      &.-btn-delete::before {
        background-image: url(/assets/img/delete-grey.png);
      }

      &:active {
        opacity: 1;
      }
    }

    &:hover {
      span {
        color: $grey;

        &.-address-options::before {
          background-image: url(/assets/img/list-blue.png);
        }

        &.-hide-empty::before {
          background-image: url(/assets/img/minus-red.png);
        }

        &.-show-empty::before {
          background-image: url(/assets/img/plus-green.png);
        }

        &.-enable-encryption::before {
          background-image: url(/assets/img/lock-gold.png);
        }

        &.-disable-encryption::before {
          background-image: url(/assets/img/unlock-gold.png);
        }

        &.-rename-wallet::before {
          background-image: url(/assets/img/edit-blue.png);
        }

        &.-btn-delete::before {
          background-image: url(/assets/img/delete-red.png);
        }
      }
    }

    mat-spinner {
      margin-left: 7px;
      margin-right: 12px;
      height: 18px !important;
      width: 18px !important;
    
      ::ng-deep svg {
        height: 18px !important;
        width: 18px !important;

        circle {
          stroke: $grey-light;
        }
      }
    }
  }
}

@keyframes floatup {
  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.copy-label {
  color: $main-color;
  opacity: 0;
  font-size: $font-size-standard-minus;
  position: relative;
  padding-left: 10px;

  &::after {
    content: attr(data-label);
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 4px;
    opacity: 0;
    line-height: 1;
  }
}

.unconfirmed-label {
  opacity: 0.5 !important;
}

.copying .copy-label::after {
  animation: floatup .5s ease-in-out;
}

.mat-menu-item {
  font-size: $font-size-standard;
  height: 35px;
  line-height: 35px;
}

.click-to-copy {
  cursor: pointer;

  mat-spinner {
    display: inline-block;
    height: 12px !important;
    width: 12px !important;
    margin-left: 7px !important;
    position: relative;
    top: 2px;

    ::ng-deep svg {
      height: 12px !important;
      width: 12px !important;

      circle {
        stroke: $main-color;
      }
    }
  }
}
