<!-- Option buttons. -->
<div class="-actions">
  <ng-container *ngIf="!wallet.isHardware">
    <div class="-button" (click)="openAddressOptions()">
      <span [ngClass]="{ '-img -address-options': !workingWithAddresses, '-disabled-span': workingWithAddresses }">
        <mat-spinner *ngIf="workingWithAddresses"></mat-spinner>
        {{ 'wallet.address-options.title' | translate }}
      </span>
    </div>
    <div class="-button" (click)="toggleEmpty()">
      <span [ngClass]="{ '-img': true, '-show-empty': hideEmpty, '-hide-empty': !hideEmpty }">
        {{ 'wallet.' + (hideEmpty ? 'show' : 'hide') + '-empty-button' | translate }}
      </span>
    </div>
  </ng-container>
  <div *ngIf="wallet.isHardware" class="-button btn-delete-wallet" (click)="deleteHwWallet()">
    <span class="-img -btn-delete">{{ 'wallet.delete-button' | translate }}</span>
  </div>
  <div class="flex-fill"></div>
  <div *ngIf="!wallet.temporal && !wallet.isHardware" class="-button" (click)="toggleEncryption()">
    <span [ngClass]="{ '-img': true, '-enable-encryption': !wallet.encrypted, '-disable-encryption': wallet.encrypted }">
      {{ 'wallet.' + (wallet.encrypted ? 'decrypt' : 'encrypt') + '-button' | translate }}
    </span>
  </div>
  <div class="-button" (click)="renameWallet()">
    <span [ngClass]="{ '-img -rename-wallet': !preparingToRename, '-disabled-span': preparingToRename }">
      <mat-spinner *ngIf="preparingToRename"></mat-spinner>
      {{ 'wallet.rename-button' | translate }}
    </span>
  </div>
</div>

<!-- Address list. -->
<ng-container *ngFor="let address of wallet.addresses; let i = index">
  <div class="-record" *ngIf="!hideEmpty || address.coins.isGreaterThan(0)">
    <!-- Address number. -->
    <div class="-width-50 grey-text">{{ i + 1 }}</div>
    <!-- Address. -->
    <div class="-flex-fill address-column">
      <!-- For confirmed addresses. -->
      <ng-container *ngIf="!wallet.isHardware || address.confirmed">
        <app-qr-code-button [address]="address.address"></app-qr-code-button>
        <p class="click-to-copy" [ngClass]="{ copying: copying.has(address.address) }" (click)="copyAddress($event, address)" (mouseleave)="copying.delete(address.address)">
          {{ address.address }}
          <mat-spinner *ngIf="confirmingIndex === i"></mat-spinner>
          <span [attr.data-label]="'wallet.address.copied' | translate" class="copy-label">
            {{ 'wallet.address.copy' | translate }}
          </span>
        </p>
      </ng-container>
      <!-- For unconfirmed addresses. -->
      <ng-container *ngIf="wallet.isHardware && !address.confirmed">
        <p class="click-to-copy" (click)="confirmAddress(wallet, i, true)">
          <span class="small-preview">{{ address.address }}</span>
          <span class="copy-label unconfirmed-label">
            {{ 'wallet.address.show' | translate }}
            <mat-spinner *ngIf="confirmingIndex === i"></mat-spinner>
          </span>
        </p>
      </ng-container>
    </div>
    <!-- Coins and hours. -->
    <div class="-width-130 text-right">{{ (address.coins ? address.coins : 0) | amount:true:'first' }}</div>
    <div class="-width-130 text-right grey-text">{{ (address.hours ? address.hours : 0) | amount:false:'first' }}</div>
    <!-- Options. -->
    <div class="-width-85 options-column">
      <mat-icon [matMenuTriggerFor]="optionsMenu">more_vert</mat-icon>
      <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="copyAddress($event, address, 1000)" *ngIf="!wallet.isHardware || address.confirmed">
          {{ 'wallet.address.' + (copying.has(address.address) ? 'copied': 'copy-address') | translate }}
        </button>
        <button mat-menu-item (click)="confirmAddress(wallet, i, !address.confirmed)" *ngIf="wallet.isHardware">
          {{ 'wallet.address.confirm' | translate }}
        </button>
        <button mat-menu-item routerLink="/settings/outputs" [queryParams]="{ addr: address.address }">
          {{ 'wallet.address.outputs' | translate }}
        </button>
        <button mat-menu-item routerLink="/transactions" [queryParams]="{ addr: address.address }">
          {{ 'wallet.address.history' | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
</ng-container>
