<div class="-actions">
  <ng-container *ngIf="!wallet.isHardware">
    <div class="-button" (click)="openAddressOptions()">
      <span [ngClass]="{ '-img -address-options': !workingWithAddresses, '-disabled-span': workingWithAddresses }">
        <mat-spinner *ngIf="workingWithAddresses"></mat-spinner>
        {{ 'wallet.address-options.title' | translate }}
      </span>
    </div>
    <div class="-button" (click)="toggleEmpty()">
      <span [ngClass]="{ '-img': true, '-show-empty': wallet.hideEmpty, '-hide-empty': !wallet.hideEmpty }">
        {{ 'wallet.' + (wallet.hideEmpty ? 'show' : 'hide') + '-empty' | translate }}
      </span>
    </div>
  </ng-container>
  <div *ngIf="wallet.isHardware" class="-button btn-delete-wallet" (click)="deleteWallet()">
    <span class="-img -btn-delete">{{ 'wallet.delete' | translate }}</span>
  </div>
  <div class="flex-fill"></div>
  <div *ngIf="!wallet.isHardware" class="-button" (click)="toggleEncryption()">
    <span [ngClass]="{ '-img': true, '-enable-encryption': !wallet.encrypted, '-disable-encryption': wallet.encrypted }">
      {{ 'wallet.' + (wallet.encrypted ? 'decrypt' : 'encrypt') | translate }}
    </span>
  </div>
  <div class="-button" (click)="editWallet()">
    <span [ngClass]="{ '-img -edit-wallet': !preparingToEdit, '-disabled-span': preparingToEdit }">
      <mat-spinner *ngIf="preparingToEdit"></mat-spinner>
      {{ 'wallet.edit' | translate }}
    </span>
  </div>
</div>

<ng-container *ngFor="let address of (wallet ? wallet.addresses : []); let i = index">
  <div class="-record" *ngIf="!wallet.hideEmpty || address.coins.isGreaterThan(0)">
    <div class="-width-50 grey-text">{{ i + 1 }}</div>
    <div class="-flex-fill address-column">
      <ng-container *ngIf="!wallet.isHardware || address.confirmed">
        <app-qr-code-button [address]="address.address"></app-qr-code-button>
        <p class="click-to-copy" [ngClass]="{ copying: address.copying }" (click)="copyAddress($event, address)" (mouseleave)="address.copying = false">
          {{ address.address }}
          <mat-spinner *ngIf="confirmingIndex === i"></mat-spinner>
          <span [attr.data-label]="'wallet.address.copied' | translate" class="copy-label">
            {{ 'wallet.address.copy' | translate }}
          </span>
        </p>
      </ng-container>
      <ng-container *ngIf="wallet.isHardware && !address.confirmed">
        <p class="click-to-copy" (click)="confirmAddress(address, i, true)">
          <span class="small-preview">{{ address.address }}</span>
          <span class="copy-label unconfirmed-label">
            {{ 'wallet.address.show' | translate }}
            <mat-spinner *ngIf="confirmingIndex === i"></mat-spinner>
          </span>
        </p>
      </ng-container>
    </div>
    <div class="-width-130 text-right">{{ (address.coins ? address.coins.toString() : 0) | amount:true:'first' }}</div>
    <div class="-width-130 text-right grey-text">{{ (address.hours ? address.hours.toString() : 0) | amount:false:'first' }}</div>
    <div class="-width-85 options-column">
      <mat-icon [matMenuTriggerFor]="optionsMenu">more_vert</mat-icon>
      <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item (click)="copyAddress($event, address, 1000)" *ngIf="!wallet.isHardware || address.confirmed">
          {{ 'wallet.address.' + (address.copying ? 'copied': 'copy-address') | translate }}
        </button>
        <button mat-menu-item (click)="confirmAddress(address, i, !address.confirmed)" *ngIf="wallet.isHardware">
          {{ 'wallet.address.confirm' | translate }}
        </button>
        <button mat-menu-item routerLink="/settings/outputs" [queryParams]="{ addr: address.address }">
          {{ 'wallet.address.outputs' | translate }}
        </button>
        <button mat-menu-item routerLink="/transactions" [queryParams]="{ addr: address.address }">
          {{ 'wallet.address.history' | translate }}
        </button>
      </mat-menu>
    </div>
  </div>
</ng-container>
