@import '../../../../../theme/_variables.scss';

.-record {
  background-color: #fefefe;
  border-bottom: 1px solid #eff0f0;
  cursor: pointer;
  display: flex;
  font-size: $font-size-standard;
  line-height: $row-height;
  min-height: $row-height;
  padding: 0 20px 0 20px;

  .id-column {
    width: 50px;
    color: rgba(30, 34, 39, 0.6);
  }

  .address-column {
    color: rgba(30, 34, 39, 0.6);
    flex: 1 1 auto;

    img {
      display: inline-block;
      height: 17px;
      vertical-align: middle;
      width: 17px;
    }

    p {
      display: inline-block;
      line-height: $row-height;
      margin: 0;
      vertical-align: middle;
    }

    &:hover .copy-label {
      display: inline-block;
    }
  }

  .hours-column {
    color: $grey-dark;
    width: 150px;
    text-align: right;
  }

  .coins-column {
    color: black;
    width: 150px;
    text-align: right;
  }

  .outputs-column {
    width: 75px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  > img {
    display: inline-block;
    margin: ($row-height - $row-detail-size) / 2;
    margin-left: 0;
    height: $row-detail-size;
    width: $row-detail-size;
  }

  &:hover {
    .outputs-label {
      display: inline-block;
    }
  }
}

.-actions {
  background-color: #fefefe;
  border-bottom: 1px solid #eff0f0;
  display: flex;
  width: 100%;

  .-button {
    padding-right: 20px;

    &:first-child {
      padding-left: 5px;
    }

    span {
      color: #CECFD0;
      font-size: 12px;
      height: 60px;
      margin: 0 5px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &.-img::before {
        content: '';
        display: inline-block;
        height: 32px;
        width: 32px;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: 32px 32px;
      }

      &.-new-address::before {
        background-image: url(../../../../../assets/img/plus-grey.png);
      }

      &.-hide-empty::before {
        background-image: url(../../../../../assets/img/minus-grey.png);
      }

      &.-show-empty::before {
        background-image: url(../../../../../assets/img/plus-grey.png);
      }

      &.-enable-encryption::before {
        background-image: url(../../../../../assets/img/lock-grey.png);
      }

      &.-disable-encryption::before {
        background-image: url(../../../../../assets/img/unlock-grey.png);
      }

      &.-edit-wallet::before {
        background-image: url(../../../../../assets/img/edit-grey.png);
      }

      &:hover {
        color: $grey-dark;

        &.-new-address::before {
          background-image: url(../../../../../assets/img/plus-green.png);
        }

        &.-hide-empty::before, &.-show-empty::before {
          filter: contrast(20%);
        }

        &.-enable-encryption::before {
          background-image: url(../../../../../assets/img/lock-gold.png);
        }

        &.-disable-encryption::before {
          background-image: url(../../../../../assets/img/unlock-gold.png);
        }

        &.-edit-wallet::before {
          background-image: url(../../../../../assets/img/edit-blue.png);
        }
      }
    }
  }
}


@keyframes floatup {
  20% {
    opacity: .999
  }

  100% {
    -webkit-transform: translate3d(-50%, -17px, 0);
    transform: translate3d(-50%, -17px, 0)
  }
}

@-webkit-keyframes floatup {
  20% {
    opacity: .999
  }

  100% {
    -webkit-transform: translate3d(-50%, -17px, 0);
    transform: translate3d(-50%, -17px, 0)
  }
}

.click-to-copy {
  cursor: pointer;
}


.copy-label {
  color: #0072ff;
  display: none;
  font-size: 12px;
  line-height: 100%;
  position: relative;
  opacity: .999;
  transition: opacity .2s ease-in-out;
  top: -1px;
  padding-left: 10px;

  &.hidden{
    opacity: .001;
  }

  &::after {
    content: attr(data-label);
    color: #0072ff;
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 50%;
    opacity: .001;
    text-align: center;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    -webkit-backface-visibility: hidden;
    white-space: nowrap;
    padding-left: 11px;
  }
}

.copying .copy-label::after {
  -webkit-animation: floatup .5s ease-in-out;
  animation: floatup .5s ease-in-out;
}

.outputs-label {
  color: #0072ff;
  display: none;
}
