@import '../../../../../theme/variables';

.-record {
  display: flex;
  font-size: $font-size-standard;
  padding: 21px 20px 16px 20px;
  align-items: center;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(30, 34, 39, 0.05);
  }

  .id-column {
    width: 50px;
    color: $grey;
    flex-shrink: 0;
  }

  .address-column {
    color: $grey;
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    img {
      display: inline-block;
      height: 17px;
      vertical-align: middle;
      width: 17px;
      margin-right: 10px;
      flex-shrink: 0;
    }

    p {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      word-break: break-all;

      &:hover .copy-label {
        opacity: .999 !important;
      }
    }
  }

  .truncated-address {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
  }

  .hours-column {
    color: $grey;
    width: 130px;
    text-align: right;
    flex-shrink: 0;
  }

  .coins-column {
    color: $grey-dark;
    width: 130px;
    text-align: right;
    flex-shrink: 0;
  }

  .options-column {
    width: 80px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;

    mat-icon {
      cursor: pointer;
      color: lighten($grey, 30%);

      &:hover {
        color: $main-color;
      }
    }
  }

  > img {
    display: inline-block;
    margin-left: 0;
    height: $row-detail-size;
    width: $row-detail-size;
  }
}

.click-to-copy {
  cursor: pointer;
}

.-actions {
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  display: flex;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  z-index: 100;
  position: relative;
  padding: 0px !important;

  .-button {
    padding-right: 20px;
    padding-left: 0px;

    &:first-child {
      padding-left: 5px;
    }

    .-enabled-span {
      cursor: pointer;

      &:hover {
        color: $grey;
      }
    }

    span {
      color: #CECFD0;
      font-size: 12px;
      height: 60px;
      margin: 0 5px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &.-img::before {
        content: '';
        display: inline-block;
        height: 32px;
        width: 32px;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: 32px 32px;
      }

      &.-new-address::before {
        background-image: url(../../../../../assets/img/plus-grey.png);
      }

      &.-hide-empty::before {
        background-image: url(../../../../../assets/img/minus-grey.png);
      }

      &.-show-empty::before {
        background-image: url(../../../../../assets/img/plus-grey.png);
      }

      &.-enable-encryption::before {
        background-image: url(../../../../../assets/img/lock-grey.png);
      }

      &.-disable-encryption::before {
        background-image: url(../../../../../assets/img/unlock-grey.png);
      }

      &.-edit-wallet::before {
        background-image: url(../../../../../assets/img/edit-grey.png);
      }

      &.-btn-delete::before {
        background-image: url(../../../../../assets/img/delete-grey.png);
      }

      &:hover {
        color: $grey;

        &.-new-address::before {
          background-image: url(../../../../../assets/img/plus-green.png);
        }

        &.-hide-empty::before {
          background-image: url(../../../../../assets/img/minus-red.png);
        }

        &.-show-empty::before {
          background-image: url(../../../../../assets/img/plus-green.png);
        }

        &.-enable-encryption::before {
          background-image: url(../../../../../assets/img/lock-gold.png);
        }

        &.-disable-encryption::before {
          background-image: url(../../../../../assets/img/unlock-gold.png);
        }

        &.-edit-wallet::before {
          background-image: url(../../../../../assets/img/edit-blue.png);
        }

        &.-btn-delete::before {
          background-image: url(../../../../../assets/img/delete-red.png);
        }
      }
    }
  }
}

@keyframes floatup {
  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.copy-label {
  color: $main-color;
  opacity: 0;
  font-size: 12px;
  position: relative;
  padding-left: 10px;

  &::after {
    content: attr(data-label);
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 4px;
    opacity: 0;
    line-height: 1;
  }
}

.unconfirmed-label {
  opacity: 0.5 !important;
}

.copying .copy-label::after {
  animation: floatup .5s ease-in-out;
}

mat-spinner {
  margin-left: 7px;
  margin-right: 12px;

  ::ng-deep circle {
    stroke: $grey-light;
  }
}

.mouse-disabled {
  pointer-events: none;
}
