<!doctype html>
<html lang="en" ng-app="skycoin">
<head>
  <meta charset="utf-8">
  <title>Skycoin</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/bootstrap.icon-large.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css"/>

</head>
<body ng-controller="mainCtrl">
  <div id="sky-header">
    <div class="fa fa-cloud background-cloud-0"><i class="fa fa-btc"></i></div>
  </div>
  <div id="sky-center">

    <!-- <p>Select a tab by setting active binding to true:</p>
    <p>
      <button class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Select second tab</button>
      <button class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button>
    </p>
    <p>
      <button class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
    </p>
    <hr /> -->

    <tabset id="main-content">
    <!--<tabset vertical="true" id="main-content">-->
      <tab>
        <tab-heading>
          <i class="fa fa-cloud fa-lg"></i> Wallet
        </tab-heading>

        <div class="outline">
          <table id="overview-wallet" class="outline" ng-repeat="address in addresses">
            <tr class="dark-row">
              <td><div id="overview-wallet-title"><!-- Address {{$index}}</div>--></td><td><!--<i class="fa fa-align-justify"></i>--></td>
            </tr>
            <tr>
              <td><div id="overview-wallet-balance">Address: </div></td><td>{{address.address}}</td>
            </tr>
            <tr>
              <td><div id="overview-wallet-address">Balance: </div></td><td>{{address.balance | number}} SKY</td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#"><i class="fa fa-qrcode"></i> <a ng-click="openQR(address)">QR Code</a>
                <a href="#" ng-click="sendTab()"><i class="fa fa-cloud-upload"></i> Send </a>
                <!--<a href="#"><i class="fa fa-pencil"></i> Edit</a>-->
              </td>
            </tr>
          </table>
          <div class="wallet-buttons">
            <button ng-click="newAddress()" type="button" class="btn btn-default"><i class="fa fa-cloud"></i> New Address</button> <!--<button type="button" class="btn btn-default" ng-click="mainBackUp()"><i class="fa fa-cloud-download"></i> Back Up</button>-->
          </div>

          <!--<div id="overview-recent-transaction" class="outline">
            <div id="overview-recent-transaction-title">Recent Transactions</div>
            Receive
            Date
            Address
            Amount
          </div>-->

        </div>

      </tab>

      <tab active="tab.sendActive">
        <tab-heading>
          <i class="fa fa-cloud-upload fa-lg"></i> Send
        </tab-heading>

        <div class="outline">

          <table id="send-table">
            <tr>
              <td class="send-pay-col1"><label for="send_pay_to">Pay to</label></td><td><input ng-disabled="readyDisable" id="send_pay_to" type="text" ng-model="spend.address"  /></td>
            </tr>
            <!--<tr>
              <td class="send-pay-col1"><label for="send_label">Label</label></td><td><input ng-disabled="sendDisable" id="send_label" type="text" ng-model="spend.label"  /></td>
            </tr> -->
            <tr>
              <td class="send-pay-col1"><label for="send_amount">Amount</label></td><td><input id="send_amount" type="text" ng-disabled="readyDisable" ng-model="spend.amount" /> SKY <button type="button" class="btn btn-default" ng-disabled="readyDiable" ng-click="ready()">Ready</button> <button ng-disabled="sendDisable" type="button" class="btn btn-default" ng-click="spend(spend)">Send</button></td>
            </tr>
          </table>
          <table id="pending-table">
            <tr class="dark-row">
              <td><i class="fa fa-check"></i> Pending</td>

              <td>Address
              </td>
              <td>Amount
              </td>
              <!--<td>Label
              </td> -->
            </tr>
            <tr ng-repeat="transaction in pendingTable">
              <td>{{transaction.complete}}</td><td>{{transaction.address}}</td><td>{{transaction.amount}}</td>
            </tr>
          </table>

        </div>
      </tab>

      <!-- <tab select="alertMe()">
        <tab-heading>
          <i class="glyphicon glyphicon-cloud-download"></i> Receive
        </tab-heading>
        <div class="outline">
          <table id="receive-address-table">
            <tr>
              <td>Label</td><td>Address</td>
            </tr>
            <tr>
              <td></td><td></td>
            </tr>
          </table>
          <div id="receive-buttons" class="outline">
            <span class="receive-button">New Address</span>
            <span class="receive-button">Copy Address</span>
            <span class="receive-button">Show QR Code</span>
            <span class="receive-button">Export</span>
          </div>
        </div>
      </tab> -->

      <tab>
        <tab-heading>
          <i class="fa fa-moon-o"></i> History
        </tab-heading>
        <div class="outline">
          <table id="transaction-table">
            <tr class="dark-row">
              <td><i class="fa fa-check"></i></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Wallet <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="address in addresses"><a href="#">{{address.address}}</a></li>
                    <li class="divider"></li>
                    <li><a href="#">All</a></li>
                  </ul>
                </div>
              </td>
              <td>Date
              </td>
              <td>Address
              </td>
              <td>Amount
              </td>
              <td>Label
              </td>
            </tr>
            <tr ng-repeat="transaction in historyTable">
              <td><i class="fa fa-check"></i></td><td></td><td></td><td>{{transaction.address}}</td><td>{{transaction.amount}}</td><td></td>
            </tr>
          </table>
        </div>
        <!-- <span class="receive-button">Export</span> -->
      </tab>

      <!--<tab>
        <tab-heading>
          <i class="fa fa-sun-o"> Tools</i>
        </tab-heading>
        <div class="outline">
          <table id="transaction-d">

            <tr class="dark-row">
              <td></td>
              <td>

              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
          </table>
        </div> -->
        <!-- <span class="receive-button">Export</span> -->
      </tab>

      <!-- <tab>
        <tab-heading>
          <i class="fa fa-book fa-lg"></i> Address Book
        </tab-heading>

        <table id="address-book-table">
          <tr>
            <td>Label</td><td>Address</td>
          </tr>
          <tr>
            <td></td><td></td>
          </tr>
        </table>
        <div id="receive-buttons" class="outline">
          <span class="receive-button">New Address</span>
          <span class="receive-button">Copy Address</span>
          <span class="receive-button">Show QR Code</span>
          <span class="receive-button">Export</span>
        </div>
      </tab> -->


      <!--<tab>
        <tab-heading>
          <i class="fa fa-comments fa-lg"></i> Chat
        </tab-heading>

        <table id="address-book-table">
          <tr>
            <td>Label</td><td>Address</td>
          </tr>
          <tr>
            <td></td><td></td>
          </tr>
        </table>
        <div class="outline">
          <span class="receive-button">New Address</span>
          <span class="receive-button">Copy Address</span>
          <span class="receive-button">Show QR Code</span>
          <span class="receive-button">Export</span>
        </div>
      </tab> -->



    </tabset>


  </div>
  <!--<ul class="menu">
    <li><a href="#/view1">Transaction</a></li>
    <li><a href="#/view2">Transaction View</a></li>
  </ul>-->
  <!--<div class="glyphicon-cloud background-cloud-1"></div>-->
  <!--<div class="glyphicon-cloud background-cloud-2"></div> -->
  <!-- <div class="glyphicon-cloud background-cloud-3"></div> -->


  <div ng-view></div>

  <div id="sky-footer">
    <div ng-if="progress>100" class="message">Downloading Blockchain</div>
    <progressbar  ng-if="progress>100" class="progress-striped active" value="progress" type="info"></progressbar>
    <div  ng-if="progress>100" class="percent">{{progress}}%</div>
    <!--<div class="signal"><i class="fa fa-signal green"></i></div>-->
  </div>
  <div ng-include="" src="'/partials/qr-modal.html'"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="/js/angular_1.2.9.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
  <script src="/assets/plunker.js"></script>
  <script src="/lib/angular/angular-route.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/bower_components/qrcode-generator/js/qrcode.js"></script>
</body>
</html>
