<app-header [headline]="'title.wallets' | translate"></app-header>
<div class="container">
  <div class="-paper">
    <app-send-form
      *ngIf="showForm && activeForm === activeForms.LeftButton"
      [formData]="formData"
      (onFormSubmitted)="onFormSubmitted($event)"
    ></app-send-form>
    <app-send-form-advanced
      *ngIf="showForm && activeForm === activeForms.RightButton"
      [formData]="formData"
      (onFormSubmitted)="onFormSubmitted($event)"
    ></app-send-form-advanced>
    <app-send-preview
      *ngIf="!showForm"
      [transaction]="transaction"
      (onBack)="onBack($event)"
    ></app-send-preview>
  </div>
</div>
