<app-header [title]="'title.wallets' | translate"></app-header>
<div class="container">
  <div class="-paper">
    <app-send-form-advanced
      *ngIf="showForm"
    ></app-send-form-advanced>
    <!--<app-send-form-->
      <!--*ngIf="showForm"-->
      <!--[formData]="formData"-->
      <!--(onFormSubmitted)="onFormSubmitted($event)"-->
    <!--&gt;</app-send-form>-->
    <app-send-verify
      *ngIf="!showForm"
      [transaction]="transaction"
      (onBack)="onBack($event)"
    ></app-send-verify>
  </div>
</div>
