<app-modal class="modal" [headline]="'hardware-wallet.options.wipe' | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Processing">
  <div *ngIf="currentState === states.Initial">
    <app-hw-message
      [text]="'hardware-wallet.wipe.warning' | translate"
      [icon]="msgIcons.Warning"
    ></app-hw-message>

    <div class="-check-container" *ngIf="showDeleteFromList">
      <mat-checkbox type="checkbox"
                    class="-check"
                    [checked]="deleteFromList"
                    (change)="setDeleteFromList($event)">{{ 'hardware-wallet.wipe.confirm-delete' | translate }}
      </mat-checkbox>
    </div>

    <div class="-buttons">
      <app-button (action)="closeModal()">
        {{ 'hardware-wallet.general.cancel' | translate }}
      </app-button>
      <app-button (action)="requestWipe()" class="primary-button">
        {{ 'hardware-wallet.general.continue' | translate }}
      </app-button>
    </div>
  </div>

  <div *ngIf="currentState !== states.Initial">
    <app-hw-message *ngIf="currentState === states.Processing"
      [text]="'hardware-wallet.general.confirm' | translate"
      [icon]="msgIcons.Confirm"
    ></app-hw-message>

    <app-hw-message *ngIf="currentState === states.ShowingResult"
      [text]="result.text | translate"
      [icon]="result.icon"
    ></app-hw-message>

    <div class="-buttons" *ngIf="currentState !== states.Processing">
      <app-button (action)="closeModal()" class="primary-button" #closeButton>
        {{ 'hardware-wallet.general.close' | translate }}
      </app-button>
    </div>
  </div>
</app-modal>
