<app-modal class="modal" [headline]="'wallet.hardware-wallet' | translate" [dialog]="dialogRef">
  <app-hw-message *ngIf="currentState === states.Processing"
    [text]="'hardware-wallet.options.connecting' | translate"
    [icon]="msgIcons.Spinner"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.Error"
    [text]="(customErrorMsg ? customErrorMsg : 'hardware-wallet.general.generic-error') | translate"
    [icon]="msgIcons.Error"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.ReturnedRefused"
    [text]="('hardware-wallet.general.refused' | translate) + ' ' + ('hardware-wallet.options.forgotten-pin1' | translate)"
    [linkText]="'hardware-wallet.options.forgotten-pin2' | translate"
    [icon]="msgIcons.Error"
    (linkClicked)="wipe()"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.WrongPin"
    [text]="('hardware-wallet.general.error-incorrect-pin' | translate) + ' ' + ('hardware-wallet.options.forgotten-pin1' | translate)"
    [linkText]="'hardware-wallet.options.forgotten-pin2' | translate"
    [icon]="msgIcons.Error"
    (linkClicked)="wipe()"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.Disconnected"
    [text]="'hardware-wallet.options.disconnected' | translate"
    [icon]="msgIcons.Usb"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.DaemonError"
    [text]="'hardware-wallet.errors.daemon-connection' | translate"
    [icon]="msgIcons.Error"
  ></app-hw-message>

  <div *ngIf="currentState === states.NewConnected || currentState === states.ConfiguredConnected">
    <app-hw-message *ngIf="currentState === states.NewConnected"
      [upperBigText]="'hardware-wallet.options.unconfigured-detected-title' | translate"
      [lowerLightText]="('hardware-wallet.options.firmware-version' | translate) + ' ' + firmwareVersion"
      [text]="'hardware-wallet.options.unconfigured-detected' | translate"
      [icon]="msgIcons.HardwareWallet"
    ></app-hw-message>

    <app-hw-message *ngIf="currentState === states.ConfiguredConnected"
      [text]="'hardware-wallet.options.configured-detected' | translate"
      [lowerLightText]="('hardware-wallet.options.firmware-version' | translate) + ' ' + firmwareVersion"
      [lowerBigText]="walletName"
      [icon]="msgIcons.HardwareWallet"
    ></app-hw-message>

    <div class="alert-box" *ngIf="securityWarnings.length > 0">
      <mat-icon>error</mat-icon>
      <div>
        <div class="title">{{ (securityWarnings.length > 1 ? 'hardware-wallet.options.security-warnings-title' : 'hardware-wallet.options.security-warning-title') | translate}}</div>
        <ng-container *ngFor="let warning of securityWarnings; let i = index">
          <div>{{ securityWarnings.length > 1 ? ((i + 1) + ')') : '' }} {{ warning | translate}}</div>
          <br *ngIf="i < securityWarnings.length - 1"/>
        </ng-container>
      </div>
    </div>

    <div class="options-label">{{ 'hardware-wallet.options.options' | translate }}</div>
    <div class="option-buttons-container select-address-theme">
      <button mat-button color="primary" (click)="update()" *ngIf="outdatedFirmware">
        <div class="label -blinking">{{ 'hardware-wallet.options.update-firmware' | translate }}</div>
      </button>
      <div *ngIf="currentState === states.NewConnected">
        <button mat-button color="primary" (click)="generateMnemonic()">
          <div class="label">{{ 'hardware-wallet.options.configure-automatically' | translate }}</div>
        </button>
        <button mat-button color="primary" (click)="restoreMnemonic()">
          <div class="label">{{ 'hardware-wallet.options.restore-backup' | translate }}</div>
        </button>
      </div>
      <div *ngIf="currentState === states.ConfiguredConnected">
        <button mat-button color="primary" (click)="backup()" *ngIf="needsBackup">
          <div class="label">{{ 'hardware-wallet.options.create-backup' | translate }}</div>
        </button>
        <button mat-button color="primary" (click)="confirmSeed()" *ngIf="!needsBackup">
          <div class="label">{{ 'hardware-wallet.options.confirm-seed' | translate }}</div>
        </button>
        <button mat-button color="primary" (click)="changePin()">
          <div class="label">{{ (!needsPin ? 'hardware-wallet.options.change-pin' : 'hardware-wallet.options.create-pin') | translate }}</div>
        </button>
        <button mat-button color="primary" (click)="removePin()" *ngIf="!needsPin">
          <div class="label -red">{{ 'hardware-wallet.options.delete-pin' | translate }}</div>
        </button>
        <button mat-button color="primary" (click)="wipe()">
          <div class="label -red">{{ 'hardware-wallet.options.wipe' | translate }}</div>
        </button>
      </div>
    </div>
  </div>

  <div class="-buttons">
    <app-button (action)="closeModal()" class="primary">
      {{ 'hardware-wallet.general.close' | translate }}
    </app-button>
  </div>
</app-modal>
