@import '../../../../../theme/variables';

.alert-box {
  margin-top: 25px;
}

.options-label {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.option-buttons-container {
  margin: 0 -10px;
  
  button {
    width: 100%;
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid $grey-very-light;

    &:first-child {
      border-top: 1px solid $grey-very-light;
    }

    .label {
      font-size: $font-size-standard;
      line-height: 1.7;
      color: $black;
    }
  }
}

.-blinking {
  animation: alert-blinking 1s linear infinite;
}

.loading-indicator {
  width: 100px;
  height: 40px;
  left: calc(50% - 50px);
  top: calc(50% - 20px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-spinner {
    margin-left: 7px;
    margin-right: 12px;
    height: 18px !important;
    width: 18px !important;
  
    ::ng-deep svg {
      height: 18px !important;
      width: 18px !important;

      circle {
        stroke: $grey-light;
      }
    }
  }
}

.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
