<div class="buttons-left">
  <button md-icon-button (click)="goBack()" *ngIf="showBack">
    <md-icon>keyboard_backspace</md-icon>
  </button>
</div>
<div class="title">
  {{ title }}
</div>
<div class="buttons-right">
  <md-menu #settingsMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item [routerLink]="['/settings/network']"> Networking </button>
    <button md-menu-item [routerLink]="['/settings/blockchain']"> Blockchain </button>
    <button md-menu-item [routerLink]="['/settings/outputs']"> Outputs </button>
    <button md-menu-item [routerLink]="['/settings/pending-transactions']"> Pending Transactions </button>
  </md-menu>

  <md-menu #menuMenu="mdMenu" [overlapTrigger]="false">
    <button md-menu-item [routerLink]="['/settings/backup']"> Backup wallet </button>
    <a md-menu-item href="https://explorer.skycoin.net" class="color-primary"> Skycoin Explorer </a>
  </md-menu>

  <button md-icon-button [mdMenuTriggerFor]="settingsMenu">
    <md-icon>settings</md-icon>
  </button>
  <button md-icon-button [mdMenuTriggerFor]="menuMenu">
    <md-icon>menu</md-icon>
  </button>
</div>
