@import '../../../../../theme/variables';
@import '../../../../../customize/styling';

$side-containers-width: 120px;
$bar-height: 50px;

:host {
  display: flex;
  color: $header-text-color;
  width: 100%;
}

.buttons-left {
  padding: 0 10px;
  width: $side-containers-width;
}

.title {
  font-size: $font-size-standard;
  font-weight: 700;
  flex: 1 1 auto;
  letter-spacing: $letter-spacing-wide;
  line-height: $bar-height;
  text-align: center;
}

.buttons-right {
  text-align: right;
  width: $side-containers-width;

  .button {
    height: $bar-height;
    width: $bar-height;
  }
}

.mat-menu-item {
  height: 50px;
  line-height: 50px;
  font-size: $font-size-standard-plus;
}

.color-primary {
  color: $main-color;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: $grey-very-light;
  margin: 8px 0px;
}

.flag {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
