@import '../../../../../theme/variables';

.-wrapper {
  font-size: $font-size-standard;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .-status {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 15px;
      width: 18px;
      height: 18px;
      font-size: 18px;

      &.-spin {
        animation: spin 1s infinite linear;
      }
    }

    .-value {
      padding-right: 30px;
      word-break: normal;
    }
  }
}

mat-progress-bar {
  margin: 30px -30px;
  width: calc(100% + 60px);
}

.-details {
  .-box {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    > .-img {
      width: $qr-code-button-size;
      margin-right: 15px;
      flex-shrink: 0;
    }
  }
}

.-item {
  font-size: $font-size-standard;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .-key {
    color: $grey;
    margin-bottom: 5px;
  }

  .-value {
    word-break: break-all;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.-external mat-icon {
  line-height: $font-size-standard;
  height: $font-size-standard;
  width: $font-size-standard;
  font-size: 16px;
  vertical-align: middle;
  color: $main-color;
  margin-left: 10px;
}
