<app-loading-content
  [isLoading]="!showError"
  noDataText="exchange.order-not-found"
  *ngIf="loading"
></app-loading-content>

<ng-container *ngIf="!loading">
  <div class="-wrapper">
    <div class="-status">
      <mat-icon [ngClass]="{'-spin': statusIcon === 'refresh'}">{{ statusIcon }}</mat-icon>
      <div class="-item">
        <div class="-key">{{ 'exchange.label-status' | translate }}</div>
        <div class="-value">{{ translatedStatus.text | translate:translatedStatus.params }} <mat-icon class="help-icon" [matTooltip]="translatedStatus.info | translate">help</mat-icon></div>
      </div>
    </div>
    <span>{{ 'exchange.exchanging' | translate:{from: fromCoin, to: toCoin} }}</span>
  </div>

  <mat-progress-bar [value]="progress" color="primary"></mat-progress-bar>

  <div class="-details">
    <div class="-box">
      <div class="-img"></div>
      <div class="-item">
        <div class="-key">{{ 'exchange.details.order-id-label' | translate }}</div>
        <div class="-value">{{ order.id }}</div>
      </div>
    </div>

    <ng-template #fromInfo>
      <div class="-box">
        <div class="-img"></div>
        <div class="-item">
          <div class="-key">{{ 'exchange.label-you-send' | translate }}</div>
          <div class="-value">{{ order.fromAmount }} {{ fromCoin }}</div>
        </div>
      </div>

      <div class="-box">
        <div class="-img">
          <app-qr-code-button [address]="order.exchangeAddress" [showAddressOnly]="true"></app-qr-code-button>
        </div>
        <div class="-item">
          <div class="-key">{{ 'exchange.details.exchange-addr-label' | translate }}</div>
          <div class="-value">{{ order.exchangeAddress }}</div>
        </div>
      </div>

      <div class="-box" *ngIf="order.exchangeTag">
        <div class="-img">
          <app-qr-code-button [address]="order.exchangeTag" [showAddressOnly]="true"></app-qr-code-button>
        </div>
        <div class="-item">
          <div class="-key">{{ 'exchange.details.exchange-addr-tag-label' | translate }}</div>
          <div class="-value">{{ order.exchangeTag }}</div>
        </div>
      </div>
    </ng-template>

    <ng-container *ngIf="order.status === statuses[0]">
      <ng-container *ngTemplateOutlet="fromInfo"></ng-container>
    </ng-container>

    <div class="-box" *ngIf="order.status === statuses[5]">
      <div class="-img"></div>
      <div class="-item">
        <div class="-key">{{ 'exchange.details.tx-id-label' | translate }}</div>
        <div class="-value">
          {{ order.toTx }}
          <a [href]="appService.explorerUrl + '/transaction/' + order.toTx" class="-external" target="_blank" rel="noreferrer nofollow noopener">
            <mat-icon class="image-button">launch</mat-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="-box" *ngIf="order.status === statuses[6]">
      <div class="-img"></div>
      <div class="-item">
        <div class="-key">{{ 'exchange.details.error-msg-label' | translate }}</div>
        <div class="-value">{{ order.message }}</div>
      </div>
    </div>

    <div class="-box">
      <div class="-img"></div>
      <app-arrow-link
        [noPadding]="true"
        [pointDown]="!expanded"
        [text]="'exchange.details.details-link'"
        (pressed)="toggleDetails()">
      </app-arrow-link>
    </div>

    <ng-container *ngIf="expanded">
      <div class="-box">
        <div class="-img"></div>
        <div class="-item">
          <div class="-key">{{ 'exchange.details.start-date-label' | translate }}</div>
          <div class="-value">{{ _orderDetails.timestamp | dateTime }}</div>
        </div>
      </div>

      <ng-container *ngIf="order.status !== statuses[0]">
        <ng-container *ngTemplateOutlet="fromInfo"></ng-container>
      </ng-container>

      <div class="-box">
        <div class="-img"></div>
        <div class="-item">
          <div class="-key">{{ 'exchange.label-you-get' | translate }}</div>
          <div class="-value">{{ order.toAmount | amount:true:'first' }} {{ toCoin }}</div>
        </div>
      </div>

      <div class="-box">
        <div class="-img"></div>
        <div class="-item">
          <div class="-key">{{ 'exchange.label-to-address' | translate:{coin: toCoin} }}</div>
          <div class="-value">{{ order.toAddress }}</div>
        </div>
      </div>

      <div class="-box">
        <div class="-img"></div>
        <div class="-item">
          <div class="-key">{{ 'exchange.details.initial-price-label' | translate }}</div>
          <div class="-value">1 {{ fromCoin }} &asymp; {{ _orderDetails.price }} {{ toCoin }}</div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<div class="text-center">
  <app-button class="primary-button" (action)="close()">
    {{ 'common.back-button' | translate }}
  </app-button>
</div>
