<app-modal [headline]="'send.change-address-label' | translate" [dialog]="dialogRef">
  @for (wallet of wallets; track wallet) {
    <div class="wallet-container select-address-theme">
      <div class="title" title="{{ wallet.label }}">{{ wallet.label }}</div>
      @for (address of wallet.addresses; track address) {
        <button mat-button color="primary" (click)="select(address.address)">
          <div class="address">{{ address.address }}</div>
          <div class="balance">{{ address.balance.decimalPlaces(6).toString() | number:'1.0-6' }}
            <span class="grey">{{ currentCoin.coinSymbol }} | </span>
            {{ address.hours.decimalPlaces(0).toString() | number:'1.0-0' }}
            <span class="grey">{{ currentCoin.hoursName }}</span>
          </div>
        </button>
      }
    </div>
  }
</app-modal>
