@if (visible) {
  <div class="main-container" [ngClass]="{ 'fix-small-screen-position': !UiIsShowingModalWindow }">
    <div [class]="'internal-container ' + (config.color ? config.color : 'red-background')">
      @if (config.icon) {
        <div class="icon-container"><mat-icon>{{ config.icon }}</mat-icon></div>
      }
      <div class="text-container">
        @if (config.title) {
          <div class="title">{{ config.title | translate }}</div>
        }
        <div class="text">{{ config.text | translate }}</div>
      </div>
      <div class="close-container"><mat-icon (click)="hide()">close</mat-icon></div>
    </div>
  </div>
}
