<div class="qr-container">

  <qrcode ng-if="!qro.new" size="300" data="{{address.address}}"></qrcode>

  <qrcode ng-if="qro.new" size="300" data="{{qro.new}}"></qrcode>
  <br />

  <textarea rows="4" ng-model="qro.new" cols="46"></textarea>
  <br />

  <!-- Label: <input id="qr-label" type="text" ng-model="qro.label"  />
  <br /> -->

  <!-- Message: <input id="qr-message" type="text" ng-model="qro.message"  /> -->

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
