.qr-container
  qrcode(ng-if="!qro.new", size="300", data="{{address.address}}")
  qrcode(ng-if="qro.new", size="300", data="{{qro.new}}")
  textarea(rows="4", ng-model="qro.new", cols="46")
  br

.modal-footer
  button.btn(type="button", ng-click="ok()") OK
  button.btn.btn-default(type="button", ng-click="cancel()") Cancel
