<div>

    <script type="text/ng-template" id="updateWalletModalContent.html">

        <div class="update-wallet-container">

            <label>Name:
            <input maxlength="60" ng-model="wallet.name" />
            </label>
            <br />



        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="ok()">OK</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>


</div>