.update-wallet-container
  label Name: &nbsp
    input(maxlength="60" ng-model="wallet.name")
  br

.modal-footer
  button(type="button" class="btn btn" ng-click="ok()") OK
  button(type="button" class="btn btn-default" ng-click="cancel()") Cancel
