.update-wallet-container
  label Name: &nbsp
    input(maxlength="60", ng-model="wallet.name")
  br

.modal-footer
  button.btn(type="button", ng-click="ok()") OK
  button.btn.btn-default(type="button", ng-click="cancel()") Cancel
