<app-modal class="modal" [headline]="'hardware-wallet.options.configure-automatically' | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Initial">
  <app-hw-message *ngIf="currentState === states.Initial"
    [text]="'hardware-wallet.generate-seed.configuring' | translate"
    [icon]="msgIcons.Spinner"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.ReturnedSuccess"
    [text]="'hardware-wallet.general.completed' | translate"
    [icon]="msgIcons.Success"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.ReturnedRefused"
    [text]="'hardware-wallet.general.refused' | translate"
    [icon]="msgIcons.Error"
  ></app-hw-message>

  <app-hw-message *ngIf="currentState === states.Failed"
    [text]="'hardware-wallet.general.generic-error' | translate"
    [icon]="msgIcons.Error"
  ></app-hw-message>

  <div class="-buttons" *ngIf="currentState !== states.Initial">
    <app-button (action)="closeModal()" class="primary">
      {{ 'hardware-wallet.general.close' | translate }}
    </app-button>
  </div>
</app-modal>
