<app-modal [headline]="'wallet.new.' + (data.create ? 'create' : 'load') + '-title' | translate" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  <app-create-wallet-form #formControl [create]="data.create" [onboarding]="false"></app-create-wallet-form>
  <div class="text-center">
    <app-button (action)="closePopup()" #cancelButton>
      {{ 'wallet.new.cancel-button' | translate }}
    </app-button>
    <app-button (action)="createWallet()" class="primary-button" [disabled]="!formControl.isValid" #createButton>
      {{ 'wallet.new.' + (data.create ? 'create' : 'load') + '-button' | translate }}
    </app-button>
  </div>
</app-modal>
