<app-modal [headline]="'hardware-wallet.options.delete-pin' | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Processing">
  <!-- Initial instructions and warning. -->
  <div *ngIf="currentState === states.Initial">
    <app-hw-message
      [text]="'hardware-wallet.remove-pin.warning' | translate"
      [icon]="msgIcons.Warning"
    ></app-hw-message>

    <div class="-check-container">
      <mat-checkbox type="checkbox"
                    class="-check"
                    [checked]="confirmed"
                    (change)="setConfirmed($event)">{{ 'common.generic-confirmation-check' | translate }}
      </mat-checkbox>
    </div>

    <div class="-buttons">
      <app-button (action)="closeModal()">
        {{ 'common.cancel-button' | translate }}
      </app-button>
      <app-button (action)="requestRemoval()" class="primary-button" [disabled]="!confirmed">
        {{ 'common.continue-button' | translate }}
      </app-button>
    </div>
  </div>

  <div *ngIf="currentState !== states.Initial">
    <!-- Instructions after confirming. -->
    <app-hw-message *ngIf="currentState === states.Processing"
      [text]="'hardware-wallet.general.confirm' | translate"
      [icon]="msgIcons.Confirm"
    ></app-hw-message>

    <!-- Result. -->
    <app-hw-message *ngIf="currentState === states.ShowingResult"
      [text]="result.text | translate"
      [icon]="result.icon"
    ></app-hw-message>

    <!-- Buttons area. -->
    <div class="-buttons" *ngIf="currentState !== states.Processing">
      <app-button (action)="closeModal()" class="primary-button" #closeButton>
        {{ 'common.close-button' | translate }}
      </app-button>
    </div>
  </div>
</app-modal>