<div class="element-details-wrapper">
  <!-- Title -->
  <h2>{{ 'transactionDetail.title' | translate }}</h2>
  <!-- Top data table -->
  <div class="element-details">
    <div class="-row"><span>{{ 'transactionDetail.status' | translate }}</span><br class="-xs-only" /><div> {{ transaction ? (transaction.status ? ('transactionDetail.confirmed' | translate) : ('transactionDetail.unconfirmed' | translate)) : (loadingMsg | translate) }} </div></div>
    <div class="-row"><span>{{ 'transactionDetail.size' | translate }}</span><br class="-xs-only" /><div> {{ transaction ? (transaction.length | number) + ' bytes' : (loadingMsg | translate) }} </div></div>
    <div class="-row" *ngIf="!transaction || transaction.status"><span>{{ 'transactionDetail.block' | translate }}</span><br class="-xs-only" /><div> <a [routerLink]="'/app/block/' + transaction.block" class="-link -copy-button-margin" *ngIf="transaction">{{ transaction.block }}</a> <app-copy-button [text]="transaction.block" *ngIf="transaction"></app-copy-button> <span *ngIf="!transaction">{{ loadingMsg | translate }}</span> </div></div>
  </div>
</div>

<!-- Loading control -->
<app-loading [longErrorMsg]="longErrorMsg | translate" *ngIf="transaction === undefined"></app-loading>

<!-- Transaction details -->
<app-transaction-info *ngIf="transaction" [maxInitialElements]="32" [transaction]="transaction"></app-transaction-info>
