@import '../../../../../theme/variables';

.-direction-cell {
  width: 72px;
  flex-shrink: 0;
}

.-direction-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: $normal-icon-size;
  }
}

.-last-seen-cell {
  width: 180px;
  flex-shrink: 0;
}

.-last-seen-container {
  display: flex;
  flex-direction: column;
  font-size: $font-size-mini;
  line-height: 1;
  justify-content: center;

  mat-icon {
    font-size: 12px;
    display: inline;
    vertical-align: middle;
    padding-right: 5px;
  }
}

.-address-cell {
  width: 200px;
  flex-shrink: 0;
  padding-left: 0 !important;
}

.-block-cell {
  width: 150px;
  flex-shrink: 0;
  text-align: right;
}

@media (max-width: $max-sm-width) {
  .-row {
    font-size: $font-size-standard-minus !important;
  }

  .-address-cell {
    width: 160px !important;
  }

  .-block-cell {
    width: 100px;
  }
}
