@import '../../../../../theme/variables';

.-port, .-last-seen, .-source {
  color: $grey;
}

.-direction {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  img {
    width: 32px;

    &.-incoming {
      transform: scaleX(-1);
    }
  }
}

.-last-seen {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1;
  justify-content: center;

  mat-icon {
    font-size: 12px;
    display: inline;
    vertical-align: middle;
    padding-right: 5px;
  }
}

.-text-right {
  text-align: right;
}

.-pl-0 {
  padding-left: 0 !important;
}

.-block-row {
  width: 150px;
  flex-shrink: 0;
}

.-invisible {
  display: none;
}

@media (max-width: $max-sm-width) {
  .-pl-0 {
    width: 160px !important;
  }

  .-block-row {
    width: 90px;
    flex-shrink: 0;
  }
}
