h3, ngx-datatable {
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  font-weight: 400;
  margin-top: 40px;
}

ngx-datatable {
  margin-bottom: 20px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card h3 button {
  display: inline;
  float: right;
  margin-top: -8px;
}
