<app-modal [headline]="'send.destination-tools-title' | translate" [dialog]="dialogRef">
  <div class="list-button-container light-button-theme">
    <button class="top-line" mat-button color="primary" (click)="select(destinationTools.bulk)">
      <div class="content">
        <img src="assets/img/list-purple.png" />
        <span>{{ 'send.bulk-send.title' | translate }}</span>
      </div>
    </button>
    <button mat-button color="primary" (click)="select(destinationTools.link)">
      <div class="content">
        <img src="assets/img/link-blue.png" />
        <span>
          {{ 'send.fill-with-link.title' | translate }}
        </span>
      </div>
    </button>
  </div>
</app-modal>
