@if (visible) {
  <div class="main-container">
    <div [class]="'internal-container ' + (config.color ? config.color : 'red-background')">
      @if (config.icon) {
        <div class="icon-container"><mat-icon>{{ config.icon }}</mat-icon></div>
      }
      <div class="text-container">
        @if (config.title) {
          <div class="title">{{ config.title | translate }}</div>
        }
        <div class="text">{{ config.text | translate }}
          @if (config.link) {
            <a class="link" [href]="config.link" target="_blank" rel="noreferrer nofollow noopener">{{ config.link }}</a>
          }</div>
        </div>
        <div class="close-container"><mat-icon class="image-button" (click)="hide()">close</mat-icon></div>
      </div>
    </div>
  }
