<div class="general-container">
  <div class="search-bar-container">
    <!-- Search icon -->
    @if (!searching) {
      <img src="/assets/img/search.png" (click)="search()" />
    }
    <!-- Busy animation -->
    @if (searching) {
      <i class="fa fa-spinner fa-spin fa-fw"></i>
    }
    <input name="query" placeholder="{{ 'searchBar.hint' | translate }}" (keydown.enter)="search()" #input>
  </div>
  <!-- Language button -->
  <app-language-selection></app-language-selection>
</div>
<!-- Sync warning -->
@if (showSyncWarning) {
  <div class="sync-warning">
    <div>{{ 'searchBar.syncAlert' | translate }}</div>
  </div>
}
