<div class="onboarding-container">
  <div class="row">
    <div class="row-container">
      <div class="-header">
        <span>{{ 'wallet.new.encrypt-title' | translate }}</span>
      </div>
      <div class="-description">
        <p>{{ 'wizard.encrypt-desc' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-container -check-container">
      <mat-checkbox class="-check" (change)="setEncrypt($event)" [checked]="true" type="checkbox" id="encrypt">
        <span class="img-label-container">
          <img src="assets/img/lock-gold.png" />
          {{ 'wallet.new.encrypt' | translate }}
        </span>
      </mat-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="row-container">
      <form [formGroup]="form">
        <div class="form-field">
          <label for="password">{{ 'password.label' | translate }}</label>
          <input class="-input" type="password"  formControlName="password" id="password" [ngClass]="{ disable: form.disabled }">
        </div>
        <div class="form-field">
          <label for="confirm">{{ 'password.confirm-label' | translate }}</label>
          <input class="-input" type="password" formControlName="confirm" id="confirm"
                 [ngClass]="{ disable: form.disabled }" (keydown.enter)="emitCreatedPassword()">
        </div>
      </form>
    </div>
  </div>
  <div class="row -buttons-footer">
    <app-button class="dark-button -button-min-margin" [disabled]="form.enabled && !form.valid" (action)="emitCreatedPassword()" #button>
      {{ 'wizard.finish-button' | translate }}
    </app-button>
    <app-button class="ghost-button -button-min-margin" (action)="emitBack()" [ngClass]="{ 'd-none': isWorking }">
      {{ 'wizard.back-button' | translate }}
    </app-button>
  </div>
</div>
