<div class="onboarding-container">
  <!-- Header and indications. -->
  <div class="row">
    <div class="row-container">
      <div class="-header">
        <span>{{ (!creatingTemporal ? 'wizard.encrypt-title' : 'wizard.finish-temporal-title') | translate }}</span>
      </div>
      <div class="-description">
        <p>{{ (!creatingTemporal ? 'wizard.encrypt-desc' : 'wizard.finish-temporal-desc') | translate }}</p>
      </div>
    </div>
  </div>
  <!-- Checkbox. -->
  <div class="row" *ngIf="!creatingTemporal">
    <div class="row-container -check-container">
      <mat-checkbox class="-check" (change)="setEncrypt($event)" [checked]="true" type="checkbox" id="encrypt" [ngClass]="{'element-disabled' : isWorking}">
        <span class="img-label-container">
          <img src="assets/img/lock-gold.png" />
          {{ 'wallet.new.encrypt-check' | translate }}
        </span>
      </mat-checkbox>
    </div>
  </div>
  <!-- Form. -->
  <div class="row" *ngIf="!creatingTemporal">
    <div class="row-container">
      <form [formGroup]="form">
        <div class="form-field">
          <label for="password">{{ 'password.password-label' | translate }}</label>
          <input
            class="-input"
            type="password"
            appDontSavePassword
            formControlName="password"
            id="password"
            [attr.disabled]="isWorking ? 'true' : null"
            [ngClass]="{ 'element-disabled': form.disabled }"
            [appFormFieldError]="password1ErrorMsg"
            (blur)="validateForm()"
          >
        </div>
        <div class="form-field">
          <label for="confirm">{{ 'password.confirm-password-label' | translate }}</label>
          <input
            class="-input"
            type="password"
            appDontSavePassword
            formControlName="confirm"
            id="confirm"
            [attr.disabled]="isWorking ? 'true' : null"
            [ngClass]="{ 'element-disabled': form.disabled }"
            (keydown.enter)="emitCreatedPassword()"
            [appFormFieldError]="password2ErrorMsg"
            (blur)="validateForm()"
          >
        </div>
      </form>
    </div>
  </div>
  <!-- Button area. -->
  <div class="row -buttons-footer">
    <app-button class="dark-button -button-min-margin" [disabled]="!creatingTemporal && (!form || (form.enabled && !form.valid))" (action)="emitCreatedPassword()" #button>
      {{ 'wizard.finish-button' | translate }}
    </app-button>
    <app-button class="ghost-button -button-min-margin" (action)="emitBack()" [ngClass]="{ 'd-none': isWorking }">
      {{ 'common.back-button' | translate }}
    </app-button>
  </div>
</div>
