@import '../../../../../theme/variables';

.-check-container {
  margin: 10px auto;
}

.-check ::ng-deep {
  .mdc-checkbox__background {
    border-color: white !important;
  }

  .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
    background-color: white !important;

    svg {
      color: $app-main-color
    }
  }
}
