<div [formGroup]="form">
  <div class="form-field">
    <label for="destination" class="destinations-label">
      {{ 'send.destinations-label' | translate }}
      <mat-icon [matTooltip]="('send.destinations-help' + (!this.showHourFields ? '1' : '2')) | translate">help</mat-icon>
    </label>
    <div class="coin-selector-container" *ngIf="price" [ngClass]="{ 'element-disabled': busy }">
      <app-double-button
        [leftButtonText]="'coin' | commonText"
        [rightButtonText]="'common.usd' | translate"
        className="light small"
        [activeButton]="selectedCurrency"
        (onStateChange)="changeActiveCurrency($event)"
      ></app-double-button>
    </div>
    <span class="-options" (click)="requestBulkSend()" [ngClass]="{'element-disabled' : busy}">
      {{ 'send.bulk-send.title' | translate }} <mat-icon>keyboard_arrow_down</mat-icon>
    </span>

    <div formArrayName="destinations" *ngFor="let dest of destControls; let i = index;" class="-destination">
      <div [formGroupName]="i" class="row">
        <div class="col-lg-5 col-md-4">
          <input formControlName="address" [id]="i === 0 ? 'destination' : 'address' + i" [attr.disabled]="busy ? 'true' : null">
        </div>
        <div class="col-md-3">
          <div class="-input-addon">
            <input formControlName="coins" [attr.disabled]="busy ? 'true' : null">
            <span>{{ selectedCurrency === doubleButtonActive.LeftButton ? ('coin' | commonText) : ('common.usd' | translate) }}</span>
          </div>
          <div class="coins-value-label">
            <span *ngIf="price && values[i] < 0">{{ 'send.invalid-amount' | translate }}</span>
            <span *ngIf="price && values[i] >= 0 && selectedCurrency === doubleButtonActive.LeftButton">
              &#x007e; {{ values[i] | number:'1.0-2' }} {{ 'common.usd' | translate }}
            </span>
            <span *ngIf="price && values[i] >= 0 && selectedCurrency === doubleButtonActive.RightButton">
              &#x007e; {{ values[i] | amount }}
            </span>
            <div class="link" [ngClass]="{ 'centerd-link': !price }" (click)="assignAll(i)">({{ 'send.send-all-available-coins' | translate }})</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div [ngClass]="{ '-input-addon': true, '-hidden': !showHourFields }">
            <input formControlName="hours" [attr.disabled]="busy ? 'true' : null">
            <span>{{ 'hours' | commonText }}</span>
          </div>
        </div>
        <div class="col-md-1 -icons" [ngClass]="{'element-disabled' : busy}">
          <img *ngIf="i === 0" (click)="addDestination()" src="../../../../../assets/img/plus-green.png" alt="plus">
          <img *ngIf="i !== 0" (click)="removeDestination(i)" src="../../../../../assets/img/minus-grey.png" alt="minus">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="destControls.length > 1">
      <div class="col-lg-5 col-md-4"></div>
      <div class="col-md-3">
        <div class="coins-value-label">
          <span>{{ 'send.total' | translate }}</span> {{ totalCoins.toString() | amount }} / {{ totalConvertedCoins.toString() | number:'1.0-2' }} {{ 'common.usd' | translate }}
        </div>
      </div>
      <div class="col-lg-3 col-md-4" *ngIf="showHourFields">
        <div class="coins-value-label">
          <span>{{ 'send.total' | translate }}</span> {{ totalHours.toString() | amount:false }}
        </div>
      </div>
    </div>
  </div>
</div>
