<div>
  <!-- Button -->
  <div class="language-button" (click)="langsButtonClick()">
    <img [src]="currentLanguage ? ('assets/img/lang/' + currentLanguage.iconName) : ''" class="flag-img" />
    <img src="/assets/img/arrow.png" class="arrow-img" />
  </div>
  <!-- Menu -->
  <div class="dropdown-menu" [ngClass]="{open: showLangs}">
    <div *ngFor="let lang of langs" class="dropdown-item" (click)="changeLanguage(lang)">
      <img [src]="'/assets/img/lang/' + lang.iconName" class="small-flag-img" />
      {{ lang.name }}
    </div>
  </div>
</div>
