<footer>
  <div class="wrapper">
    <div class="top-separator"></div>

    <!-- Contact icons area -->
    @if (config.contactLinks && config.contactLinks.length > 0) {
      <div class="links-row">
        @for (link of config.contactLinks; track link) {
          <div class="link-icon">
            <div class="element"><a [href]="link.url" [innerHTML]="link.content"></a></div>
          </div>
        }
      </div>
    }

    @if (config.contactLinks && config.contactLinks.length > 0) {
      <div class="middle-separator"></div>
    }
    <!-- "Powered by Skyfiber" area -->
    <div class="credit-row">
      <a href="https://www.skycoin.com">{{ 'genericFooter.credit' | translate }}</a>
    </div>
  </div>
</footer>
