<footer>
  <div class="wrapper">
    <div class="top-separator"></div>

    <!-- Contact icons area -->
    <div class="links-row" *ngIf="config.contactLinks && config.contactLinks.length > 0">
      <div class="link-icon" *ngFor="let link of config.contactLinks">
        <div class="element"><a [href]="link.url" [innerHTML]="link.content"></a></div>
      </div>
    </div>

    <div class="middle-separator" *ngIf="config.contactLinks && config.contactLinks.length > 0"></div>
    <!-- "Powered by Skyfiber" area -->
    <div class="credit-row">
      <a href="https://www.skycoin.com">{{ 'genericFooter.credit' | translate }}</a>
    </div>
  </div>
</footer>
