<div class="sky-container sky-container-grey">
  <app-header [headline]="'title.pending-txs' | translate"></app-header>

  <div class="container">
    <div class="-table">
      <div class="-headers">
        <div class="-flex-fill">{{ 'pending-txs.txid' | translate }}</div>
        <div class="-width-150">{{ 'common.coin-id' | translate }}</div>
        <div class="-width-150">{{ 'pending-txs.timestamp' | translate }}</div>
      </div>
      <div class="-body">
        <ng-container *ngIf="transactions.length">
          <div class="-row" *ngFor="let tx of transactions">
            <div class="-flex-fill">{{ tx.txid }}</div>
            <div class="-width-150">{{ tx.amount | number:'1.0-6' }}</div>
            <div class="-width-150 -timestamp">{{ tx.timestamp | dateTime }}</div>
          </div>
        </ng-container>
        <div class="-row" *ngIf="!transactions.length">
          <div class="-flex-fill">{{ 'pending-txs.none' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
