<div>

    <script type="text/ng-template" id="qrModalContent.html">

        <div class="qr-container">

            <qrcode size="300" data="{{address}}"></qrcode>
            <br />

            <!--<qrcode size="300" data="{{qro.new}}"></qrcode>
            <br />-->

            <textarea rows="4" cols="46">{{address}}{{qro.label}}{{qro.message}}</textarea>
            <br />

            Label: <input id="qr-label" type="text" ng-model="qro.label"  />
            <br />

            Message: <input id="qr-message" type="text" ng-model="qro.message"  />

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="dreamOptions()">OK</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>


</div>