#should be located as /etc/meshnet.cfg

#general settings
[General]
	LogLevel = DEBUG	# DEBUG for verbose output of what is happening (slows down all), INFO for errors only; then can be changed programmatically
	StartPort = 6000	# the port from which port assigning for peers is starting
	AppTimeout = 1000000	# client send timeout in milliseconds
	VPNSubnet = 192.168.11.	# VPN IP from which IP assigning for peers is starting

#transport settings
[Transport]
	TransportTimeout = 100000	# milliseconds
	RetransmitLimit = 10		# number of packet retransmits until success
	SimulateDelay = false		# allows simulate network random "delay" for testing purposes
	MaxSimulatedDelay = 500		# maximum simulated delay

#connection settings
[Connection]
	ConnectionTimeout = 1000000	# connection timeout in milliseconds
	MaxPacketSize = 16384		# packet size

# congestion parameters
[Congestion]
	MaxBuffer = 8192	# buffered channels size (too low values can lead to frequent congestions)
	SendInterval = 1500	# interval between sending packets by connection, microseconds (more means less probability for congestion but slows down all)
	TimeUnit = 10		# time unit which throttle is multiplied to, microseconds (more means more intensive throttle when congested)

# proxy parameters
[Proxy]
	ProxyPacketSize = 16384	# proxy (VPN, SOCKS5) packet size
	ProxyTimeout = 300000	# the amount of time in milliseconds after which proxy connections will be closed (it is recalculated after each read or write)

# messaging server parameters
[MsgSrv]
	MsgSrvTimeout = 1000	# messaging server timeout in milliseconds
