<h2>Blockchain</h2>
<h5>{{totalBlocks}} blocks</h5>
<table class="bordered striped centered responsive-table">
  <thead >
  <tr>
    <th data-field="id">Time</th>
    <th data-field="name">Block Number</th>
    <th data-field="price">Transactions</th>
    <th data-field="id">Amount Transferred</th>
    <th data-field="price">Blockhash</th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let block of blocks" (click)="showDetails(block)">
    <td>{{getTime(block.header.timestamp)}}</td>
    <td >{{ block.header.seq }}</td>
    <td>{{ block.body.txns.length }}</td>
    <td>{{ GetBlockAmount(block.body.txns) }}</td>
    <td>{{ block.header.block_hash }}</td>
  </tr>


  </tbody>
</table>

<app-skycoin-pagination (onChangePage)="handlePageChange($event)"></app-skycoin-pagination>
