@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/skycoin/Skycoin-Light.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Light.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/skycoin/Skycoin-LightItalic.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/skycoin/Skycoin-Regular.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/skycoin/Skycoin-RegularItalic.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/skycoin/Skycoin-Bold.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Skycoin';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/skycoin/Skycoin-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/skycoin/Skycoin-BoldItalic.woff') format('woff');
}
