/*********************
* Styles for the menus.
*********************/
@import 'variables';

// Modifies a class added by Angular Material.
.mat-menu-panel {
  border-radius: $rounded-element-border-radius !important;
  background-color: $white;

  .mat-menu-item {
    font-family: $font-family;
  }
}
