@import 'variables';

.mat-dialog-content {
  max-height: 90vh !important;
}

@media (max-height: 600px) {
  .mat-dialog-content {
    max-height: 80vh !important;
  }
}

mat-dialog-container {
  border-radius: $rounded-element-border-radius !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.modal {
  .-body {
    line-height: $font-size-standard * 1.5;
    font-size: $font-size-standard;
    color: $black;
    opacity: 0.8;
  }

  .-buttons {
    text-align: center;
  }
  
  app-button {
    button {
      margin-top: 28px;
    }
  }
}
