@import 'variables';

.modal {
  .-body {
    line-height: 20px;
    font-size: 13px;
    color: $grey-dark;
    opacity: 0.8;
  }

  .big-text {
    color: black;
    font-weight: bold;
    font-size: 15px;
  }

  .-check-container{
    text-align: center;
    margin-top: 25px;

    .-check {
      label {
        font-family: Skycoin;
        line-height: normal;
        font-size: 14px;
      
        color: $grey-dark;
      }
    
      .mat-checkbox-checkmark-path {
        position: absolute;
        width: 18px;
        height: 8px;
        left: 4.59px;
        top: 9px;
        stroke: $gradient-blue-dark !important;
      }
    
      .mat-checkbox-background, .mat-checkbox-frame {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        box-sizing: border-box;
        pointer-events: none;
        width: 20px;
        height: 20px;
        background: rgba(30, 34, 39, 0.05);
        border-radius: 6px;
        border-color: transparent;
      }
    }
  }

  .-buttons {
    text-align: center;
  }
  
  app-button {
    button {
      margin-top: 28px;
    }
  }
}
