/*********************
* Styles for the modal windows.
*********************/
@import 'variables';

// Limits the height to show a vertical margin.
// (Modifies an element or class added by Angular Material)
.mat-dialog-content {
  max-height: 90vh !important;
}

@media (max-height: 600px) {
  .mat-dialog-content {
    max-height: 80vh !important;
  }
}

// Rounds the corners of the modal windows.
// (Modifies an element or class added by Angular Material)
mat-dialog-container {
  border-radius: $rounded-element-border-radius !important;
  overflow: hidden;
}

// Removes the default padding.
// (Modifies an element or class added by Angular Material)
.mat-dialog-container {
  padding: 0 !important;
}

// Style of the main area of the modal windows.
.modal {
  background-color: $white;
  padding: 0px $modal-content-padding;
  line-height: 1.5;
  font-size: $font-size-standard;
  color: $grey-dark;

  .-buttons {
    text-align: center;
  }
  
  app-button {
    button {
      margin-top: 28px;
    }
  }
}

// Special class for the modal windows which show lists of elements made of buttons.
.list-button-container {
  margin: 0px -10px;

  button.top-line:first-of-type {
    border-top: 1px solid $grey-very-light;
  }

  button {
    width: 100%;
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid $grey-very-light;
    cursor: pointer;
  }
}
