/*********************
* Styles for the tables.
*********************/
@import 'variables';
@import 'paper';

// Main table container.
.-table {
  &:last-of-type {
    margin-bottom: $main-containers-margin;
  }

  // Headers container.
  .-headers {
    color: $grey-light;
    display: flex;
    font-size: $font-size-standard-minus;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0 $main-containers-margin;

    > div {
      padding: 0 $main-containers-small-padding;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  // Content area container.
  .-body {
    @extend .paper;
    padding: 0;
    margin: 0 $main-containers-margin;    

    .-row {
      font-size: $font-size-standard;
      padding: 15px 0;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $grey-very-light;
      }

      > div {
        padding: 0 $main-containers-small-padding;
      }
    }
  }


  /**
  Helpers for setting the width of the columns.
  **/

  .-width-50 {
    width: 50px;
    flex-shrink: 0;
  }

  .-width-70 {
    width: 70px;
    flex-shrink: 0;
  }

  .-width-85 {
    width: 85px;
    flex-shrink: 0;
  }
  
  .-width-130 {
    width: 130px;
    flex-shrink: 0;
  }

  .-width-150 {
    width: 150px;
    flex-shrink: 0;
  }

  .-width-200 {
    width: 200px;
    flex-shrink: 0;
  }

  .-width-250 {
    width: 250px;
    flex-shrink: 0;
  }
}

.-top-table-margin {
  margin-top: 20px;
}
