@import 'variables';

.-table {
  &:last-of-type {
    margin-bottom: 30px;
  }

  .-headers {
    color: $grey-light;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0 30px;

    > div {
      padding: 0 20px;
    }
  }

  .-body {
    border-radius: 15px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
    margin: 0 30px;

    .-row {
      font-size: $font-size-standard;
      padding: 15px 0;
      background: $white;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid #eff0f0;
      }

      &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      > div {
        padding: 0 20px;
      }
    }
  }

  .-width-70 {
    width: 70px;
    flex-shrink: 0;
  }

  .-width-150 {
    width: 150px;
    flex-shrink: 0;
  }

  .-width-200 {
    width: 200px;
    flex-shrink: 0;
  }

  .-width-250 {
    width: 250px;
    flex-shrink: 0;
  }
}
