@import 'variables';

.-table {
  &:last-of-type {
    margin-bottom: 30px;
  }

  .-headers {
    color: $grey-light;
    display: flex;
    font-size: $font-size-standard-minus;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin: 0 30px;

    > div {
      padding: 0 20px;
    }
  }

  .-body {
    border-radius: $very-rounded-element-border-radius;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
    margin: 0 30px;
    background: $white;
    overflow: hidden;

    .-row {
      font-size: $font-size-standard;
      padding: 15px 0;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid $grey-very-light;
      }

      > div {
        padding: 0 20px;
      }
    }
  }

  .-width-50 {
    width: 50px;
    flex-shrink: 0;
  }

  .-width-70 {
    width: 70px;
    flex-shrink: 0;
  }

  .-width-85 {
    width: 85px;
    flex-shrink: 0;
  }
  
  .-width-130 {
    width: 130px;
    flex-shrink: 0;
  }

  .-width-150 {
    width: 150px;
    flex-shrink: 0;
  }

  .-width-200 {
    width: 200px;
    flex-shrink: 0;
  }

  .-width-250 {
    width: 250px;
    flex-shrink: 0;
  }
}
