
// Backgrounds
$gradient-blue-dark: #0072ff;
$gradient-blue-dark-transparent: rgba(0, 114, 255, 0.7);
$gradient-blue-light: #00C3ff;
$gradient-blue-light-transparent: rgba(0, 195, 255, 0.7);

// Colors
$black: #171a1d;
$grey-dark: rgba(30, 34, 39, 0.5);
$grey-light: #f7f7f7;
$grey-normal: #1e2227;
$white: #fafafa;

// Grid
$row-height: 60px;
$row-detail-size: 32px;

// Texts
$font-family: Montreal, sans-serif;
$font-size-standard: 13px;
$letter-spacing-wide: 1px;
