@import 'customize/styling.scss';

// Backgrounds
$gradient-dark: $app-gradient-dark;
$gradient-light: $app-gradient-light;

// Colors
$main-color: $app-main-color;
$black: #1e2227;
$white: #fafafa;
$transparent: rgba(0,0,0,0);

$grey-lightest: #f7f7f7;
$grey-very-light: rgba(30, 34, 39, 0.05);
$grey-light: rgba(30, 34, 39, 0.2);
$grey: rgba(30, 34, 39, 0.5);
$grey-semi-dark: rgba(30, 34, 39, 0.75);
$grey-dark: #1e2227;

$red: #ff004e;
$green: #00df80;
$yellow: #ffc125;

$rounded-element-border-radius: 6px;
$very-rounded-element-border-radius: 15px;

// Grid
$row-height: 60px;
$row-detail-size: 32px;

// Texts
$font-size-standard-minus: 12px;
$font-size-standard: 13px;
$font-size-standard-plus: 14px;
$font-size-big: 15px;
$letter-spacing-wide: 1px;

// Responsive sizes
$max-xs-width: 767px;
$max-sm-width: 991px;
