// Backgrounds
$gradient-blue-dark: #0072ff;
$gradient-blue-dark-transparent: rgba(0, 114, 255, 0.7);
$gradient-blue-light: #00C3ff;
$gradient-blue-light-transparent: rgba(0, 195, 255, 0.7);

// Colors
$black: #171a1d;

$grey-lightest: #f7f7f7;
$grey-very-light: rgba(30, 34, 39, 0.05);
$grey-light: rgba(30, 34, 39, 0.2);
$grey: rgba(30, 34, 39, 0.5);
$grey-semi-dark: rgba(30, 34, 39, 0.75);
$grey-dark: #1e2227;

$white: #fafafa;
$transparent: rgba(0,0,0,0);

$red: #ff004e;
$blue: #0072ff;
$green: #00df80;
$yellow: #ffc125;

// Grid
$row-height: 60px;
$row-detail-size: 32px;

// Texts
$font-size-standard: 13px;
$letter-spacing-wide: 1px;

// Responsive sizes
$max-xs-width: 767px;
$max-sm-width: 991px;
