@import '../../../../theme/variables';

.red-title {
  font-family: Skycoin;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.0769231em;
  color: $red;
}

.link {
  cursor: pointer;
  color: $gradient-blue-dark;
}
