<app-modal [useRedTitle]="data.redTitle" [headline]="data.headerText | translate" [dialog]="dialogRef" [disableDismiss]="disableDismiss">
  {{ data.text | translate }}
  @if (data.linkText && data.linkFunction) {
    <span class="link" (click)="data.linkFunction(); closeModal(false);">{{ data.linkText | translate }}</span>
  }

  @if (data.checkboxText) {
    <div class="-check-container">
      <mat-checkbox type="checkbox"
        class="-check e2e-confirm-checkbox"
        id="terms"
        [checked]="accepted"
        (change)="setAccept($event)">{{ data.checkboxText | translate }}
      </mat-checkbox>
    </div>
  }

  <div class="-buttons">
    @if (data.cancelButtonText) {
      <app-button (action)="closeModal(false)">
        {{ data.cancelButtonText | translate }}
      </app-button>
    }
    <app-button (action)="closeModal(true)" class="primary-button" [disabled]="data.checkboxText && !accepted">
      {{ data.confirmButtonText | translate }}
    </app-button>
  </div>
</app-modal>
