<app-modal title="Disclaimer" [dialog]="dialogRef" [disableDismiss]="true">
  <div>
    <span class="-disclaimer-description">
      By continuing, you understand the risks related to the use of cryptographic tokens & blockchain-based software,
      the Skycoin wallet, and the Skycoin cryptocurrency. You understand this this product is provided as-is, and
      agree to the Terms and Conditions governing the usage of this product.
    </span>
    <div class="-check-container">
      <mat-checkbox class="-disclaimer-check-text -check" [checked]="acceptTerms" (change)="setAccept($event)"
                   type="checkbox" id="terms">Yeah, I understand.
      </mat-checkbox>
    </div>
  </div>
  <div class="-text-center">
    <app-button class="primary -no-bottom-margin" (action)="closePopup()" [disabled]="!acceptTerms">
      Continue
    </app-button>
  </div>
</app-modal>
