@import '../../../../../../theme/variables';

h4 {
  font-size: $font-size-standard-plus;
  margin: 0 0 30px;
}

.-item {
  display: flex;
  font-size: $font-size-standard;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .-number {
    padding: 10px;
    background: $grey-lightest;
    align-self: flex-start;
    border-radius: $very-rounded-element-border-radius;
  }

  .-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    word-break: break-all;

    .-address {
      padding: 10px 0;
      margin-bottom: 5px;
    }
  }
}

.-data {
  font-size: $font-size-standard;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  span:first-child {
    color: $grey;
    width: 70px;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  span:nth-child(2) {
    word-break: break-word;
  }

  &.-more {
    margin-top: 20px;
  }
}

.edit-button {
  font-size: 20px;
  padding-left: 5px;
  color: $main-color;
}

.-tx-meta {
  .-data {
    margin-bottom: 10px;
  }
}

.-tx-price {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .-icon {
    img {
      width: 30px;
    }
  }

  h4 {
    color: $black;
    font-size: $font-size-very-big;
    font-weight: 700;
    margin: 10px 0 5px;
    word-break: break-word;
  }

  p {
    color: $grey;
    font-size: $font-size-standard;
    margin: 0;

    span {
      color: lighten($grey, 40%);
    }
  }
}

.-margin-top {
  margin-top: 30px;
}
