<p *ngIf="!otcEnabled">Sorry, otc has currently been disabled!</p>
<mat-card *ngIf="otcEnabled">
  <mat-card-title>Purchase Skycoin</mat-card-title>
  <mat-card class="skycoin-details">
    You can buy Skycoins directly from your wallet using our Skycoin Teller service. The current rate is 0.0002 BTC per
    SKY. To buy SKY, request a BTC deposit address. Once you have a BTC deposit address, any BTC deposits will
    automatically be added to your selected address.
  </mat-card>

  <mat-list>
    <ng-container *ngFor="let address of (purchaseService.all() | async); let i = index">
      <mat-divider *ngIf="i"></mat-divider>
      <h3 mat-subheader>Sky address: {{ address.address }}</h3>
      <mat-list-item *ngFor="let btc of address.addresses">
        <h4 mat-line> Bitcoin address: {{ btc.btc }}</h4>
        <p mat-line> Status: {{ btc.status | tellerStatus }} (updated at: {{ btc.updated | dateTime }}) </p>
        <button mat-icon-button (click)="searchDepositAddress(address.address)" [disabled]="scanning">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-card>
<div class="button-line" *ngIf="otcEnabled">
  <a mat-raised-button color="primary" (click)="addDepositAddress()">Add deposit address</a>
</div>
