<app-header></app-header>
<div class="-background-container">
  <div class="container">
    <div [formGroup]="form" class="-paper" *ngIf="config">
      <div class="-step">
        <div class="-number">
          <span class="primary-gradient-background">1</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>Deposit Location</h3>
          <p>Choose a wallet where you'd like us to deposit your Skycoin after we receive your Bitcoin.</p>
          <div class="form-field">
            <select formControlName="wallet" id="wallet" class="-wallet" required>
              <option disabled selected>Make a choice</option>
              <option *ngFor="let wallet of wallets" [value]="wallet.filename">
                {{ wallet.label }} - <span class="-coins">{{ wallet.coins }} SKY</span>
              </option>
            </select>
          </div>
          <span class="-subtitle">
          Each time a new wallet and address are selected, a new BTC address is generated. A single Skycoin address can
          have up to 5 BTC addresses assigned to it.
        </span>
        </div>
      </div>
      <div class="-step" *ngIf="order">
        <div class="-number">
          <span class="primary-gradient-background">2</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>Send Bitcoin</h3>
          <p>
            Send Bitcoin to the address below. Once received, we will deposit the Skycoin to a new address in the wallet
            selected above at the current rate of <span>{{ config.sky_btc_exchange_rate }} SKY/BTC</span>.
          </p>
          <span class="-address">
          {{ order.deposit_address }}
          </span>
          <span class="-subtitle">
          Only send multiple of the SKY/BTC rate! Skycoin is sent in whole number; fractional SKY is not sent!
        </span>
        </div>
      </div>
      <div class="-step" *ngIf="order">
        <div class="-number">
          <span class="primary-gradient-background">3</span>
        </div>
        <div class="-instructions flex-fill">
          <h3>Receive Sky</h3>
          <p>
            After receiving your Bitcoin, we'll send you your Skycoin. It may take anywhere between 20 minutes and an hour
            to receive your SKY.
          </p>
          <span class="-status">
            Status: {{ order.status | tellerStatus }}
          </span>
          <app-button #button (action)="checkStatus()" class="primary">
            Check Status
          </app-button>
          <app-button #button (action)="removeOrder()">
            New Order
          </app-button>
        </div>
      </div>
    </div>
    <img src="../../../../assets/img/otc-background.jpg" class="-background-image">
  </div>
</div>
