@import '../../../../../theme/variables';

.content {
  display: flex;

  .icon-container {
    margin-right: 20px;

    mat-spinner {
      display: inline-block;

      height: 36px !important;
      width: 36px !important;

      ::ng-deep svg {
        height: 36px !important;
        width: 36px !important;
      }
  
      ::ng-deep circle {
        stroke: $grey-light;
      }
    }

    i {
      font-size: 40px;
    }
  }

  .text-container {
    flex-grow: 1;
    align-self: center;

    .list {
      padding: 10px 0;

      .list-element {
        margin: 10px 0;
        font-size: $font-size-standard-minus;
        color: #000000;
        font-weight: bold;
      }
    }
  }

  .-blinking {
    animation: alert-blinking 1s linear infinite;
  }
}

.big-text {
  color: $black;
  font-weight: bold;
  font-size: $font-size-big;
}
