<div class="content">
  <!-- Icons. -->
  <div class="icon-container" *ngIf="icon !== icons.None">
    <mat-spinner *ngIf="icon == icons.Spinner"></mat-spinner>
    <i *ngIf="icon == icons.Success" class="material-icons green-text">done</i>
    <i *ngIf="icon == icons.Error" class="material-icons red-text">error_outline</i>
    <i *ngIf="icon == icons.Usb" class="material-icons grey-light-text">usb</i>
    <i *ngIf="icon == icons.HardwareWallet" class="material-icons yellow-text">memory</i>
    <i *ngIf="icon == icons.Warning" class="material-icons red-text -blinking">error</i>
    <i *ngIf="icon == icons.Confirm" class="material-icons yellow-text">touch_app</i>
  </div>
  <!-- Texts. -->
  <div class="text-container">
    <div *ngIf="upperBigText">
      <span class="big-text">{{ upperBigText }}</span>
    </div>
    <span *ngIf="text">{{ text }}</span>
    <span *ngIf="link && !linkIsUrl" class="link" (click)="activateLink()">{{ linkText ? linkText : link }}</span>
    <span *ngIf="link && linkIsUrl && !linkIsInternal"><a class="link" [href]="link" target="_blank" rel="noreferrer nofollow noopener">{{ linkText ? linkText : link }}</a></span>
    <span *ngIf="link && linkIsUrl && linkIsInternal"><a class="link" [href]="link">{{ linkText ? linkText : link }}</a></span>
    <div *ngIf="outputsList" class="list">
      <div *ngFor="let output of outputsList" class="list-element">
        <span>
          • <app-number-formatter [number]="output.coins | amount:true:'first'"></app-number-formatter>
          {{output.coins | amount:true:'last' }}
        </span>
        <span>{{ 'hardware-wallet.create-tx.separator-for-coins-and-hours' | translate }}
          <app-number-formatter [number]="output.hours | amount:false:'first'"></app-number-formatter>
          {{output.hours | amount:false:'last' }}
        </span>
        <span>{{ 'hardware-wallet.create-tx.separator-to-destination' | translate }} {{ output.address }}</span>
      </div>
    </div>
    <span *ngIf="lowerText">{{ lowerText }}</span>
    <div *ngIf="lowerBigText">
      <span class="big-text">{{ lowerBigText }}</span>
    </div>
    <div *ngIf="lowerLightText">
      <span class="grey-light-text">{{ lowerLightText }}</span>
    </div>
  </div>
</div>
