.DS_Store
.DS_Store?
._*
.Trashes
.vscode
.github
.dockerignore
.editorconfig
.gitignore
.travis.yml

*.md

Makefile
Gopkg.lock
Gopkg.toml

**/doc_images/*
**/e2e/*
**/node_modules/*
**/dist/*
**/test/*
