
{{define "header"}}
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
{{end}}

{{define "navbar"}}

<br>
------------------------------------------------------------------------------
<br>

<a href="/">Home</a> |
<a href="/wallet">Wallet</a> |
<a href="/settings">Settings</a> |
<a href="/fogs?local=true">My Fogs</a> |
<a href="/fogs?remote=true">Remote Fogs</a> |
<a href="/fog/create">Create Fog</a> |
<a href="/rescan">Rescan Shares</a>

<br>
------------------------------------------------------------------------------
<br>

{{end}}


{{define "footer"}}
</body>
</html>
{{end}}
