{{ template "header"}}

{{ template "navbar"}}

<h1>Editing {{.Title}}</h1>

<form action="/save/{{.Title}}" method="POST">
<div><textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea></div>
<div><input type="submit" value="Save"></div>
</form>

<table class="itg">
<tbody><tr>
    <th style="text-align:center; width:95px"><a href="/cd ">Uploaded</a></th>
    <th>Meta Name</th>
    <th style="text-align:center; width:50px">ID</th>
    <th style="text-align:center; width:70px"><a href="/">Size</a></th>
    <th style="text-align:center; width:35px"><a href="/">Seeds</a></th>
    <th style="text-align:center; width:35px"><a href="/">Peers</a></th>
    <th style="text-align:center; width:40px"><a href="/">DLs</a></th>
    <th style="text-align:center; width:90px">Uploader</th>
</tr>

{{range .Files}}

<tr class="gtr0">
    <td class="itd" style="width:102px; white-space:nowrap">2013-06-28</td>
    <td class="itd">
        <div style="height:15px; min-width:300px; max-width:600px; overflow:hidden">
            <a href="/" onclick=""> {{.}}</a>
        </div>
    </td>
    <td class="itd" style="text-align:right; width:50px"><a href="/">295471</a></td>
    <td class="itd" style="text-align:right; width:70px; white-space:nowrap">25.25 MB</td>
    <td class="itd" style="text-align:right; width:30px">1</td>
    <td class="itd" style="text-align:right; width:30px">11</td>
    <td class="itd" style="text-align:right; width:40px">0</td>
    <td class="itd" style="width:90px">
        <div style="width:120px; overflow:hidden">
            <a href="/">instant_noodle</a>
        </div>
    </td>
</tr>

{{end}}

</tbody>
</table>

{{ template "footer" }}
