<app-modal class="modal" [headline]="this.title | translate" [dialog]="dialogRef" [disableDismiss]="currentState === states.Processing">
  <div *ngIf="currentState === states.Initial">
    <app-hw-message
      [text]="(text | translate)"
      [icon]="deviceHasFirmware ? msgIcons.Warning : msgIcons.HardwareWallet"
    ></app-hw-message>

    <div class="-check-container" *ngIf="deviceHasFirmware">
      <mat-checkbox type="checkbox"
                    class="-check"
                    [checked]="confirmed"
                    (change)="setConfirmed($event)">{{ 'hardware-wallet.update-firmware.check' | translate }}
      </mat-checkbox>
    </div>

    <div class="-buttons">
      <app-button (action)="closeModal()">
        {{ 'hardware-wallet.general.cancel' | translate }}
      </app-button>
      <app-button (action)="startUpdating()" class="primary-button" [disabled]="deviceHasFirmware && !confirmed" #button>
        {{ 'hardware-wallet.general.continue' | translate }}
      </app-button>
    </div>
  </div>

  <div *ngIf="currentState !== states.Initial">
    <app-hw-message *ngIf="currentState === states.Connecting"
      [text]="'hardware-wallet.update-firmware.title-connecting' | translate"
      [icon]="msgIcons.Spinner"
    ></app-hw-message>

    <app-hw-message *ngIf="currentState === states.Processing"
      [text]="'hardware-wallet.update-firmware.follow' | translate"
      [icon]="msgIcons.Confirm"
    ></app-hw-message>

    <app-hw-message *ngIf="currentState === states.ShowingResult"
      [text]="result.text | translate"
      [icon]="result.icon"
    ></app-hw-message>

    <div class="-buttons" *ngIf="currentState !== states.Processing">
      <app-button (action)="closeModal()" class="primary-button" #closeButton>
        {{ 'hardware-wallet.general.close' | translate }}
      </app-button>
    </div>
  </div>
</app-modal>