<div>
  <app-header [headline]="'outputs.title' | translate"></app-header>

  <app-loading-content
    [isLoading]="!wallets"
    noDataText="outputs.error-no-outputs"
    *ngIf="!wallets || wallets.length === 0 || wallets[0].addresses[0].outputs.length === 0"
  ></app-loading-content>

  <div class="container" *ngIf="wallets && wallets.length > 0">
    <div class="-table" *ngFor="let wallet of wallets">
      <div class="-headers">
        <div class="-flex-fill text-truncate" [attr.title]="wallet.label">{{ wallet.label }}</div>
        <div class="-width-150 text-right">{{ 'coin' | commonText }}</div>
        <div class="-width-150 text-right">{{ 'hours' | commonText }}</div>
      </div>
      <div class="-body">
        <ng-container *ngFor="let address of wallet.addresses">
          <div class="-row">
            <div class="-flex-fill grey-text text-truncate">
              <app-qr-code-button [address]="address.address"></app-qr-code-button>
              <span class="address">{{ address.address }}</span>
            </div>
          </div>
          <div class="-row" *ngFor="let output of address.outputs">
            <div class="-flex-fill -hash">{{ output.hash }}</div>
            <div class="-width-150 text-right">
              <app-number-formatter [number]="output.coins | amount:true:'first'"></app-number-formatter>
            </div>
            <div class="-width-150 text-right grey-text">
              <app-number-formatter [number]="output.hours | amount:false:'first'"></app-number-formatter>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Needed to force Chrome respect any previous bottom margin. -->
  <div class="final-element"></div>
</div>
