@import '../../../../../theme/variables';

$qr-code-margin: 10px;

.-hash {
  margin-left: $qr-code-button-size + $qr-code-margin;
  word-break: break-all;
}

.qr-code-button {
  vertical-align: middle;
  margin-right: $qr-code-margin;
}

.address {
  vertical-align: middle;
}
