@import '../../../../../theme/_variables.scss';

.-txid {
  word-break: break-all;
}

.-timestamp {
  color: $grey;
}

.-width-80 {
  width: 80px;
  min-width: 80px;
}

.delete-icon {
  cursor: pointer;
  color: $grey;
  font-size: 18px;

  &:hover {
    color: $red;
  }
}
