<app-modal class="modal" [headline]="'hardware-wallet.seed-word.title' | translate" [dialog]="dialogRef">
  <app-hw-message
    [upperBigText]="'hardware-wallet.seed-word.info1' | translate"
    [text]="'hardware-wallet.seed-word.info2' | translate"
    [icon]="msgIcons.None"
  ></app-hw-message>
  <div [formGroup]="form" class="form-container">
    <div class="form-field">
      <label for="word">{{ 'hardware-wallet.seed-word.word' | translate }}</label>
      <input matInput [matAutocomplete]="auto" formControlName="word" id="word" (keydown.enter)="sendWord()">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option class="option" *ngFor="let option of filteredOptions | async" [value]="option" (click)="sendWord()">{{option}}</mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="sendWord()" class="primary" [disabled]="!form.valid">
      {{ 'hardware-wallet.general.continue' | translate }}
    </app-button>
  </div>
</app-modal>
