<div class="element-details-wrapper">
  <!-- Title -->
  <h2>{{ 'unconfirmedTx.title' | translate }}</h2>
  <!-- Top data table -->
  <div class="element-details">
    <div class="-row"><span>{{ 'unconfirmedTx.quantity' | translate }}</span><br class="-xs-only" /><div> {{ transactions ? (transactions.length > 0 ? transactions.length : ('unconfirmedTx.withoutTransactions' | translate)) : (loadingMsg | translate) }} </div></div>
    <div class="-row"><span>{{ 'unconfirmedTx.size' | translate }}</span><br class="-xs-only" /><div> {{ transactions ? (transactions.length > 0 ? (totalSize | number) + ' bytes' : ('unconfirmedTx.withoutTransactions' | translate)) : (loadingMsg | translate) }} </div></div>
    <div class="-row"><span>{{ 'unconfirmedTx.newest' | translate }}</span><br class="-xs-only" /><div> @if (transactions && transactions.length > 0) {
    <app-date-formatter [date]="mostRecent" [dateMultiplier]="1"></app-date-formatter>
    } @if (transactions && transactions.length === 0) {
    <span>{{ 'unconfirmedTx.withoutTransactions' | translate }}</span>
    } @if (!transactions) {
    <span>{{ loadingMsg | translate }}</span>
  } </div></div>
  <div class="-row"><span>{{ 'unconfirmedTx.oldest' | translate }}</span><br class="-xs-only" /><div> @if (transactions && transactions.length > 0) {
  <app-date-formatter [date]="leastRecent" [dateMultiplier]="1"></app-date-formatter>
  } @if (transactions && transactions.length === 0) {
  <span>{{ 'unconfirmedTx.withoutTransactions' | translate }}</span>
  } @if (!transactions) {
  <span>{{ loadingMsg | translate }}</span>
} </div></div>
</div>
</div>

<!-- Loading control -->
@if (transactions === undefined) {
  <app-loading [longErrorMsg]="longErrorMsg | translate"></app-loading>
}

<!-- Transactions list -->
@for (transaction of transactions; track transaction) {
  <app-transaction-info [transaction]="transaction" [unconfirmed]="true"></app-transaction-info>
}
