<app-modal [headline]="'title.select-address' | translate" [dialog]="dialogRef">
  <div class="wallet-container select-address-theme" *ngFor="let wallet of wallets">
    <div class="title" title="{{ wallet.label }}">{{ wallet.label }}</div>
    <button mat-button color="primary" *ngFor="let address of wallet.addresses" (click)="select(address.address)">
      <div class="address">{{ address.address }}</div>
      <div class="balance">{{ address.coins.decimalPlaces(6).toString() | number:'1.0-6' }}
        <span class="grey">{{ 'common.coin-id' | translate }} | </span>
        {{ address.hours.decimalPlaces(0).toString() | number:'1.0-0' }}
        <span class="grey">{{ 'common.coin-hours' | translate }}</span>
      </div>
    </button>
  </div>
</app-modal>
