.-safe-description {
  font-family: Skycoin;
  line-height: 20px;
  font-size: 12px;

  color: #1E2227;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.-check-container {
  text-align: center;
  margin-top: 50px;
}

.-safe-check-text {
  font-family: Skycoin;
  line-height: normal;
  font-size: 14px;

  color: #1E2227;
}

.-check ::ng-deep {
  .mat-checkbox-checkmark-path {
    position: absolute;
    width: 18px;
    height: 8px;
    left: 4.59px;
    top: 9px;
    stroke: #0072FF !important;
  }

  .mat-checkbox-background, .mat-checkbox-frame {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background: rgba(30, 34, 39, 0.05);
    border-radius: 6px;
    border-color: transparent;
  }
}

.-text-center {
  text-align: center;
}

.-no-bottom-margin ::ng-deep button {
  margin: 28px 10px 0 10px !important;
}

.-title {
  font-family: Skycoin;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.0769231em;
  color: #FF004E;
}
