<!--
  Important: this component has to be replaced by a standard confirmation dialog.
-->
<app-modal class="-title" [headline]="'wizard.confirm.title' | translate" [dialog]="dialogRef">
  <div>
    <span class="-safe-description">{{ 'wizard.confirm.desc' | translate }}</span>
    <div class="-check-container">
      <mat-checkbox class="-safe-check-text -check" [checked]="acceptSafe" (change)="setAccept($event)"
                   type="checkbox" id="terms">{{ 'wizard.confirm.checkbox' | translate }}
      </mat-checkbox>
    </div>
  </div>
  <div class="-text-center">
    <app-button class="primary-button -no-bottom-margin" (action)="closePopup()" [disabled]="!acceptSafe">
      {{ 'wizard.confirm.button' | translate }}
    </app-button>
  </div>
</app-modal>
