@import '../../../../theme/variables';
@import '../../../../customize/styling';

.-container {
  background-color: $white;
  border-bottom: 2px solid $grey-very-light;
}

.large-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-size: cover;
  background-image: url('customize/header.png');

  .gradient {
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    min-height: 190px;
    background-image: url('customize/header-gradient.png');
  }
}

.balance-container {
  align-items: center;
  color: $header-text-color;
  display: flex;
  flex: 1 1 auto;
  font-size: $font-size-standard-minus;
  justify-content: center;
  text-align: center;

  .balance {
    .coins {
      line-height: 1;
      margin: 0 0 0.5em;

      span {
        font-size: 4em;
      }
    }

    .loading-header {
      margin: 0 0 0.5em;
      font-size: 2em;
    }
  }

  .dollars {
    margin: 0;
  }
}

.hour-balance {
  text-align: center;

  p {
    background-color: $header-hours-background-color;
    border-radius: 1000px;
    color: $header-hours-text-color;
    display: inline-block;
    font-size: $font-size-standard-minus;
    line-height: 1.8;
    margin: 1em 0 2em;
    padding: 0 30px;
  }
}

.notification-bar {
  background-color: $red;
  color: $white;

  div {
    margin: auto;

    a {
      text-decoration: underline;
      color: $white;
    }
  }
}
