<div class="-container">
  <div class="large-header">
    <!-- Balance area. -->
    <div class="gradient">
      <app-top-bar [headline]="headline"></app-top-bar>
      <div class="balance-container">
        <div class="balance">
          <p *ngIf="!synchronizationInfoObtained || (synchronized && !balanceObtained)" class="loading-header">{{ 'common.loading' | translate }}</p>
          <p *ngIf="synchronizationInfoObtained && !synchronized" class="coins"><span>{{ synchronizationPercentage | percent:'1.2-2' }}</span></p>
          <p *ngIf="synchronized && balanceObtained" class="coins">
            <span class="number"><app-number-formatter [number]="coins | amount:true:'first'" [altDecimalsStyle]="'true'"></app-number-formatter></span>
            <span class="name">{{ coins | amount:true:'last' }}</span>
          </p>
          <p class="dollars" *ngIf="showPrice">
            <span *ngIf="price">
              <span *ngIf="synchronized && balanceObtained">{{ (coins * price) | currency:'USD':'symbol':'1.2-2' }}</span>
              <span *ngIf="!synchronized || !balanceObtained">-</span>
              ({{ price | currency:'USD':'symbol':'1.2-2' }})
            </span>
            <span *ngIf="!price">{{ 'common.loading' | translate }}</span>
          </p>
        </div>
      </div>
      <div class="hour-balance">
        <p *ngIf="!synchronizationInfoObtained || (synchronized && !balanceObtained)">{{ 'common.loading' | translate }}</p>
        <p *ngIf="synchronizationInfoObtained && !synchronized">{{ 'header.syncing-blocks' | translate }} {{ '(' + currentBlock + '/'  + highestBlock + ')' }}</p>
        <p *ngIf="synchronized && balanceObtained">{{ hours | amount:false }}</p>
      </div>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
  <mat-progress-bar
    *ngIf="!synchronized && synchronizationInfoObtained"
    color="primary"
    [mode]="'determinate'"
    [value]="synchronizationPercentage * 100"></mat-progress-bar
  >
  <!-- Errors area. -->
  <div class="notification-bar" *ngIf="appService.updateAvailable">
    <div>
      {{ 'header.warnings.update-part1' | translate }}
      <a [href]="walletDownloadUrl" target="_blank" rel="noreferrer nofollow noopener">v{{ appService.lastestVersion }}</a>
      {{ 'header.warnings.update-part3' | translate }}
    </div>
  </div>
  <div class="notification-bar" *ngIf="appService.csrfDisabled">
    <div>{{ 'header.warnings.csrf' | translate }}</div>
  </div>
  <div class="notification-bar" *ngIf="!appService.csrfDisabled && networkService.noConnections">
    <div>{{ 'header.warnings.no-connections' | translate }}</div>
  </div>
  <div class="notification-bar" *ngIf="hasPendingTxs || (!synchronized && synchronizationInfoObtained)">
    <div *ngIf="hasPendingTxs">
      {{ 'header.warnings.pending-txs-part1' | translate }}
      <a routerLink='/settings/pending-transactions'>{{ 'header.warnings.pending-txs-part2' | translate }}</a>
      {{ 'header.warnings.pending-txs-part3' | translate }}
    </div>
    <div *ngIf="!synchronized && synchronizationInfoObtained && !hasPendingTxs">
      {{ 'header.warnings.synchronizing' | translate }}
    </div>
  </div>
</div>
