@import '../../../../theme/variables';

.-container {
  background-color: #fbfbfb;
  border-bottom: 2px solid rgba(30, 34, 39, 0.05);
}

.large-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-size: cover;
  background-image: url('customize/header.png');

  .gradient {
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    min-height: 190px;
    background-image: url('customize/header-gradient.png');
  }
}

.balance-container {
  align-items: center;
  color: $white;
  display: flex;
  flex: 1 1 auto;
  font-size: 12px;
  justify-content: center;
  text-align: center;

  .balance {
    .coins {
      line-height: 1;
      margin: 0 0 0.5em;

      span {
        font-size: 4em;
      }
    }
  }

  .dollars {
    margin: 0;
  }
}

.hour-balance {
  text-align: center;

  p {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    color: $black;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin: 1em 0 2em;
    padding: 0 30px;
  }
}

.notification-bar {
  background-color: #F44A4D;
  color:#FBFBFB;

  div {
    margin: auto;

    a {
      text-decoration: none;
      color: #FFEBEE;
    }
  }
}
