<div class="-container">
  <div class="large-header">
    <!-- Balance area. -->
    <div class="gradient">
      <app-top-bar [headline]="headline"></app-top-bar>
      <div class="balance-container">
        <div class="balance">
          @if (!synchronizationInfoObtained || (synchronized && !balanceObtained)) {
            <p class="loading-header">{{ 'common.loading' | translate }}</p>
          }
          @if (synchronizationInfoObtained && !synchronized) {
            <p class="coins"><span>{{ synchronizationPercentage | percent:'1.2-2' }}</span></p>
          }
          @if (synchronized && balanceObtained) {
            <p class="coins"><span>{{ coins | amount:true:'first' }}</span> {{ coins | amount:true:'last' }}</p>
          }
          @if (showPrice) {
            <p class="dollars">
              @if (price) {
                <span>
                  @if (synchronized && balanceObtained) {
                    <span>{{ (coins * price) | currency:'USD':'symbol':'1.2-2' }}</span>
                  }
                  @if (!synchronized || !balanceObtained) {
                    <span>-</span>
                  }
                  ({{ price | currency:'USD':'symbol':'1.2-2' }})
                </span>
              }
              @if (!price) {
                <span>{{ 'common.loading' | translate }}</span>
              }
            </p>
          }
        </div>
      </div>
      <div class="hour-balance">
        @if (!synchronizationInfoObtained || (synchronized && !balanceObtained)) {
          <p>{{ 'common.loading' | translate }}</p>
        }
        @if (synchronizationInfoObtained && !synchronized) {
          <p>{{ 'header.syncing-blocks' | translate }} {{ '(' + currentBlock + '/'  + highestBlock + ')' }}</p>
        }
        @if (synchronized && balanceObtained) {
          <p>{{ hours | amount:false }}</p>
        }
      </div>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
  @if (!synchronized && synchronizationInfoObtained) {
    <mat-progress-bar
      color="primary"
      [mode]="'determinate'"
      [value]="synchronizationPercentage * 100"></mat-progress-bar
      >
    }
    <!-- Errors area. -->
    @if (appService.updateAvailable) {
      <div class="notification-bar">
        <div>
          {{ 'header.warnings.update-part1' | translate }}
          <a [href]="walletDownloadUrl" target="_blank" rel="noreferrer nofollow noopener">v{{ appService.lastestVersion }}</a>
          {{ 'header.warnings.update-part3' | translate }}
        </div>
      </div>
    }
    @if (appService.csrfDisabled) {
      <div class="notification-bar">
        <div>{{ 'header.warnings.csrf' | translate }}</div>
      </div>
    }
    @if (!appService.csrfDisabled && networkService.noConnections) {
      <div class="notification-bar">
        <div>{{ 'header.warnings.no-connections' | translate }}</div>
      </div>
    }
    @if (hasPendingTxs || (!synchronized && synchronizationInfoObtained)) {
      <div class="notification-bar">
        @if (hasPendingTxs) {
          <div>
            {{ 'header.warnings.pending-txs-part1' | translate }}
            <a routerLink='/settings/pending-transactions'>{{ 'header.warnings.pending-txs-part2' | translate }}</a>
            {{ 'header.warnings.pending-txs-part3' | translate }}
          </div>
        }
        @if (!synchronized && synchronizationInfoObtained && !hasPendingTxs) {
          <div>
            {{ 'header.warnings.synchronizing' | translate }}
          </div>
        }
      </div>
    }
  </div>
