<div class="-container">
  <div class="large-header" [ngStyle]="{'background-image': currentCoin.imageName ? 'url(assets/img/coins/' + currentCoin.imageName + ')' : 'none'}">
    <div class="gradient" [style.background-image]="currentCoin.gradientName ?
      'url(assets/img/coins/' + currentCoin.gradientName + ')' :
      (!currentCoin.imageName ? 'url(assets/img/coins/generic.jpg)' : 'none')">
      <app-top-bar [headline]="headline"></app-top-bar>
      <div class="balance-container">
        <div>
          @if (!highest && loading) {
            <p class="loading-header">{{ 'header.loading' | translate }}</p>
          }
          @if (highest && loading) {
            <p class="coins"><span>{{ percentage | percent:'1.2-2' }}</span></p>
          }
          @if (!loading) {
            <p class="coins"><span>{{ coins.decimalPlaces(currentCoin.coinDecimals).toString() | number:('1.0-' + currentCoin.coinDecimals) }}</span> {{ currentCoin.coinSymbol }}</p>
          }
          @if (!loading && balance) {
            <p class="dollars">{{ balance }}</p>
          }
          @if (!loading && !balance && currentCoin.priceTickerId) {
            <p class="dollars">{{ 'header.loading' | translate }}</p>
          }
        </div>
      </div>
      <div class="hour-balance">
        @if (loading) {
          <p>{{ 'header.syncing-blocks' | translate }} {{ current && highest ?  '(' + current + '/'  + highest + ')' : '...' }}</p>
        }
        @if (!loading && currentCoin.hasHours()) {
          <p>{{ hours.decimalPlaces(0).toString() | number:'1.0-0' }} {{ currentCoin.hoursName }}</p>
        }
        <div class="-on-small-and-below-only">
          @if (this.problemUpdatingBalance) {
            <span class="blinking-warning-icon-container">
              <mat-icon
                [matTooltip]="'header.connection-error-tooltip' | translate"
                matTooltipPosition="right"
                matTooltipClass="tooltip"
                class="blinking-warning-icon">
                warning
              </mat-icon>
            </span>
          }
          @if (balanceObtained) {
            <span>
              {{ 'header.top-bar.updated1' | translate }}
              {{ timeSinceLastBalanceUpdate === 0 ? ('header.top-bar.less-than' | translate ) : timeSinceLastBalanceUpdate }}
              {{ 'header.top-bar.updated2' | translate }}
            </span>
          }
          @if (!balanceObtained) {
            <span>-</span>
          }
        </div>
      </div>
    </div>
  </div>
  <app-nav-bar class="-not-on-small-and-below"></app-nav-bar>
  <mat-progress-bar
    [style.visibility]="loading ? 'visible' : 'hidden'"
    class="progress-bar"
    color="primary"
    [mode]="!isBlockchainLoading ? 'query' : 'determinate'"
    [value]="percentage * 100">
  </mat-progress-bar>
  <app-nav-bar class="-on-small-and-below-only"></app-nav-bar>
  @if (connectionError != null) {
    <mat-toolbar class="notification-bar">
      @if (connectionError === connectionErrorsList.NO_ACTIVE_CONNECTIONS) {
        <div>
          {{ 'header.errors.no-connections' | translate }}
        </div>
      }
      @if (connectionError === connectionErrorsList.UNAVAILABLE_BACKEND) {
        <div>
          {{ 'header.errors.no-backend1' | translate }}
          <a href="https://web.telegram.org/#/im?p=@skycoinsupport">{{ 'header.errors.no-backend2' | translate }}</a>
          {{ 'header.errors.no-backend3' | translate }}
        </div>
      }
    </mat-toolbar>
  }
  @if (hasPendingTxs || !synchronized) {
    <mat-toolbar class="notification-bar">
      @if (hasPendingTxs && synchronized) {
        <div>
          {{ 'header.pending-txs1' | translate }}
          <a routerLink="/settings/pending-transactions">{{ 'header.pending-txs2' | translate }}</a>
          {{ 'header.pending-txs3' | translate }}
        </div>
      }
      @if (!synchronized) {
        <div>
          {{ 'header.synchronizing' | translate }}
        </div>
      }
    </mat-toolbar>
  }
</div>
