@import '../../../../theme/variables';

button {
  width: 100%;
  text-align: left;
  padding: 10px 10px;
  border-bottom: 1px solid #eff0f0;
}

.wallet-container {
  padding-top: 30px;
  margin: 0px -10px;

  &:first-child {
    padding-top: 0px;
  }

  .title {
    color: $black;
    border-bottom: 1px solid #eff0f0;
    padding: 0px 10px;
    font-size: 18px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .address {
    font-size: 13px;
    line-height: 22px;
    color: $black;
  }

  .balance {
    font-size: 12px;
    line-height: 18px;
    color: $black;

    .grey {
      color: $grey;
    }
  }
}