<app-modal [headline]="'title.select-address' | translate" [dialog]="dialogRef">
  <div class="wallet-container select-address-theme" *ngFor="let wallet of wallets">
    <div class="title" title="{{ wallet.label }}">{{ wallet.label }}</div>
    <ng-container *ngFor="let address of wallet.addresses">
      <button *ngIf="!wallet.isHardware || address.confirmed" mat-button color="primary" (click)="select(address.address)">
        <div class="address">{{ address.address }}</div>
        <div class="balance">{{ address.coins.toString() | amount:true:'first' }}
          <span class="grey">{{ address.coins.toString() | amount:true:'last' }} | </span>
          {{ address.hours.toString() | amount:false:'first' }}
          <span class="grey">{{ address.hours.toString() | amount:false:'last' }}</span>
        </div>
      </button>
    </ng-container>
  </div>
</app-modal>
