<div class="button-container"
  (mouseenter)="mouseOver = true"
  (mouseleave)="mouseOver = false">
  <button
    mat-button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="disabled && !forceEmitEvents ? true : false"
    [matTooltip]="error ? error : null"
    (click)="this.state !== 0 ? onClick() : null"
    [ngClass]="{ enabled: !disabled }"
    #tooltip="matTooltip">
    <ng-content></ng-content>
    @if (state === 1) {
      <mat-icon>done</mat-icon>
    }
    @if (state === 2) {
      <mat-icon>error</mat-icon>
    }
    @if (state === 0) {
      <mat-spinner [color]="spinnerStyle" class="in-button"></mat-spinner>
    }
  </button>
</div>