/*********************
* General styles for the app.
*********************/
@import 'theme/variables';
@import 'theme/tables';
@import 'theme/_modals';
@import 'theme/fonts';
@import 'theme/forms';
@import 'theme/onboarding';
@import 'theme/buttons';
@import 'theme/text';
@import 'theme/menu';

@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/utilities/_display.scss';
@import "~bootstrap/scss/utilities/_text.scss";
@import "~bootstrap/scss/utilities/_spacing.scss";

@import 'app/app.theme.scss';

body, div, h1, h2, h3, h4, h5, h6, p, span, a, button, option, select,
mat-panel-description, mat-panel-title, mat-option.mat-option {
  font-family: $font-family;
}

// Class for the div which is shown in the background, needed to avoid a problem which makes the
// background color of the <body> element to be shown incorrectly when a modal window is open
// and the content has been scrolled.
.background-fixer {
  background-color: $grey-lightest;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  height: 100%;
}

body {
  background-color: $grey-lightest;
  margin: 0;
  padding: 0;
  height: 100%;
  color: $black;
  font-size: $font-size-standard;
}

.mat-tooltip {
  font-size: 11px !important;
  line-height: 1.3;
}

.mat-select-arrow-wrapper {
  display: none !important;
}

/**
General Helpers
**/

.flex-fill, .-flex-fill {
  flex: 1 1 auto;
}

.link {
  color: $main-color;
  cursor: pointer;
  text-decoration: none;
}

/**
Alerts
 */

.alert-box {
  color: $red;
  font-size: $font-size-standard-minus;
  padding: 0 10px;
  line-height: 1.5;
  background-color: $light-red-background;
  padding: 15px;
  display: flex;
  margin-bottom: 20px;

  .title {
    font-size: $font-size-very-big;
  }

  mat-icon {
    margin-top: 5px;
    margin-right: 10px;
    animation: alert-blinking 1s linear infinite;
  }

  mat-checkbox {
    margin-top: 10px;
    display: inline-block;
  }

  .-check {
    span {
      color: $black !important;
    }
  }
}

@keyframes alert-blinking {
  50% {
    opacity: 0.2;
  }
}

.red {
  color: $red;
}

.red-field {
  border: $red solid 2px !important;
  color: $red !important;
}

.error-tooltip {
  background-color: $red !important;
}

.final-element {
  width: 1px;
  height: 1px;
}
