@import 'theme/variables';
@import 'theme/tables';
@import 'theme/_modals';
@import 'theme/fonts';
@import 'theme/forms';
@import 'theme/onboarding';
@import 'theme/buttons';
@import 'theme/text';
@import 'theme/menu';

@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/utilities/_display.scss';
@import "~bootstrap/scss/utilities/_text.scss";
@import "~bootstrap/scss/utilities/_spacing.scss";

/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/app.theme.scss';

body, div, h1, h2, h3, h4, h5, h6, p, span, a, button, option, select,
mat-panel-description, mat-panel-title, mat-option.mat-option {
  font-family: $font-family;
}

html {
  height: 100%;
}

body {
  background-color: $grey-lightest;
  margin: 0;
  padding: 0;
  height: 100%;
}

mat-spinner.in-button {
  display: inline-block;
  height: 24px !important;
  width: 24px !important;
  margin-left: 10px;

  svg {
    height: 24px !important;
    width: 24px !important;
  }
  
  &.small {
    height: 18px !important;
    width: 18px !important;
  
    svg {
      height: 18px !important;
      width: 18px !important;
    }
  }
}

mat-spinner.in-text {
  display: inline-block;
  height: 12px !important;
  width: 12px !important;
  margin: 0 !important;
  margin-left: 7px !important;

  svg {
    height: 12px !important;
    width: 12px !important;

    circle {
      stroke: $main-color;
    }
  }
}

/**
General Helpers
**/

.flex-fill, .-flex-fill {
  flex: 1 1 auto;
}

/**
Alerts
 */

 .alert-box {
  color: $red;
  font-size: $font-size-standard-minus;
  padding: 0 10px;
  line-height: 1.5;
  background-color: $light-red-background;
  padding: 15px;
  display: flex;
  margin-bottom: 20px;

  .title {
    font-size: $font-size-very-big;
  }

  mat-icon {
    margin-top: 5px;
    margin-right: 10px;
    animation: alert-blinking 1s linear infinite;
  }

  mat-checkbox {
    margin-top: 10px;
    display: inline-block;
  }

  .-check {
    span {
      color: $black !important;
    }
  }
}

@keyframes alert-blinking {
  50% {
    opacity: 0.2;
  }
}

.red {
  color: $red;
}

.link {
  color: $main-color;
  cursor: pointer;
  text-decoration: none;
}

.paper {
  background-color: $white;
  border-radius: $very-rounded-element-border-radius;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  padding: $main-containers-padding;
  margin: $main-containers-margin;
  font-size: $font-size-standard;
  overflow: hidden;

  &.small-padding {
    padding: $main-containers-small-padding;
  }
}
