$white: #FBFBFB;

.size-alert {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  > div {
    margin: 0px 40px;
    max-width: 400px;
  }
}

mat-card {
  max-width: 1000px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  max-height: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar span {
  margin: 0 20px;
}

.search-field {
  border-radius: 8px;
  border: none;
  background-color: #fff;
  padding: 8px;
}

.syncing {
  font-size: 14px;
}

.main-menu button {
  margin-right: 20px;
}

#top-menu {
  span {
    color: $white;

    &#version {
      padding-top: 12px;
    }
  }
}
