@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$mat-skycoin-primary: (
  100: #00C3FF,
  500: #0072FF,
  contrast: (
    100: white,
    500: white,
  )
);

$mat-skycoin-accent: (
  500: #FFC125,
  contrast: (
    500: white
  )
);

$candy-app-primary: mat-palette($mat-skycoin-primary, 500, 100, 500);
$candy-app-accent:  mat-palette($mat-skycoin-accent, 500, 500, 500);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

$mat-select-address-primary: (
  100: #ddd,
  500: #ddd,
  contrast: (
    100: #ddd,
    500: #ddd,
  )
);

$select-address-primary: mat-palette($mat-select-address-primary);
$select-address-theme: mat-light-theme($select-address-primary, $candy-app-accent);

.select-address-theme {
  @include angular-material-theme($select-address-theme);
}

$mat-subtle-primary: (
  100: white,
  500: white,
  contrast: (
    100: white,
    500: white,
  )
);

$mat-subtle-accent: (
  100: #cccccc,
  500: #cccccc,
  contrast: (
    100: #cccccc,
    500: #cccccc,
  )
);

$subtle-primary: mat-palette($mat-subtle-primary);
$subtle-accent: mat-palette($mat-subtle-accent);
$subtle-theme:   mat-light-theme($subtle-primary, $subtle-accent);

.subtle-theme {
  @include angular-material-theme($subtle-theme);
}
