@import 'variables';

.modal {
  display: flex;
  flex-direction: column;
  height: inherit;
  height: 100%;
  width: 100%;

  .-body {
    line-height: 20px;
    font-size: 13px;
    color: $grey-dark;
  }

  .-check-container{
    text-align: center;
    margin-top: 25px;
  }

  .-buttons {
    text-align: center;
  }
  
  app-button {
    button {
      margin-top: 28px;

      @media (max-width: $max-small-width) {
        & {
          margin-top: 12px;
        }
      }
    }
  }
}
