@import '../../../../theme/variables';

.-small-button ::ng-deep button {
  width: unset;
  height: unset;
  padding: 0 10px 0 10px;
  min-width: 100px;
  margin: unset;
  box-shadow: unset;
  background-color: $transparent !important;
  line-height: 1 !important;
  min-height: 26px;

  span {
    color: $black;
    line-height: unset !important;
  }

  .content-container {
    .content {
      font-size: $font-size-standard;
    }
  }
}

.-small-button ::ng-deep button.enabled {
  background-color: $black !important;
  span {
    color: $white;
  }
}

.-buttons-container {
  width: fit-content;
  padding: 5px;
  background: $wizard-double-button-background;
  border-radius: 100px;
  margin: 0px auto;
  font-size: 1px;
}

.light {
  &.-buttons-container {
    background: $internal-double-button-background;
  }

  .-small-button ::ng-deep button.enabled {
    background-color: $white !important;

    span {
      color: $black;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .-buttons-container.navbar.light {
    border-radius: 20px;

    app-button ::ng-deep .button-container {
      display: block;
    }
  }
}

.small {
  &.-buttons-container {
    padding: 2px;
  }

  .-small-button ::ng-deep button {
    min-width: 70px;
    min-height: 16px;

    .content-container {
      .content {
        font-size: $font-size-micro;
      }
    }
  }
}
