<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Next generation of digital money.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/infographics.html">How it works?</a></li>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/downloads.html">Download wallet</a></li>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/whitepapers.html">White papers</a></li>
          <li><a class="grey-text text-lighten-3" href="http://skycoin.net/faq.html">FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Skycoin
    </div>
  </div>
</footer>
