<app-modal [headline]="'wallet.rename.title' | translate" [dialog]="dialogRef">
  <div [formGroup]="form">
    <div class="form-field">
      <label for="label">{{ 'wallet.rename.name-label' | translate }}</label>
      <input formControlName="label" id="label" (keydown.enter)="rename()">
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="closePopup()">
      {{ 'wallet.rename.cancel-button' | translate }}
    </app-button>
    <app-button (action)="rename()" class="primary" [disabled]="!form.valid" #button>
      {{ 'wallet.rename.rename-button' | translate }}
    </app-button>
  </div>
</app-modal>
