@import '../../../../../theme/variables';

mat-form-field {
  width: 100%;
}

.-buttons {
  text-align: center;
}

.info {
  margin: 5px 0 25px;
  color: $grey;
  font-size: 12px;
  line-height: 1.5;
}
