$app-main-color: #0072ff;
$app-gradient-dark: #0072ff;
$app-gradient-light: #00C3ff;

$header-text-color: #fff;
$header-hours-background-color: rgba(255, 255, 255, 0.3);
$header-hours-text-color: #000;
