<mat-dialog-content>
  <div class="x-container">
    <img src="assets/img/close-grey.png" (click)="close(null)">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-container">
          {{ 'title.change-coin' | translate }}
        </div>

        <div class="options-container header-sel-theme">
          <div class="buttons-container">
            @for (coin of coins; track coin) {
              <button mat-button color="accent" class="button" (click)="close(coin)">
                <img [src]="'assets/img/coins/' + coin.bigIconName">
                <div class="label">{{ coin.coinName }} ({{ coin.coinSymbol }})</div>
              </button>
            }
          </div>
        </div>

        @if (!coins || coins.length === 0) {
          <app-loading-content [noDataText]="'change-coin.no-results' | translate" [isLoading]="false"></app-loading-content>
        }

      </div>
    </div>
  </div>
</mat-dialog-content>
